{% load push_notification_filters %}
<tr class="border-t border-solid border-grey-lighter hover:bg-grey-lightest">
    <td>
        <a href="{% url 'edit_push_notification' push_notification_id=push_notification.id region_slug=region.slug language_code=language.code %}" class="block py-3 px-2 text-grey-darkest">
            {{ push_notification|translation:language }}
        </a>
    </td>
    <td>
        {{ push_notification.channel }}
    </td>
	<td>
		<div class="block py-3 px-2 text-grey-darkest">
			<div class="lang-grid">
				{% for other_language in languages %}
				<a href="{% url 'edit_push_notification' push_notification_id=push_notification.id region_slug=region.slug language_code=other_language.code %}">
					<i data-feather="{% if push_notification|translation:other_language %}edit-2{% else %}plus{% endif %}" class="text-grey-darkest"></i>
				</a>
				{% endfor %}
			</div>
		</div>
	</td>
	<td>
		{% if push_notification.sent_date %}
			{{ push_notification.sent_date }}
		{% else %}
			<i data-feather="x" class="text-grey-darkest"></i>
		{% endif %}
	</td>
</tr>
