{% extends "_base.html" %}
{% load i18n %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
        <h2 class="heading font-normal mb-2">{% trans 'Push Notifications' %}</h2>
    </div>
    <div class="flex flex-row flex-wrap flex-grow mt-2">
        <div class="md:w-3/4 p-3">
            <div class="bg-grey-lightest border border-grey rounded shadow">
                <div class="border-b border-grey-dark p-3">
                    <h2 class="text-grey-darkest">{% trans 'Create push notification' %}</h2>
                </div>
                <div class="p-5 bg-white">            
                </div>
            </div>
        </div>
        <div class="md:w-1/4 p-3 pb-0">
            <div class="bg-grey-lightest border border-grey rounded shadow">
                <div class="border-b border-grey-dark p-3">
                    <h2 class="text-grey-darkest">{% trans 'History' %}</h2>
                </div>
                
            </div>
            <div class="bg-grey-lightest border border-grey mt-3 rounded shadow">
                <div class="border-b border-grey-dark p-3">
                    <h2 class="text-grey-darkest">{% trans 'Drafts' %}</h2>
                </div>
                <div class="px-8 pt-6 pb-8">
                    <label>{% trans 'Choose format' %}</label>
                    <button class="mt-4 bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" id="ex" onclick="export_Chart()">{% trans 'Export' %}</button>
                </div>            
            </div>
        </div>
    </div>
</div>
{% endblock %}