{% extends "authentication/_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block heading %}
    {% translate "Reset password" %}
{% endblock heading %}
{% block content %}
    {% if "email" in form.errors %}
        <div class="bg-red-100 border-l-4 border-red-500 text-red-500 px-4 py-3 mb-5"
             role="alert">
            <p>{{ form.errors.email }}</p>
        </div>
    {% endif %}
    <form method="post" class="flex flex-col">
        {% csrf_token %}
        <div class="mb-4">
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            {% translate "Enter your e-mail address here" as email_placeholder %}
            {% render_field form.email|add_error_class:"border-red-500" placeholder=email_placeholder class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-600 leading-tight focus:outline-none focus:shadow-outline" %}
        </div>
        <button class="btn">{% translate "Reset password" %}</button>
    </form>
    <div class="text-right mt-4">
        <a href="{% url 'public:login' %}"
           class="text-gray-600 hover:text-gray-200 hover:bg-gray-600 rounded py-2 px-3 font-bold">
            <i icon-name="arrow-left-circle" class="align-top"></i> {% translate "Back to log in" %}
        </a>
    </div>
{% endblock content %}
