{% extends "authentication/_base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block heading %}
    {% translate "Login" %}
{% endblock heading %}
{% block content %}
    <form method="post" class="flex flex-col">
        {% csrf_token %}
        {% if form.errors %}
            <div class="bg-red-100 border-l-4 border-red-500 text-red-500 px-4 py-3 mb-4"
                 role="alert">
                <p>{{ form.errors.username }}</p>
            </div>
        {% endif %}
        <div class="mb-4">
            <label for="{{ form.username.id_for_label }}">{% translate "Username or email address" %}</label>
            {% blocktrans asvar username_placeholder %}Enter your username or email address here{% endblocktrans %}
            {% render_field form.username|add_error_class:"border-red-500" placeholder=username_placeholder %}
        </div>
        <button class="btn">{% translate "Log in" %}</button>
    </form>
{% endblock content %}
