{% load i18n %}
{% load offer_filters %}

<tr class="border-t border-solid border-gray-200 hover:bg-gray-100">
	<td class="block py-3 pl-4 pr-2 text-gray-800">
		{% if offer_template in region_offer_templates %}
			<b>{{ offer_template.name }}</b>
		{% else %}
			{{ offer_template.name }}
		{% endif %}
	</td>
	<td class="px-2">
		{% if offer_template in region_offer_templates %}
			{{ region.offers|active_since:offer_template }}
		{% else %}
			<i data-feather="x"></i>
		{% endif %}
	</td>
	<td class="px-2">
		{% if offer_template in region_offer_templates %}
			<form method="post" action="{% url 'deactivate_offer' region_slug=region.slug offer_template_slug=offer_template.slug %}">
				{% csrf_token %}
				<input type="submit" class="w-full py-2 px-3 bg-red-500 hover:bg-red-600 text-white rounded cursor-pointer"
					   value="{% trans 'Deactivate' %}" />
			</form>
		{% else %}
			<form method="post" action="{% url 'activate_offer' region_slug=region.slug offer_template_slug=offer_template.slug %}">
				{% csrf_token %}
				<input type="submit" class="w-full py-2 px-3 rounded-sm bg-blue-500 hover:bg-blue-600 text-white rounded cursor-pointer"
					   value="{% trans 'Activate' %}" />
			</form>
		{% endif %}
	</td>
</tr>
