{% load i18n %}
{% load static %}
{% block content %}
    <div class="fixed items-center justify-center overflow-scroll inset-0 bg-opacity-75 bg-gray-800 z-50 cursor-pointer hidden"
         data-tutorial-overlay="page-access-statistics-info">
        <div class="cursor-auto flex flex-col justify-center max-h-fit max-w-5xl w-auto px-10 z-50 m-auto">
            <div class="bg-white opacity-100 content rounded shadow-md w-full">
                <!-- Pop-Up Header -->
                <div class="flex items-center bg-water-500 w-full rounded h-12 pl-6">
                    <h2 class="flex items-center font-semibold leading-normal text-black text-lg">
                        {% translate "Important information about page access" %}
                    </h2>
                </div>
                <!-- Pop-Up Content -->
                <div class="px-7 pt-5 pb-4">
                    <div class="font-bold mb-6">
                        <div class="display:inline mb-2">
                            📴 {% translate "Offline accesses are missing: offline usage is not counted." %}
                        </div>
                        <div class="display:inline mb-2">
                            📅 {% translate "Seasonal peaks: events temporarily lead to more accesses." %}
                        </div>
                        <div class="display:inline mb-2">
                            🔗 {% translate "Context counts: even pages with few hits can be important." %}
                        </div>
                        <div class="display:inline mb-2">
                            🎯 {% translate "Pages relevant to target groups: fewer views, but high relevance for specific target groups." %}
                        </div>
                        <div class="display:inline mb-2">
                            ✅ {% translate "Check for up-to-dateness: outdated content reduces the number of views." %}
                        </div>
                    </div>
                    <div class="mt-6 font-bold">
                        <div class="display:inline mb-2">
                            👉 {% translate "You can find more information about this in the " %}<a href="{% url 'public:wiki_redirect' %}"
   class="text-blue-500 underline">{% translate "Wiki" %}</a>
                        </div>
                    </div>
                    <div class="flex justify-end mr">
                        <button id="close-statistics-popup-button" class="btn">
                            {% translate "Close" %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
