.contact-card {
    display: inline-block;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 0.25rem;
    background-repeat: no-repeat;
    background-color: rgba(127, 127, 127, 0.15);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0 100%), url("../svg/contact.svg");
    background-blend-mode: difference;
    background-position:
        calc(100% + 2em) calc(100% + 0em),
        calc(100% + 1.5em) calc(100% + 1.5em);
    background-size: 6.5em;
    box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.4);
    color: initial;
    text-decoration: initial;
    min-width: 50%;
    white-space: initial;

    p {
        margin: 4px 0 0 0;
    }

    h4 {
        margin: 0 0 12px 0;
    }

    img {
        margin: 0 8px 0 0;
    }
}
