.page-preview {
    ul {
        list-style: disc;
        margin: 10px 0;
        padding-left: 50px;
    }

    ol {
        list-style: decimal;
        margin: 10px 0;
        padding-left: 50px;
    }

    h1 {
        font-size: 2em;
        font-weight: bold;
        margin: 10px 0 10px 0;
    }
    h2 {
        font-size: 1.5em;
        line-height: 1.4;
        font-weight: bold;
        margin: 10px 0 10px 0;
    }
    h3 {
        font-size: 1.17em;
        font-weight: bold;
        margin: 10px 0 10px 0;
    }
    h4,
    h5,
    h6 {
        font-weight: bold;
        margin: 10px 0 10px 0;
    }

    strong {
        margin: 10px 0 10px 0;
    }

    a {
        color: #0000ff;
        text-decoration: underline;
    }

    img {
        display: inline;
    }

    p {
        margin-bottom: 10px;
    }
}
