.page-preview {
    ul {
        list-style: disc;
        margin: 10px 0 10px 0;
        padding-left: 50px;
    }

    h1,
    h2,
    h3,
    h4 {
        font-weight: bold;
        margin: 10px 0 10px 0;
    }

    strong {
        margin: 10px 0 10px 0;
    }

    a {
        color: #0000ff;
        text-decoration: underline;
    }

    img {
        display: inline;
    }

    p {
        margin-bottom: 10px;
    }
}
