.poi-category-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;

    object {
        visibility: hidden;
        background: none;
    }
}
