@import "../fonts/open-sans/open-sans.css";
@import "../fonts/lateef/lateef.css";
@import "../fonts/noto-sans-sc/noto-sans-sc.css";
@import "../fonts/noto-sans-ethiopic/noto-sans-ethiopic.css";

[translate="no"] {
    background-color: rgb(239, 68, 68);
}
