{% load i18n %}
<tr class="border-t border-solid border-gray-200 hover:bg-gray-100">
    <td class="pl-2">
        <a href="{% url 'edit_bed_target_group' bed_target_group_id=bed_target_group.id %}" class="block py-3 px-2 text-gray-800">
            {{ bed_target_group.name }}
        </a>
    </td>
	<td>
        <a href="{% url 'edit_bed_target_group' bed_target_group_id=bed_target_group.id %}" class="block py-3 px-2 text-gray-800">
            {{ bed_target_group.slug }}
        </a>
	</td>
	<td class="pr-2">
        <a href="{% url 'edit_bed_target_group' bed_target_group_id=bed_target_group.id %}" class="block py-3 px-2 text-gray-800">
            {{ bed_target_group.description }}
        </a>
	</td>
    <td class="pl-2 pr-4 flex">
        {% if user.is_superuser or user.is_staff %}
            <button title="{% trans 'Delete Bed Target Group' %}" class="confirmation-button py-3 pl-4" data-bed_target_group-id="{{ bed_target_group.id }}" data-bed_target_group-title="{{ bed_target_group}}" data-action="{% url 'delete_bed_target_group' bed_target_group_id=bed_target_group.id %}" data-confirmation-popup="#confirm-delete-bed_target_group">
                <i data-feather="trash-2" class="text-gray-800"></i>
            </button>
        {% endif %}
    </td>
</tr>