/*
 * Open Sans
 *
 * This font is used for latin alphabets in PDFs.
 * The separate css file is required because the PDF library xhtml2pdf doesn't understand the multiple src syntax for browser compatibility.
 */

/* open-sans-regular - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: url('./open-sans-v18-latin_latin-ext_greek_greek-ext_cyrillic_cyrillic-ext_vietnamese-regular.ttf');
}

/* open-sans-700 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: url('./open-sans-v18-latin_latin-ext_greek_greek-ext_cyrillic_cyrillic-ext_vietnamese-700.ttf');
}
