{% load i18n %}
{% load extra_filters %}

<tr class="border-t border-solid border-grey-lighter hover:bg-grey-lightest">
	<td class="block py-3 px-2 text-grey-darkest">
		{% if extra_template in region_extra_templates %}
			<b>{{ extra_template.name }}</b>
		{% else %}
			{{ extra_template.name }}
		{% endif %}
	</td>
	<td>
		{% if extra_template in region_extra_templates %}
			{{ region.extras|active_since:extra_template }}
		{% else %}
			<i data-feather="x"></i>
		{% endif %}
	</td>
	<td>
		{% if extra_template in region_extra_templates %}
			<a href="{% url 'deactivate_extra' region_slug=region.slug extra_template_slug=extra_template.slug %}" class="inline-block rounded-full py-2 px-4 mx-2 my-1 bg-red text-white">
				{% trans 'Deactivate' %}
			</a>
		{% else %}
			<a href="{% url 'activate_extra' region_slug=region.slug extra_template_slug=extra_template.slug %}" class="inline-block rounded-full py-2 px-4 mx-2 my-1 bg-blue text-white">
				{% trans 'Activate' %}
			</a>
		{% endif %}
	</td>
</tr>
