{% extends "_base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="flex flex-wrap mb-4">
        <div class="w-2/5 flex flex-wrap flex-col justify-center">
            <h2 class="heading font-normal">
                {% if form.initial %}
                    {% with form.name.value as region_name %}
                        {% blocktrans %}Edit region "{{ region_name }}"{% endblocktrans %}
                    {% endwith %}
                {% else %}
                    {% trans 'Create new region' %}
                {% endif %}
            </h2>
        </div>
        <div class="w-3/5 flex justify-end">
            <input type="submit" name="submit" class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-4 rounded" value="{% trans 'Save' %}" />
        </div>
    </div>

    <div class="flex flex-wrap">
        <div class="w-1/2 pr-2">
            {{form.errors}}
            <div class="w-full mb-4 rounded border border-solid border-gray-200 shadow bg-white">
                <div class="w-full p-4 rounded bg-blue-500">
                    <h3 class="heading font-bold text-white">{% trans 'General Settings' %}</h3>
                </div>
                <div class="w-full p-4">

                    <!-- Options related to the region's administrative division -->
                    <label for="administrative_division" class="font-bold block p-2 mb-1 cursor-pointer">{% trans 'Administrative division' %}</label>
                    <div class="relative">
                        {% render_field form.administrative_division id="administrative_division" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-800 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-800">
                            <img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
                        </div>
                    </div>
                    <!-- General Options for region management -->
                    <label for="id_name" class="font-bold block p-2 mb-1 mt-5 cursor-pointer">{% trans "Name of the region" %}</label>
                    {% trans "Enter the region's name here" as name_placeholder%}
                    {% render_field form.name placeholder=name_placeholder class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                    <label for="id_name" class="font-bold block p-2 mb-1 mt-5 cursor-pointer">{% trans "Common Region Identifier" %}</label>
                    {% render_field form.common_id class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                    <label for="id_aliases" class="font-bold block p-2 mt-5 cursor-pointer">{% trans 'Region aliases' %}</label>
                    <label for="id_aliases" class="block px-2 py-1 mb-2 text-s cursor-pointer">{% trans 'Aliases JSON object. If empty, the CMS will try to fill this automatically.' %}</label>
                    {% trans 'Enter region aliases here' as aliases_placeholder%}
                    {% render_field form.aliases placeholder=aliases_placeholder class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}

                    <label for="id_slug" class="block p-2 mb-1 mt-5 font-bold cursor-pointer">{% trans 'Permalink' %}</label>
                    <div class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400">
                        {% trans ' Leave blank to generate unique permalink from title' as slug_placeholder%}
                        {% spaceless %}
                            <div style="display: table; white-space: nowrap;">
                                <span style="display: table-cell;">https://integreat.app/</span>
                                <span style="display: table-cell; width: 100%;">{% render_field form.slug placeholder=slug_placeholder class="w-full rounded" %}</span>
                            </div>
                        {% endspaceless %}
                    </div>

                    <label for="id_admin_mail" class="font-bold block p-2 mb-1 mt-5 cursor-pointer">{% trans 'E-mail-address of the administrator' %}</label>
                    {% trans "Enter the administrator's e-mail-address here" as admin_mail_placeholder%}
                    {% render_field form.admin_mail placeholder=admin_mail_placeholder class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                    
                    <!-- Options related to coordinates for localization -->
                    <label for="id_postal_code" class="font-bold block p-2 mb-1 mt-5 cursor-pointer">{% trans 'Postal code' %}</label>
                    {% trans 'Enter postal code here' as postal_code_placeholder%}
                    {% render_field form.postal_code placeholder=postal_code_placeholder class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                    <label for="id_latitude" class="font-bold block p-2 mb-1 mt-5 cursor-pointer">{% trans 'Latitude' %}</label>
                    {% trans 'Enter latitude here' as latitude_placeholder%}
                    {% render_field form.latitude placeholder=latitude_placeholder class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                    <label for="id_longitude" class="font-bold block p-2 mb-1 mt-5 cursor-pointer">{% trans 'Longitude' %}</label>
                    {% trans 'Enter longitude here' as longitude_placeholder%}
                    {% render_field form.longitude placeholder=longitude_placeholder class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}

                    <!-- Options related to the region icon -->
                    {% if form.icon.value %}
                        {% render_field form.icon icon=form.icon.value.url %}
                    {% else %}
                        {% render_field form.icon %}
                    {% endif %}
                    
                    <!-- Options related to region status -->
                    <label for="id_status" class="block px-2 mb-1 mt-5 font-bold cursor-pointer">{% trans 'Status' %}</label>
                    <div class="relative my-2">
                        {% render_field form.status id="status" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-800 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-800">
                            <img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="w-1/2 pl-2">
        <div class="w-full mb-4 rounded border border-solid border-gray-200 shadow bg-white">
            <div class="w-full p-4 rounded bg-blue-500">
                <h3 class="heading font-bold text-white">{% trans 'Extended Settings' %}</h3>
            </div>
            <div class="w-full p-4">
                <!-- Options related to Events -->
                <div class="py-2 pb-5 border-b solid border-gray-200">
                    <label for="events_enabled" class="font-bold cursor-pointer mr-2">{% trans 'Activate events' %}</label>
                    {% render_field form.events_enabled id="events_enabled" class="" %}
                </div>

                <!-- Options related to Push Notifications -->
                <div class="py-4 border-b solid border-gray-200">
                    <label for="push_notifications_enabled" class="font-bold cursor-pointer mr-2">{% trans 'Activate push notifications' %}</label>
                    {% render_field form.push_notifications_enabled id="push_notifications_enabled" class="" %}
                </div>
                <div class="py-4 border-b solid border-gray-200">
                    <label for="id_push_notification_channels" class="font-bold block mb-2 cursor-pointer">{% trans 'Push notification channels' %}</label>
                    <label for="languages" class="block mb-2 text-s">{% trans 'Enter multiple channels separated by commas.' %}</label>
                    {% trans 'Enter push notification channels here' as push_notification_channels_placeholder%}
                    {% render_field form.push_notification_channels placeholder=push_notification_channels_placeholder class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                </div>
                <!-- Options related to Author chat -->
                <div class="py-2 pb-5 border-b solid border-gray-200">
                    <label for="events_enabled" class="font-bold cursor-pointer mr-2">{% trans 'Activate author chat' %}</label>
                    {% render_field form.chat_enabled id="chat_enabled" class="" %}
                </div>

                <!-- Options related to Tracking -->
                <span class="block mb-2 pt-4 p2-4 text-xl font-bold">{% trans 'Statistics' %}</span>
                <div class="py-4">
                    <label for="statistics_enabled" class="font-bold cursor-pointer mr-2">{% trans 'Activate statistics' %}</label>
                    {% render_field form.statistics_enabled id="statistics_enabled" class="" %}
                </div>
                <div class="py-2">
                    <label for="matomo_ssl_verify" class="font-bold cursor-pointer mr-2">{% trans 'Activate SSL verification for Matomo' %}</label>
                    {% render_field form.matomo_ssl_verify id="matomo_ssl_verify" class="" %}
                </div>
                <div class="py-2">
                    {% trans 'Enter URL for Matomo here' as matomo_url_placeholder%}
                    {% render_field form.matomo_url placeholder=matomo_url_placeholder class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                </div>
                <div class="pt-2 pb-4 border-b solid border-gray-200">
                    {% trans 'Enter token for Matomo here' as matomo_token_placeholder%}
                    {% render_field form.matomo_token placeholder=matomo_token_placeholder class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                </div>

                <!-- Options related to page-instance-specific permissions -->
                <span class="block mb-2 pt-4 p2-4 text-xl font-bold">{% trans 'Page permissions' %}</span>
                <div class="py-2">
                    <label for="page_permissions_enabled" class="font-bold cursor-pointer mr-2">{% trans 'Activate permissions for specific pages' %}</label>
                    {% render_field form.page_permissions_enabled id="page_permissions_enabled" %}
                </div>
                
            </div>
            
        </div>
        {% if not form.instance.id %}
        <div class="w-full mb-4 rounded border border-solid border-gray-200 shadow bg-white">
            <div class="w-full p-4 rounded bg-blue-500">
                <h3 class="heading font-bold text-white">{% trans 'Duplicate content of another region' %}</h3>
            </div>
            <div class="w-full p-4">
                <label for="duplicated_region" class="font-bold">{% trans 'Copy languages, pages and media from another region' %}</label>
                <div class="relative my-4">
                    {% render_field form.duplicated_region id="duplicated_region" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-800 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-800">
                        <img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% if form.instance.id %}
    <div class="pt-2 pb-4">
        <button title="{% trans 'Delete region' %}" class="confirmation-button w-full bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
                data-confirmation-title="{% trans 'Please confirm that you really want to delete this region.' %}"
                data-confirmation-text="{% trans 'This can not be reversed.' %} {% trans 'All pages, events and locations of this region will also be deleted.' %} {% trans 'Users, who only have access to this region, will be removed as well.' %}"
                data-confirmation-subject="{{ form.name.value }}"
                data-action="{% url 'delete_region' region_slug=form.instance.slug %}">
            <i data-feather="trash-2" class="inline-block mr-2"></i>
            {% trans 'Delete this region' %}
        </button>
    </div>
{% endif %}
</div>
</form>

{% include "../generic_confirmation_dialog.html" %}
{% endblock %}

{% block javascript %}
<script src="{% static 'js/confirmation-popups.js' %}"></script>
{% endblock %}
