# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.venv
venv
build
dist
*.egg-info
.eggs
deb_dist
node_modules/
out/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Migrations
src/api/migrations/
src/cms/migrations/

# Compressed JS & CSS Files
src/cms/static/CACHE/
src/cms/static/css/style.min.css
src/cms/static/css/style.css
src/cms/static/css/style.css.map

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/.doctrees/
docs/_sources/
docs/.buildinfo
docs/objects.inv
sphinx/*.rst
!sphinx/index.rst

# Miscellaneous
.vscode
.idea
.directory
cms-django.iml

# Media Library
src/media/

# XLIFF files folder
src/xliffs/

# Postgres folder
.postgres

# Local npm
package-lock.json
