# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.venv
venv
build
dist
*.egg-info
.eggs
deb_dist
node_modules/
out/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Migrations
backend/api/migrations/*
backend/cms/migrations/*

# Compressed JS & CSS Files
backend/cms/static/CACHE/
backend/cms/static/css/style.min.css
backend/cms/static/css/style.css
backend/cms/static/css/style.css.map

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Miscellaneous
.vscode
.idea
.directory
.directory
cms-django.iml

# Media Library
backend/media/*

# XLIFF files folder
**/xliffs/

# Postgres folder
.postgres

# Local npm
package-lock.json
