# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.venv
venv
build
dist
*.egg-info
.eggs
deb_dist
node_modules/
out/
pyproject.toml

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
htmlcov/
.coverage.*
*.cover

# Translations
*.mo

# Migrations
src/api/migrations/
src/cms/migrations/

# Compressed JS & CSS Files
src/cms/static/CACHE/
src/cms/static/css/style.min.css
src/cms/static/css/style.css
src/cms/static/css/style.css.map
src/cms/static/js/revisions_browserified.js

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/
sphinx/ref
sphinx/ref-ext
sphinx/templates/footer.html*
sphinx/templates/breadcrumbs.html*

# Miscellaneous
.vscode
.idea
.directory
cms-django.iml
integreat-cms.iml

# Media Library
src/media/

# XLIFF files folder
src/xliffs/

# Postgres folder
.postgres
