**/.tsbuild/**
**/dist/**
**/htmlcov/**
**/node_modules/**
*.html
*.md
*.config.js
*.json
*.lock
.github/**
.venv/**
build/**
docs/**
.circleci/config.yml
package.json
package-lock.json
webpack-stats.json
