{
    "semi": true,
    "singleQuote": false,
    "arrowParens": "always",
    "printWidth": 120,
    "tabWidth": 4,
    "bracketSameLine": true,
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "endOfLine": "auto",
    "quoteProps": "consistent",
    "trailingComma": "es5"
}
