[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
bumpver = "*"
django-polymorphic = "*"
djlint = "*"
ipython = "*"
packaging = "*"
pre-commit = "*"
pyjwt = "*"
pylint = "*"
pylint-django = "*"
pylint-runner = "*"
pytest-circleci-parallelized = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-testmon = "*"
pytest-xdist = "*"
requests-mock = "*"
shellcheck-py = "*"
sphinx = "*"
sphinx-last-updated-by-git = "*"
sphinx-rtd-theme = ">=1.1.1"
sphinxcontrib-django2 = "*"
twine = "*"

[packages]
integreat-cms = {editable = true, path = "."}

[requires]
python_version = "3.9"
