[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
bumpver = "*"
coverage = "*"
django-coverage-plugin = "*"
django-polymorphic = "*"
ipython = "*"
packaging = "*"
pre-commit = "*"
pyjwt = "*"
pylint = "*"
pylint-django = "*"
pylint-runner = "*"
shellcheck-py = "*"
sphinx = "*"
sphinx-last-updated-by-git = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-django2 = "*"
twine = "*"

[packages]
integreat-cms = {editable = true, path = "."}

[requires]
python_version = "3.9"
