[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "integreat-cms"
description = "Content Management System for the Integreat App"
version = "2023.9.0"
authors = [{name = "Tür an Tür – Digitalfabrik gGmbH", email = "tech@integreat-app.de"}]
readme = "README.md"
requires-python = ">=3.9"
keywords = [
    "integreat",
    "cms",
    "django",
    "e-government",
    "newcomers",
    "refugees",
    "multilingual",
]
license = {text = "Apache2 2.0 License"}
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Web Environment",
    "Framework :: Django",
    "Framework :: Django :: 3.2",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "License :: OSI Approved :: Apache Software License",
    "Natural Language :: English",
    "Natural Language :: German",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Internet :: WWW/HTTP :: Dynamic Content :: Content Management System",
    "Topic :: Internet :: WWW/HTTP :: WSGI :: Application",
]
dependencies = [
    "aiohttp",
    "argon2-cffi",
    "bcrypt",
    "cffi",
    "deepl",
    "Django>=3.2.20,<4.0",
    "django-cacheops",
    "django-cors-headers",
    "django-db-mutex",
    "django-debug-toolbar",
    "django-linkcheck",
    "django-polymorphic",
    "django-redis",
    "django-treebeard",
    "django-webpack-loader",
    "django-widget-tweaks",
    "feedparser",
    "geopy",
    "idna",
    "ipython",
    "jsonschema",
    "lxml",
    "natsort",
    "Pillow",
    "psycopg2-binary",
    "pyotp",
    "python-dateutil",
    "python-magic",
    "pyyaml",
    "qrcode",
    "requests",
    "rules",
    "six",
    "webauthn",
    "xhtml2pdf==0.2.8",
    "reportlab<4.0.0",
]

[project.optional-dependencies]
dev = [
    "black",
    "build",
    "bumpver",
    "djlint",
    "isort",
    "looseversion",
    "pre-commit",
    "pyjwt",
    "pylint",
    "pylint-django",
    "pylint-per-file-ignores",
    "pytest-circleci-parallelized",
    "pytest-cov",
    "pytest-django",
    "pytest-httpserver",
    "pytest-order",
    "pytest-testmon<=1.4.5",
    "pytest-xdist",
    "pytest-icdiff",
    "requests-mock",
    "shellcheck-py",
    "sphinx",
    "sphinxcontrib-django",
    "sphinx-last-updated-by-git",
    "sphinx-rtd-theme",
    "twine",
]
pinned = [
    "aiohttp==3.8.5",
    "aiosignal==1.3.1",
    "arabic-reshaper==3.0.0",
    "argon2-cffi==21.3.0",
    "argon2-cffi-bindings==21.2.0",
    "asgiref==3.7.2",
    "asn1crypto==1.5.1",
    "asttokens==2.2.1",
    "async-timeout==4.0.2",
    "attrs==23.1.0",
    "backcall==0.2.0",
    "bcrypt==4.0.1",
    "cbor2==5.4.6",
    "certifi==2023.5.7",
    "cffi==1.15.1",
    "charset-normalizer==3.2.0",
    "click==8.1.6",
    "cryptography==41.0.2",
    "cssselect2==0.7.0",
    "decorator==5.1.1",
    "deepl==1.15.0",
    "Django==3.2.20",
    "django-cacheops==7.0.1",
    "django-cors-headers==4.2.0",
    "django-db-mutex==3.1.0",
    "django-debug-toolbar==4.1.0",
    "django-linkcheck==2.2.1",
    "django-polymorphic==3.1.0",
    "django-redis==5.3.0",
    "django-treebeard==4.7",
    "django-webpack-loader==2.0.1",
    "django-widget-tweaks==1.4.12",
    "executing==1.2.0",
    "feedparser==6.0.10",
    "frozenlist==1.4.0",
    "funcy==1.18",
    "geographiclib==2.0",
    "geopy==2.3.0",
    "html5lib==1.1",
    "idna==3.4",
    "ipython==8.14.0",
    "jedi==0.18.2",
    "jsonschema==4.18.4",
    "jsonschema-specifications==2023.7.1",
    "lxml==4.9.3",
    "matplotlib-inline==0.1.6",
    "multidict==6.0.4",
    "natsort==8.4.0",
    "oscrypto==1.3.0",
    "parso==0.8.3",
    "pexpect==4.8.0",
    "pickleshare==0.7.5",
    "Pillow==10.0.0",
    "prompt-toolkit==3.0.39",
    "psycopg2-binary==2.9.6",
    "ptyprocess==0.7.0",
    "pure-eval==0.2.2",
    "pycparser==2.21",
    "pydantic==1.10.11",
    "Pygments==2.15.1",
    "pyHanko==0.19.0",
    "pyhanko-certvalidator==0.23.0",
    "pyOpenSSL==23.2.0",
    "pyotp==2.8.0",
    "PyPDF3==1.0.6",
    "pypng==0.20220715.0",
    "python-bidi==0.4.2",
    "python-dateutil==2.8.2",
    "python-magic==0.4.27",
    "pytz==2023.3",
    "PyYAML==6.0.1",
    "qrcode==7.4.2",
    "redis==4.6.0",
    "referencing==0.30.0",
    "reportlab==3.6.13",
    "requests==2.31.0",
    "rpds-py==0.9.2",
    "rules==3.3",
    "sgmllib3k==1.0.0",
    "six==1.16.0",
    "sqlparse==0.4.4",
    "stack-data==0.6.2",
    "svglib==1.5.1",
    "tinycss2==1.2.1",
    "tqdm==4.65.0",
    "traitlets==5.9.0",
    "typing_extensions==4.7.1",
    "tzlocal==5.0.1",
    "uritools==4.0.1",
    "urllib3==2.0.4",
    "wcwidth==0.2.6",
    "webauthn==1.9.0",
    "webencodings==0.5.1",
    "xhtml2pdf==0.2.8",
    "yarl==1.9.2",
]
dev-pinned = [
    "alabaster==0.7.13",
    "astroid==2.15.6",
    "Babel==2.12.1",
    "black==23.7.0",
    "bleach==6.0.0",
    "build==0.10.0",
    "bumpver==2023.1125",
    "cfgv==3.3.1",
    "colorama==0.4.6",
    "coverage==7.2.7",
    "cssbeautifier==1.14.9",
    "dill==0.3.6",
    "distlib==0.3.7",
    "djlint==1.32.1",
    "docutils==0.18.1",
    "EditorConfig==0.12.3",
    "execnet==2.0.2",
    "filelock==3.12.2",
    "html-tag-names==0.1.2",
    "html-void-elements==0.1.0",
    "icdiff==2.0.6",
    "identify==2.5.25",
    "imagesize==1.4.1",
    "importlib-metadata==6.8.0",
    "iniconfig==2.0.0",
    "isort==5.12.0",
    "jaraco.classes==3.3.0",
    "jeepney==0.8.0",
    "Jinja2==3.1.2",
    "jsbeautifier==1.14.9",
    "json5==0.9.14",
    "keyring==24.2.0",
    "lazy-object-proxy==1.9.0",
    "lexid==2021.1006",
    "looseversion==1.3.0",
    "markdown-it-py==3.0.0",
    "MarkupSafe==2.1.3",
    "mccabe==0.7.0",
    "mdurl==0.1.2",
    "more-itertools==9.1.0",
    "mypy-extensions==1.0.0",
    "nodeenv==1.8.0",
    "packaging==23.1",
    "pathlib2==2.3.7.post1",
    "pathspec==0.11.1",
    "pkginfo==1.9.6",
    "platformdirs==3.9.1",
    "pluggy==1.2.0",
    "pprintpp==0.4.0",
    "pre-commit==3.3.3",
    "PyJWT==2.8.0",
    "pylint==2.17.4",
    "pylint-django==2.5.3",
    "pylint-per-file-ignores==1.2.1",
    "pylint-plugin-utils==0.8.2",
    "pyproject_hooks==1.0.0",
    "pytest==7.4.0",
    "pytest-circleci-parallelized==0.1.0",
    "pytest-cov==4.1.0",
    "pytest-django==4.5.2",
    "pytest-httpserver==1.0.8",
    "pytest-icdiff==0.6",
    "pytest-order==1.1.0",
    "pytest-testmon==1.4.5",
    "pytest-xdist==3.3.1",
    "readme-renderer==40.0",
    "regex==2023.6.3",
    "requests-mock==1.11.0",
    "requests-toolbelt==1.0.0",
    "rfc3986==2.0.0",
    "rich==13.4.2",
    "SecretStorage==3.3.3",
    "shellcheck-py==0.9.0.5",
    "snowballstemmer==2.2.0",
    "Sphinx==6.2.1",
    "sphinxcontrib-applehelp==1.0.4",
    "sphinxcontrib-devhelp==1.0.2",
    "sphinxcontrib-django==2.4",
    "sphinxcontrib-htmlhelp==2.0.1",
    "sphinxcontrib-jquery==4.1",
    "sphinxcontrib-jsmath==1.0.1",
    "sphinxcontrib-qthelp==1.0.3",
    "sphinxcontrib-serializinghtml==1.1.5",
    "sphinx-last-updated-by-git==0.3.5",
    "sphinx-rtd-theme==1.2.2",
    "toml==0.10.2",
    "tomlkit==0.11.8",
    "twine==4.0.2",
    "virtualenv==20.24.1",
    "Werkzeug==2.3.6",
    "wrapt==1.15.0",
    "zipp==3.16.2",
]

[project.urls]
"Homepage" = "https://integreat-app.de/en/"
"Source Code" = "https://github.com/digitalfabrik/integreat-cms"
"Issues" = "https://github.com/digitalfabrik/integreat-cms/issues"
"Release Notes" = "https://digitalfabrik.github.io/integreat-cms/release-notes.html"
"Documentation" = "https://digitalfabrik.github.io/integreat-cms/"
"Funding" = "https://integreat-app.de/en/donation/"

[tool.setuptools]
script-files = ["integreat_cms/integreat-cms-cli"]
license-files = ["LICENSE.txt"]

[tool.setuptools.packages.find]
include = ["integreat_cms*"]

[tool.bumpver]
current_version = "2023.9.0"
version_pattern = "YYYY.MM.INC0[-TAG]"
commit_message = """
Bump version to {new_version}

[skip ci]
"""
commit = true
tag = false
push = false

[tool.bumpver.file_patterns]
"pyproject.toml" = [
    'current_version = "{version}"',
    'version = "{version}"',
]
"integreat_cms/__init__.py" = [
    '__version__ = "{version}"',
]
"docs/src/conf.py" = [
    'release = "{version}"',
]

[tool.djlint]
profile="django"
line_break_after_multiline_tag=true

[tool.isort]
profile = "black"
order_by_type = false

[tool.pylint.main]
jobs = 0
load-plugins = [
    "pylint_django",
    "pylint_per_file_ignores",
    "pylint.extensions.code_style",
    "pylint.extensions.comparetozero",
    "pylint.extensions.comparison_placement",
    "pylint.extensions.consider_ternary_expression",
    "pylint.extensions.docparams",
    "pylint.extensions.emptystring",
    "pylint.extensions.for_any_all",
]
enable = [
    "consider-using-augmented-assign",
]
disable = [
    "consider-using-namedtuple-or-dataclass",
    "consider-using-tuple",
]
recursive = true
ignore-paths = [
  ".venv",
  "node_modules",
  "build",
]
fail-on = "I"
extension-pkg-whitelist = ["lxml"]
django-settings-module="integreat_cms.core.settings"

[tool.pylint.design]
max-args = 7
max-attributes = 7
max-branches = 12
max-locals = 15
max-parents = 7

[tool.pylint.messages_control]
disable = [
    "invalid-name",
    "line-too-long",
    "too-many-lines",
    "missing-module-docstring",
    "no-member",
    "unsupported-binary-operation",
]
enable = [
    "useless-suppression"
]

[tool.pylint.reports]
output-format = "colorized"

[tool.pylint-per-file-ignores]
"/tests/"="unused-argument,missing-function-docstring"
