{% extends "_base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load rules %}
{% load render_bundle from webpack_loader %}
{% block content %}
    <form method="post" id="content_form" data-unsaved-warning>
        <div>
            <h1 class="heading">
                {% with source_language=source_imprint_translation.language.translated_name target_language_name=target_language.translated_name %}
                    {% blocktrans %}Translate the imprint from {{ source_language }} to {{ target_language_name }}{% endblocktrans %}
                {% endwith %}
            </h1>
            <div class="flex flex-wrap grow justify-between gap-2 mb-4">
                <a href="{% url 'edit_imprint' region_slug=request.region.slug language_slug=target_language.slug %}"
                   class="bg-gray-400 hover:bg-gray-500 text-center cursor-pointer text-white font-bold py-3 px-4 rounded">
                    <i data-feather="arrow-left-circle" class="align-top"></i> {% trans 'Back to the imprint form' %}
                </a>
                {% if perms.cms.change_imprintpage %}
                    <div class="flex flex-wrap gap-2">
                        <button name="submit_draft" class="btn btn-gray">{% trans 'Save as draft' %}</button>
                        <button name="submit_public" class="btn">
                            {% if imprint_translation_form.instance.status == PUBLIC %}
                                {% trans 'Update' %}
                            {% else %}
                                {% trans 'Publish' %}
                            {% endif %}
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="grid grid-cols-2 gap-4">
                <div class="border border-blue-500 rounded shadow-2xl bg-white">
                    <div class="rounded p-4 bg-water-500 font-bold">
                        {% if source_imprint_translation.is_outdated %}
                            <span title="{% trans 'Translation outdated' %}">
                                <i data-feather="alert-triangle"></i>
                            </span>
                        {% elif source_imprint_translation.currently_in_translation %}
                            <span title="{% trans 'Currently in translation' %}">
                                <i data-feather="clock"></i>
                            </span>
                        {% else %}
                            <span title="{% trans 'Translation up-to-date' %}">
                                <i data-feather="check"></i>
                            </span>
                        {% endif %}
                        {{ source_imprint_translation.language.translated_name }}
                    </div>
                    <div class="px-4 pb-4 rounded">
                        <label class="inline-block">{% trans 'Version' %}:</label>
                        {{ source_imprint_translation.version }}
                        <br>
                        <label class="inline-block">{% trans 'Status' %}:</label>
                        {{ source_imprint_translation.get_status_display }}
                        <br>
                        <label class="inline-block">{% trans 'Link to the imprint' %}:</label>
                        <a href="{{ WEBAPP_URL }}/{{ request.region.slug }}/{{ source_imprint_translation.language.slug }}/{{ IMPRINT_SLUG }}"
                           target="_blank"
                           rel="noopener noreferrer"
                           class="text-blue-600 hover:underline">{{ WEBAPP_URL }}/{{ request.region.slug }}/{{ source_imprint_translation.language.slug }}/{{ IMPRINT_SLUG }}</a>
                        <a href="#"
                           data-copy-to-clipboard="{{ WEBAPP_URL }}/{{ request.region.slug }}/{{ source_imprint_translation.language.slug }}/{{ IMPRINT_SLUG }}"
                           title="{% trans 'Copy to clipboard' %}"
                           class="px-2 text-gray-800 hover:text-blue-600">
                            <i data-feather="copy"></i>
                        </a>
                        <br>
                        <label>{{ imprint_translation_form.title.label }}</label>
                        <input id="source_translation_title"
                               type="text"
                               value="{{ source_imprint_translation.title }}"
                               disabled>
                        <div class="mt-4">
                            <label class="block mt-4 font-bold">{{ imprint_translation_form.content.label }}</label>
                            <textarea id="source_translation_tinymce" cols="40" rows="10" class="tinymce_textarea bg-gray-200 w-full p-2" disabled>{{ source_imprint_translation.content }}</textarea>
                        </div>
                        <span class="block font-bold mt-4 mb-4">{% trans 'Copy content' %}</span>
                        <button id="copy-translation-content"
                                title="{% trans 'Copy content' %}"
                                class="btn w-full">
                            {% with source_language=source_imprint_translation.language.translated_name target_language_name=target_language.translated_name %}
                                {% blocktrans %}Copy content of {{ source_language }} to {{ target_language_name }}{% endblocktrans %}
                            {% endwith %}
                            <i data-feather="arrow-right-circle" class="mr-2"></i>
                        </button>
                    </div>
                </div>
                <div class="border border-blue-500 rounded shadow-2xl bg-white">
                    <div class="rounded p-4 bg-water-500 font-bold">
                        {% if imprint_translation_form.instance.id %}
                            {% if imprint_translation_form.instance.is_outdated %}
                                <span title="{% trans 'Translation outdated' %}">
                                    <i data-feather="alert-triangle"></i>
                                </span>
                            {% elif imprint_translation_form.instance.currently_in_translation %}
                                <span title="{% trans 'Currently in translation' %}">
                                    <i data-feather="clock"></i>
                                </span>
                            {% else %}
                                <span title="{% trans 'Translation up-to-date' %}">
                                    <i data-feather="check"></i>
                                </span>
                            {% endif %}
                        {% else %}
                            <span title="{% trans 'Create Translation' %}">
                                <i data-feather="plus"></i>
                            </span>
                        {% endif %}
                        {{ target_language.translated_name }}
                    </div>
                    <div class="px-4 pb-4 rounded">
                        {% csrf_token %}
                        {% if imprint_translation_form.instance.id %}
                            <label class="inline-block">{% trans 'Version' %}:</label>
                            {{ imprint_translation_form.instance.version }}
                            <br>
                            <label class="inline-block">{% trans 'Status' %}:</label>
                            {{ imprint_translation_form.instance.get_status_display }}
                            <br>
                            <label class="inline-block">{% trans 'Link to the imprint' %}:</label>
                            <a href="{{ WEBAPP_URL }}/{{ request.region.slug }}/{{ target_language.slug }}/{{ IMPRINT_SLUG }}"
                               target="_blank"
                               rel="noopener noreferrer"
                               class="text-blue-600 hover:underline">{{ WEBAPP_URL }}/{{ request.region.slug }}/{{ target_language.slug }}/{{ IMPRINT_SLUG }}</a>
                            <a href="#"
                               data-copy-to-clipboard="{{ WEBAPP_URL }}/{{ request.region.slug }}/{{ target_language.slug }}/{{ IMPRINT_SLUG }}"
                               title="{% trans 'Copy to clipboard' %}"
                               class="px-2 text-gray-800 hover:text-blue-600">
                                <i data-feather="copy"></i>
                            </a>
                            <br>
                        {% else %}
                            <label class="inline-block">{% trans 'Version' %}:</label>
                            {% trans 'New' %}
                            <br>
                            <label class="inline-block">{% trans 'Status' %}:</label>
                            {% trans 'Not saved yet' %}
                            <br>
                            <label class="inline-block">{% trans 'Link to the imprint' %}:</label>
                            {% trans 'Not saved yet' %}
                            <br>
                        {% endif %}
                        <label for="{{ imprint_translation_form.title.id_for_label }}">{{ imprint_translation_form.title.label }}</label>
                        {% render_field imprint_translation_form.title|add_error_class:"border-red-500" id="target_translation_title" %}
                        <label for="{{ imprint_translation_form.content.id_for_label }}">{{ imprint_translation_form.content.label }}</label>
                        {% render_field imprint_translation_form.content|add_error_class:"border-red-500" id="target_translation_tinymce" class="tinymce_textarea" %}
                        <label>{% trans 'Implications on other translations' %}</label>
                        {% render_field imprint_translation_form.minor_edit %}
                        <label for="{{ imprint_translation_form.minor_edit.id_for_label }}"
                               class="secondary">
                            {{ imprint_translation_form.minor_edit.label }}
                        </label>
                        <div class="help-text">{{ imprint_translation_form.minor_edit.help_text }}</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% if not perms.cms.change_imprintpage %}
        {% include '../_tinymce_config.html' with readonly=1 language=target_language %}
    {% else %}
        {% include '../_tinymce_config.html' with language=target_language %}
    {% endif %}
{% endblock %}
{% block javascript %}
    {% render_bundle 'editor' 'js' %}
{% endblock %}
