{% load i18n %}
<!-- generic confirmation popup for deleting bed_target_groups -->
<div id="confirm-delete-bed_target_group" class="confirmation-popup flex-col justify-center max-w-sm fixed pin-t pin-b pin-r pin-l hidden">
    <div class="content bg-grey-light w-full p-4 shadow-md rounded">
        <h2>{% trans 'Please confirm that you really want to delete this Bed Target Group' %}</h2>
        <h3 class="bed_target_group-title text-center mt-4 mb-6"></h3>
        <form method="post" action="#">
            {% csrf_token %}
            <input type="submit" class="w-full mb-2 inline-block cursor-pointer bg-blue hover:bg-blue-dark text-white font-bold py-3 px-4 rounded" value="{% trans 'Yes, delete this Bed Target Group now.' %}" />
            <button class="w-full cursor-pointer bg-red hover:bg-red-dark text-white font-bold py-3 px-4 rounded">
                {% trans 'Cancel' %}
            </button>
        </form>
    </div>
</div>
<!------------------------>
