asn1crypto==0.24.0
cryptography==2.1.4
Django==1.11.11
idna==2.6
keyring==10.6.0
keyrings.alt==3.0
psycopg2==2.7.5
pycrypto==2.6.1
pygobject==3.26.1
pytz==2018.3
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
sqlparse==0.2.4
