{% extends "_raw.html" %}
{% load i18n %}
{% block raw_content %}
{% load static %}
<div id="popup-overlay" class="fixed pin-t pin-b pin-r pin-l opacity-75 bg-grey-darkest hidden"></div>

<header class="fixed pin-t pin-x flex flex-wrap">
    <div id="search" class="flex-1 relative">
        <form>
            <i data-feather="search" class="absolute text-grey-darker"></i>
            <input type="search" placeholder="{% trans 'Search' %}..." class="w-full pl-12 pr-6">
        </form>
    </div>
    <div id="instance-selector" class="relative flex flex-wrap flex-col justify-center px-3 cursor-pointer text-grey-darkest">
        <div class="flex flex-wrap">
	        {% if site %}
		        <div style="padding-top: 8px;">
			        <i data-feather="home"></i>
		        </div>
	            <div class="ml-2" style="padding-top: 10px;">
		            {{ site.name }}
	            </div>
	        {% else %}
		        <div style="padding-top: 8px;">
			        <i data-feather="grid"></i>
		        </div>
		        <div class="ml-2" style="padding-top: 10px;">
			        {% trans 'Network Management' %}
		        </div>
	        {% endif %}
        </div>
        <div id="instance-selector-list" class="absolute shadow rounded-b">
	        {% for other_region in user.profile.regions.all %}
		        {% if not other_region == site %}
		            <a href="{% url 'dashboard' site_slug=other_region.slug %}" class="block px-4 py-3 text-grey-darkest hover:bg-grey">
		                {{ other_region.name }}
		            </a>
		        {% endif %}
	        {% endfor %}
	        {% if user.is_superuser or user.is_staff %}
		        {% if site %}
			        <a href="{% url 'admin_dashboard' %}" class="block px-4 py-3 text-grey-darkest hover:bg-grey rounded-b">
				        {% trans 'Network Management' %}
			        </a>
		        {% endif %}
	        {% endif %}
        </div>
    </div>
    <div id="language-selector" class="relative flex flex-wrap flex-col justify-center px-4 cursor-pointer text-grey-darkest">
        {% get_current_language as LANGUAGE_CODE %}
        <div class="flex flex-wrap">
            <div style="padding-top:5px;">
                <img src="{% static '' %}/images/flags/{{ LANGUAGE_CODE }}.png" title="{{ LANGUAGE_CODE|language_name_local }}" />
            </div>
            <span class="mt-1 ml-2">
	                {{ LANGUAGE_CODE|language_name_local }}
	            </span>
        </div>
        <div id="language-selector-list" class="absolute shadow rounded-b">
            {% get_available_languages as LANGUAGES %}
            {% for language_code, language_name in LANGUAGES %}
                {% if language_code != LANGUAGE_CODE %}
                    <form id="i18n-{{ language_code }}" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" />
                        <input name="language" type="hidden" value="{{ language_code }}" />
                        <a href="#" onclick="document.forms['i18n-{{ language_code }}'].submit();" class="block px-4 py-3 text-grey-darkest hover:bg-grey rounded-b">
                            {{ language_code|language_name_local }}
                        </a>
                    </form>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="user-info" class="relative pl-2 pr-6 text-grey-darkest flex flex-wrap flex-col justify-center cursor-pointer">
        <span class="relative block pr-6">
	        {% if request.user.first_name or request.user.last_name %}
                {{ request.user.first_name }} {{ request.user.last_name }}
	        {% else %}
		        {{ request.user.username }}
	        {% endif %}
            <i data-feather="chevron-down" class="absolute pin-t pin-r"></i>
        </span>
        <div id="user-menu" class="absolute shadow rounded-b" style="left: -120px;">
            <a href="/" class="relative block pl-10 pr-4 py-3 text-grey-darkest hover:bg-grey">
                <i data-feather="help-circle" class="absolute"></i>
	            {% trans 'Help' %}
            </a>
            <a href="/" class="relative block pl-10 pr-4 py-3 text-grey-darkest hover:bg-grey">
                <i data-feather="message-square" class="absolute"></i>
	            {% trans 'Author Chat' %}
            </a>
            <a href="/admin" class="break-words relative block pl-10 pr-4 py-3 text-grey-darkest hover:bg-grey">
                <i data-feather="grid" class="absolute"></i>
	            {% trans 'Django Administration' %}
            </a>
            <a href="{% url 'logout' %}" class="relative block pl-10 pr-4 py-3 text-grey-darkest hover:bg-grey rounded-b">
                <i data-feather="log-out" class="absolute text-red"></i>
	            {% trans 'Log out' %}
            </a>
        </div>
    </div>
</header>
<nav id="primary-navigation" class="fixed pin-l pin-y">
    <div id="logo" class="w-full text-center p-2">
        <img src="{% static 'images/integreat-logo-white.png' %}" alt="{% trans 'Integreat Logo' %}" class="max-w-full" />
    </div>
    <div id="menu" class="pb-2">
	    {% if site %}
	        <a href="{% url 'dashboard' site_slug=site.slug %}" class="relative block text-grey-light hover:text-grey-darker hover:bg-integreat {% if current_menu_item == 'region_dashboard' %}active{% endif %}">
	            <i data-feather="grid" class="absolute"></i>
		        {% trans 'My Dashboard' %}
	        </a>
			<a href="{% url 'translation_coverage' site_slug=site.slug %}" class="relative block text-grey-light hover:text-grey-darker hover:bg-integreat {% if current_menu_item == 'translation_coverage' %}active{% endif %}">
	            <i data-feather="pie-chart" class="absolute"></i>
		        {% trans 'Translation Report' %}
	        </a>
	        <a href="{% url 'statistics' site_slug=site.slug %}" class="relative block text-grey-light hover:text-grey-darker hover:bg-integreat {% if current_menu_item == 'statistics' %}active{% endif %}">
	            <i data-feather="bar-chart" class="absolute"></i>
		        {% trans 'Statistics' %}
	        </a>
			<a href="{% url 'media' site_slug=site.slug %}" class="relative block text-grey-light hover:text-grey-darker hover:bg-integreat {% if current_menu_item == 'media' %}active{% endif %}">
	            <i data-feather='file' class="absolute"></i>
		        {% trans 'Media Library' %}
	        </a>
	        <a href="{% url 'pages' site_slug=site.slug %}" class="relative block text-grey-light hover:text-grey-darker hover:bg-integreat {% if current_menu_item == 'pages' %}active{% endif %}">
	            <i data-feather="layout" class="absolute"></i>
		        {% trans 'Pages' %}
	        </a>
	        <a href="" class="relative block text-grey-light hover:text-grey-darker hover:bg-integreat {% if current_menu_item == 'events' %}active{% endif %}">
	            <i data-feather="calendar" class="absolute"></i>
		        {% trans 'Events' %}
	        </a>
	        <a href="{% url 'region_users' site_slug=site.slug %}" class="relative block text-grey-light hover:text-grey-darker hover:bg-integreat {% if current_menu_item == 'region_users' %}active{% endif %}">
	            <i data-feather="users" class="absolute"></i>
		        {% trans 'Users' %}
	        </a>
	        <a href="" class="relative block text-grey-light hover:text-grey-darker hover:bg-integreat {% if current_menu_item == 'region_feedback' %}active{% endif %}">
	            <i data-feather="thumbs-up" class="absolute"></i>
		        {% trans 'Feedback' %}
	        </a>
	        <a href="{% url 'push_notifications' site_slug=site.slug %}" class="relative block text-grey-light hover:text-grey-darker hover:bg-integreat {% if current_menu_item == 'push_notifications' %}active{% endif %}">
	            <i data-feather="send" class="absolute"></i>
		        {% trans 'Push Notifications' %}
	        </a>
	        <a href="" class="relative block text-grey-light hover:text-grey-darker hover:bg-integreat {% if current_menu_item == 'pdf_export' %}active{% endif %}">
	            <i data-feather="layers" class="absolute"></i>
		        {% trans 'PDF Export' %}
	        </a>
	        <a href="" class="relative block text-grey-light hover:text-grey-darker hover:bg-integreat {% if current_menu_item == 'imprint' %}active{% endif %}">
	            <i data-feather="file-text" class="absolute"></i>
		        {% trans 'Imprint' %}
	        </a>
		    <a href="{% url 'language_tree' site_slug=site.slug %}" class="relative block text-grey-light hover:text-grey-darker hover:bg-integreat {% if current_menu_item == 'language_tree' %}active{% endif %}">
			    <i data-feather="flag" class="absolute"></i>
			    {% trans 'Language tree' %}
		    </a>
	        <a href="{% url 'settings' site_slug=site.slug %}" class="relative block text-grey-light hover:text-grey-darker hover:bg-integreat {% if current_menu_item == 'region_settings' %}active{% endif %}">
	            <i data-feather="sliders" class="absolute"></i>
		        {% trans 'Settings' %}
	        </a>
	    {% else %}
		    <a href="{% url 'admin_dashboard' %}" class="relative block text-grey-light hover:text-grey-darker hover:bg-integreat {% if current_menu_item == 'admin_dashboard' %}active{% endif %}">
			    <i data-feather="grid" class="absolute"></i>
			    {% trans 'Admin Dashboard' %}
		    </a>
		    <a href="{% url 'regions' %}" class="relative block text-grey-light hover:text-grey-darker hover:bg-integreat {% if current_menu_item == 'regions' %}active{% endif %}">
			    <i data-feather="map" class="absolute"></i>
			    {% trans 'Regions' %}
		    </a>
		    <a href="{% url 'languages' %}" class="relative block text-grey-light hover:text-grey-darker hover:bg-integreat {% if current_menu_item == 'languages' %}active{% endif %}">
			    <i data-feather="flag" class="absolute"></i>
			    {% trans 'Languages' %}
		    </a>
	    <a href="{% url 'users' %}" class="relative block text-grey-light hover:text-grey-darker hover:bg-integreat {% if current_menu_item == 'users' %}active{% endif %}">
		    <i data-feather="users" class="absolute"></i>
		    {% trans 'Users' %}
	    </a>
	    <a href="{% url 'roles' %}" class="relative block text-grey-light hover:text-grey-darker hover:bg-integreat {% if current_menu_item == 'roles' %}active{% endif %}">
		    <i data-feather="key" class="absolute"></i>
		    {% trans 'Roles' %}
	    </a>
            <a href="{% url 'organizations' %}" class="relative block text-grey-light hover:text-grey-darker hover:bg-integreat {% if current_menu_item == 'organizations' %}active{% endif %}">
                <i data-feather="umbrella" class="absolute"></i>
                {% trans 'Organizations' %}
            </a>
		    <a href="" class="relative block text-grey-light hover:text-grey-darker hover:bg-integreat {% if current_menu_item == 'admin_feedback' %}active{% endif %}">
			    <i data-feather="thumbs-up" class="absolute"></i>
			    {% trans 'Feedback' %}
		    </a>
		    <a href="{% url 'admin_settings' %}" class="relative block text-grey-light hover:text-grey-darker hover:bg-integreat {% if current_menu_item == 'admin_settings' %}active{% endif %}">
			    <i data-feather="sliders" class="absolute"></i>
			    {% trans 'Settings' %}
		    </a>
        {% endif %}
    </div>
</nav>
<main class="relative">
    <div class="p-6">
        {% include "messages.html" %}   
        {% block content %}{% endblock content %}
    </div>
</main>
{% endblock %}