{% load static %}
{% load i18n %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no" />
    <title>{% trans 'Integreat Backend' %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    {% compress css %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/upload_form.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/tailwind.min.css' %}" rel="stylesheet">
    {% endcompress %}
    {% compress js %}
    <script src="{% static 'umbrellajs/umbrella.js' %}"></script>
    <script src="{% static 'feather-icons/dist/feather.js' %}"></script>
    {% endcompress %}
</head>
<body>
    {% block raw_content %}{% endblock raw_content %}
    <script>
        feather.replace()
    </script>
    {% block javascript %}{% endblock %}

</body>
</html>