{% if messages %}
<div class="mb-8">
    {% for msg in messages %}
        {% if msg.level_tag == 'info' %}
        <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-500 px-4 py-3 mb-5" role="alert">
                <p>{{msg.message}}</p>
            </div>
        {% endif %}
        {% if msg.level_tag == 'success' %}
            <div class="bg-green-100 border-l-4 border-green-500text-green-500 px-4 py-3 mb-5" role="alert">
                <p>{{msg.message}}</p>
            </div>
        {% endif %}
        {% if msg.level_tag == 'warning' %}
            <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-500 px-4 py-3 mb-5" role="alert">
                <p>{{msg.message}}</p>
            </div>
        {% endif %}
        {% if msg.level_tag == 'error' %}
            <div class="bg-red-500 border-l-4 border-red text-red-500 px-4 py-3 mb-5" role="alert">
                <p>{{msg.message}}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}