{% extends "../_todo_dashboard_row.html" %}
{% load i18n %}
{% block todo_dashboard_ajax_url %}
    {{ broken_link_ajax }}
{% endblock todo_dashboard_ajax_url %}
{% block todo_dashboard_id %}
    broken-links
{% endblock todo_dashboard_id %}
{% block todo_dashboard_icon %}
    link
{% endblock todo_dashboard_icon %}
{% block todo_dashboard_title_link %}
    {% url 'linkcheck' region_slug=request.region.slug url_filter='invalid' %}
{% endblock todo_dashboard_title_link %}
{% block todo_dashboard_title %}
    {% translate "Broken links" %}
{% endblock todo_dashboard_title %}
{% block todo_dashboard_number %}
    {% with total="?" %}
        {{ block.super }}
    {% endwith %}
{% endblock todo_dashboard_number %}
{% block todo_dashboard_description %}
    <div class="hidden todo-message">
        {# djlint:off #}
        {% blocktranslate trimmed %}
            The page <b></b> has a broken link. Please replace it by a functional link.
        {% endblocktranslate %}
        {# djlint:on #}
    </div>
    <div class="hidden success-message">
        {% blocktranslate trimmed %}
            At the moment there are no broken links. Good job!
        {% endblocktranslate %}
    </div>
    <div class="waiting-message">
        {% blocktranslate trimmed %}
            We are loading your broken links in the background. Please be patient.
        {% endblocktranslate %}
    </div>
{% endblock todo_dashboard_description %}
{% block todo_dashboard_button_link %}
    <div class="hidden todo-button">
        <a class="btn !rounded-full" href="">
            {% translate "Go to link" %}
        </a>
    </div>
    <div class="hidden success-icon">
        <i class="w-8 h-8 text-green-500" icon-name="check-circle-2"></i>
    </div>
{% endblock todo_dashboard_button_link %}
