{% extends "../_todo_dashboard_row.html" %}
{% load i18n %}
{% block todo_dashboard_ajax_url %}
    {{ translation_coverage_ajax }}
{% endblock todo_dashboard_ajax_url %}
{% block todo_dashboard_id %}
    translation-coverage
{% endblock todo_dashboard_id %}
{% block todo_dashboard_icon %}
    languages
{% endblock todo_dashboard_icon %}
{% block todo_dashboard_title_link %}
    {% url 'translation_coverage' region_slug=request.region.slug %}
{% endblock todo_dashboard_title_link %}
{% block todo_dashboard_title %}
    {% translate "Outdated and missing translations" %}
{% endblock todo_dashboard_title %}
{% block todo_dashboard_number %}
    {% with total=number_of_missing_or_outdated_translations %}
        {{ block.super }}
    {% endwith %}
{% endblock todo_dashboard_number %}
{% block todo_dashboard_description %}
    <div class="hidden todo-message">
        {# djlint:off #}
    {% blocktranslate trimmed %}
        Your pages currently have <b></b> <b>pages</b> that have an outdated or no translation.
        In order for the users to benefit from your content you should translate them or have them translated.
    {% endblocktranslate %}
        {# djlint:on #}
    </div>
    <div class="hidden success-message">
        {% blocktranslate trimmed %}
            At the moment all pages have up-to-date translations. Good job!
        {% endblocktranslate %}
    </div>
    <div class="waiting-message">
        {% blocktranslate trimmed %}
            We are loading your outdated and missing translations in the background. Please be patient.
        {% endblocktranslate %}
    </div>
{% endblock todo_dashboard_description %}
{% block todo_dashboard_button_link %}
    <div class="hidden todo-button">
        <a class="btn !rounded-full"
           href="{% url 'translation_coverage' region_slug=request.region.slug %}">
            {% translate "Go to <br> translation coverage" %}
        </a>
    </div>
    <div class="hidden success-icon">
        <i class="w-8 h-8 text-green-500" icon-name="check-circle-2"></i>
    </div>
{% endblock todo_dashboard_button_link %}
