{% load i18n %}
<!-- generic confirmation popup for restoring accommodations -->
<div id="confirm-restore-accommodation" class="confirmation-popup flex-col justify-center max-w-sm fixed pin-t pin-b pin-r pin-l hidden">
    <div class="content bg-gray-300 w-full p-4 shadow-md rounded">
        <h2>{% trans 'Please confirm that you really want to restore this Accommodation' %}</h2>
        <h3 class="accommodation-title text-center mt-4 mb-6"></h3>
        <p class="mt-4 mb-6">
            {% trans 'All translations of this Accommodation will also be restored.' %}
        </p>
        <form method="post" action="#">
            {% csrf_token %}
            <input type="submit" class="inline-block cursor-pointer bg-blue-400 hover:bg-blue-500 text-white font-bold py-3 px-4 rounded" value="{% trans 'Yes, restore this Accommodation now.' %}" />
            <button class="cursor-pointer bg-red-400 hover:bg-red-500 text-white font-bold py-3 px-4 rounded">
                {% trans 'Cancel' %}
            </button>
        </form>
    </div>
</div>
<!------------------------>
