#upload_form p {
    margin: 1rem 1rem 1rem 0;
}

#upload_form p label {
    font-size: .875rem;
    color: #4a5568;
    font-weight: 700;
    margin-bottom: .5rem;
    border: 0 solid #e2e8f0;

}

#upload_form p input[type="text"] {
    width: 50%;
    color: #4a5568;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
    line-height: 1.25;
    border-width: 1px;
    border-radius: .25rem;
    -webkit-appearance: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
