{% load i18n %}
{% load rules %}
{% load content_filters %}

<tr class="border-t border-solid border-gray-200 hover:bg-gray-100">
	<td class="pl-4 pr-2 min">
		{{ poi.id }}
	</td>
    <td>
        <a href="{% url 'edit_poi' poi_id=poi.id region_slug=region.slug language_slug=language.slug %}" class="block py-3 px-2 text-gray-800">
            {{ poi_translation.version }}
        </a>
    </td>
    <td>
        <a href="{% url 'edit_poi' poi_id=poi.id region_slug=region.slug language_slug=language.slug %}" class="block py-3 px-2 text-gray-800">
            {{ poi_translation.get_status_display }}
        </a>
    </td>
	<td>
		<a href="{% url 'edit_poi' poi_id=poi.id region_slug=region.slug language_slug=language.slug %}" class="block text-gray-800">
			{%  if poi_translation %}
                {{ poi_translation.title }}
            {% else %}
                <i>{% trans 'Translation not available' %}</i>
            {% endif %}
		</a>
	</td>
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE != language.slug %}
        {% get_language LANGUAGE_CODE as backend_language %}
        {% if backend_language %}
            {% get_translation poi LANGUAGE_CODE as backend_translation %}
            <td>
                <a href="{% url 'edit_poi' poi_id=poi.id region_slug=region.slug language_slug=LANGUAGE_CODE %}" class="block py-3 px-2 text-gray-800">
                    {% if backend_translation %}
                        {{ backend_translation.title }}
                    {% else %}
                        <i>{% trans 'Translation not available' %}</i>
                    {% endif %}
                </a>
            </td>
        {% endif %}
    {% endif %}
	<td>
		{{ poi.address }}
	</td>
	<td>
		{{ poi.postcode }}
	</td>
	<td>
		{{ poi.city }}
	</td>
    <td>
        {{ poi.country }}
    </td>
    <td class="pl-2 pr-4 text-right min">
        <button title="{% trans 'Restore location' %}" class="confirmation-button py-3 pl-4"
            data-confirmation-title="{{ restore_dialog_title }}"
            data-confirmation-text="{{ restore_dialog_text }}"
            data-confirmation-subject="{{ poi_translation.title }}"
            data-action="{% url 'restore_poi' poi_id=poi.id region_slug=region.slug language_slug=language.slug %}">
            <i data-feather="refresh-ccw" class="text-gray-800"></i>
        </button>
        {% if user.is_superuser or user.is_staff %}
            <button title="{% trans 'Delete location' %}" class="confirmation-button py-3 pl-4"
                data-confirmation-title="{{ delete_dialog_title }}"
                data-confirmation-text="{{ delete_dialog_text }}"
                data-confirmation-subject="{{ poi_translation.title }}"
                data-action="{% url 'delete_poi' poi_id=poi.id region_slug=region.slug language_slug=language.slug %}">
                <i data-feather="trash-2" class="text-gray-800"></i>
            </button>
        {% endif %}
    </td>
</tr>
