{% load i18n %}
{% load rules %}
{% load content_filters %}

<tr class="border-t border-solid border-gray-200 hover:bg-gray-100">
	<td class="pl-4 pr-2 min">
		{{ poi.id }}
	</td>
    <td>
        <a href="{% url 'edit_poi' poi_id=poi.id region_slug=region.slug language_slug=language.slug %}" class="block py-3 px-2 text-gray-800">
            {{ poi_translation.version }}
        </a>
    </td>
    <td>
        <a href="{% url 'edit_poi' poi_id=poi.id region_slug=region.slug language_slug=language.slug %}" class="block py-3 px-2 text-gray-800">
            {{ poi_translation.get_status_display }}
        </a>
    </td>
	<td>
		<a href="{% url 'edit_poi' poi_id=poi.id region_slug=region.slug language_slug=language.slug %}" class="block text-gray-800">
			{%  if poi_translation %}
                {{ poi_translation.title }}
            {% else %}
                <i>{% trans 'Translation not available' %}</i>
            {% endif %}
		</a>
	</td>
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE != language.slug %}
        {% get_language LANGUAGE_CODE as backend_language %}
        {% if backend_language %}
            {% get_translation poi LANGUAGE_CODE as backend_translation %}
            <td>
                <a href="{% url 'edit_poi' poi_id=poi.id region_slug=region.slug language_slug=LANGUAGE_CODE %}" class="block py-3 px-2 text-gray-800">
                    {% if backend_translation %}
                        {{ backend_translation.title }}
                    {% else %}
                        <i>{% trans 'Translation not available' %}</i>
                    {% endif %}
                </a>
            </td>
        {% endif %}
    {% endif %}
	<td>
		<div class="block py-3 px-2 text-gray-800">
			<div class="lang-grid">
				{% for other_language in languages %}
					<a href="{% url 'edit_poi' poi_id=poi.id region_slug=region.slug language_slug=other_language.slug %}">
                        {% get_translation poi other_language.slug as other_translation %}
                        {% if other_translation %}
                            {% if other_translation.currently_in_translation %}
                                <span title="{% trans 'Currently in translation' %}">
                                    <i data-feather="clock" class="text-gray-800"></i>
                                </span>
                            {% elif other_translation.is_outdated %}
                                <span title="{% trans 'Translation outdated' %}">
                                    <i data-feather="alert-triangle" class="text-gray-800"></i>
                                </span>
                            {% else %}
                                <span title="{% trans 'Translation up-to-date' %}">
                                    <i data-feather="check" class="text-gray-800"></i>
                                </span>
                            {% endif %}
                        {% else %}
                            <span title="{% trans 'Translation missing' %}">
                                <i data-feather="x" class="text-gray-800"></i>
                            </span>
                        {% endif %}
                    </a>
				{% endfor %}
			</div>
		</div>
	</td>
	<td>
		{{ poi.address }}
	</td>
	<td>
		{{ poi.postcode }}
	</td>
	<td>
		{{ poi.city }}
	</td>
	<td>
		{{ poi.country }}
	</td>
    <td class="pl-2 pr-4 min text-right">
        <!-- TODO: add link to view poi in web app -->
        <a href="#" class="py-3">
            <i data-feather="eye" class="inline-block text-gray-800"></i>
        </a>
        <button title="{% trans 'Archive location' %}" class="confirmation-button py-3 pl-4"
            data-confirmation-title="{{ archive_dialog_title }}"
            data-confirmation-text="{{ archive_dialog_text }}"
            data-confirmation-subject="{{ poi_translation.title }}"
            data-action="{% url 'archive_poi' poi_id=poi.id region_slug=region.slug language_slug=language.slug %}">
            <i data-feather="archive" class="inline-block text-gray-800"></i>
        </button>
        {% if user.is_superuser or user.is_staff %}
            <button title="{% trans 'Delete location' %}" class="confirmation-button py-3 pl-4"
                data-confirmation-title="{{ delete_dialog_title }}"
                data-confirmation-text="{{ delete_dialog_text }}"
                data-confirmation-subject="{{ poi_translation.title }}"
                data-action="{% url 'delete_poi' poi_id=poi.id region_slug=region.slug language_slug=language.slug %}">
                <i data-feather="trash-2" class="inline-block text-gray-800"></i>
            </button>
        {% endif %}
    </td>
</tr>
