{% load i18n %}
{% load rules %}
{% load poi_filters %}

<tr class="border-t border-solid border-grey-lighter hover:bg-grey-lightest">
	<td class="py-3 px-2">
		{{ poi.id }}
	</td>
	<td>
		<a href="{% url 'edit_poi' poi_id=poi.id region_slug=region.slug language_code=language.code %}" class="block py-3 px-2 text-grey-darkest">
			{{ poi|poi_translation_title:language }}
		</a>
	</td>
	<td>
		{{ poi.address }}
	</td>
	<td>
		{{ poi.postcode }}
	</td>
	<td>
		{{ poi.city }}
	</td>
    <td>
        {{ poi.country }}
    </td>
    <td>
        {{ poi.longitude }}
    </td>
    <td>
        {{ poi.latitude }}
    </td>
    <td class="pl-2 pr-4">
        {% has_perm 'cms.edit_pois' request.user as can_edit_poi %}
        {% if can_edit_poi %}
            <button title="{% trans 'Restore POI' %}" class="confirmation-button py-3 pl-4" data-poi-id="{{ poi.id }}" data-poi-title="{{ poi|poi_translation_title:language }}" data-action="{% url 'restore_poi' poi_id=poi.id region_slug=region.slug language_code=language.code %}" data-confirmation-popup="#confirm-restore-poi">
                <i data-feather="refresh-ccw" class="text-grey-darkest"></i>
            </button>
        {% endif %}
        {% if user.is_superuser or user.is_staff %}
            <button title="{% trans 'Delete POI' %}" class="confirmation-button py-3 pl-4" data-poi-id="{{ poi.id }}" data-poi-title="{{ poi|poi_translation_title:language }}" data-action="{% url 'delete_poi' poi_id=poi.id region_slug=region.slug language_code=language.code %}" data-confirmation-popup="#confirm-delete-poi">
                <i data-feather="trash-2" class="text-grey-darkest"></i>
            </button>
        {% endif %}
    </td>
</tr>
