{% load i18n %}
{% load rules %}
{% load poi_filters %}

<tr class="border-t border-solid border-gray-200 hover:bg-gray-100">
	<td class="pl-4 pr-2 min">
		{{ poi.id }}
	</td>
    <td class="pr-2 min">
        {{ poi_translation.version }}
    </td>
    <td>
        {{ poi_translation.get_status_display }}
    </td>
	<td>
		<a href="{% url 'edit_poi' poi_id=poi.id region_slug=region.slug language_code=language.code %}" class="block text-gray-800">
			{{ poi|poi_translation_title:language }}
		</a>
	</td>
	<td>
		<div class="block py-3 px-2 text-gray-800">
			<div class="lang-grid">
				{% for other_language in languages %}
					<a href="{% url 'edit_poi' poi_id=poi.id region_slug=region.slug language_code=other_language.code %}">
						<i data-feather="{% if other_language in poi.languages %}edit-2{% else %}plus{% endif %}" class="text-gray-800"></i>
					</a>
				{% endfor %}
			</div>
		</div>
	</td>
	<td>
		{{ poi.address }}
	</td>
	<td>
		{{ poi.postcode }}
	</td>
	<td>
		{{ poi.city }}
	</td>
	<td>
		{{ poi.country }}
	</td>
    <td class="pl-2 pr-4 min text-right">
        <!-- TODO: add link to view poi in web app -->
        <a href="#" class="py-3">
            <i data-feather="eye" class="inline-block text-gray-800"></i>
        </a>
        <button title="{% trans 'Archive POI' %}" class="confirmation-button py-3 pl-4" data-poi-id="{{ poi.id }}" data-poi-title="{{ poi|poi_translation_title:language }}" data-action="{% url 'archive_poi' poi_id=poi.id region_slug=region.slug language_code=language.code %}" data-confirmation-popup="#confirm-archive-poi">
            <i data-feather="archive" class="inline-block text-gray-800"></i>
        </button>
        {% if user.is_superuser or user.is_staff %}
            <button title="{% trans 'Delete POI' %}" class="confirmation-button py-3 pl-4" data-poi-id="{{ poi.id }}" data-poi-title="{{ poi|poi_translation_title:language }}" data-action="{% url 'delete_poi' poi_id=poi.id region_slug=region.slug language_code=language.code %}" data-confirmation-popup="#confirm-delete-poi">
                <i data-feather="trash-2" class="inline-block text-gray-800"></i>
            </button>
        {% endif %}
    </td>
</tr>
