{% load i18n %}
<tr class="border-t border-solid border-gray-200 hover:bg-gray-100">
    <td class="pl-2">
        <a href="{% url 'edit_organization' region_slug=request.region.slug slug=organization.slug %}"
           class="block py-3 px-2 text-gray-800">
            {{ organization.name }}
        </a>
    </td>
    <td>
        <a href="{% url 'edit_organization' region_slug=request.region.slug slug=organization.slug %}"
           class="block py-3 px-2 text-gray-800">
            {{ organization.num_members }}
        </a>
    </td>
    <td>
        <a href="{% url 'edit_organization' region_slug=request.region.slug slug=organization.slug %}"
           class="block py-3 px-2 text-gray-800">
            {{ organization.num_pages }}
        </a>
    </td>
    <td class="pr-2">
        {% if organization.icon %}
            <a href="{% url 'edit_organization' region_slug=request.region.slug slug=organization.slug %}">
                {# djlint:off H006 #}
                <img src="{{ organization.icon.url }}"
                     alt="{{ organization.icon.url }}"
                     class="max-h-12"/>
                {# djlint:on #}
            </a>
        {% else %}
            <i icon-name="x" class="text-red-500"></i>
        {% endif %}
    </td>
    <td class="pl-2 pr-4 text-right min">
        {% if perms.cms.delete_organization %}
            <button title="{% translate "Delete organization" %}"
                    class="confirmation-button btn-icon"
                    data-confirmation-title="{{ delete_dialog_title }}"
                    data-confirmation-text="{{ delete_dialog_text }}"
                    data-confirmation-subject="{{ organization.name }}"
                    data-action="{% url 'delete_organization' region_slug=request.region.slug slug=organization.slug %}">
                <i icon-name="trash-2"></i>
            </button>
        {% endif %}
    </td>
</tr>
