{% extends "_base.html" %}
{% load i18n %}
{% block content %}
    <div class="table-header">
        <h1 class="heading">
            {% translate "Region condition" %}
        </h1>
        <div class="flex justify-between">
            {% include "search_input_form.html" with object_type="region" object_archived=True %}
            <form action="{% url "export_region_conditions" file_format="csv" %}"
                  method="post">
                {% csrf_token %}
                <button type="submit"
                        title="{% translate "Download region condition as CSV" %}"
                        class="btn">
                    {% translate "Download as CSV" %}
                    <i icon-name="download"></i>
                </button>
            </form>
        </div>
    </div>
    <div>
        <table id="region-condition"
               class="w-full mt-4 rounded border border-solid border-gray-200 shadow bg-white">
            <thead>
                <tr class="border-b border-solid border-gray-200">
                    <th class="text-left py-3 pl-4 pr-2 min">
                        {% translate "Region" %}
                    </th>
                    <th>
                        {% translate "Broken links" %}
                    </th>
                    <th>
                        {% translate "Pages under HIX threshold" %}
                    </th>
                    <th>
                        {% translate "Pages" %}
                    </th>
                    <th>
                        {% translate "Pages with at least one missing or outdated translation" %}
                    </th>
                    <th>
                        {% translate "Outdated pages" %}
                    </th>
                    <th>
                        {% translate "Active languages besides default language" %}
                    </th>
                    <th>
                        {% translate "Add-on for MT" %}
                    </th>
                </tr>
            </thead>
            {% for region in regions %}
                {% include "./region_condition_row.html" %}
            {% empty %}
                <tr>
                    <td colspan="7" class="px-4 py-3">
                        {% if search_query %}
                            {% translate "No regions found with these filters." %}
                        {% else %}
                            {% translate "No regions available yet." %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% include "pagination.html" with chunk=regions %}
{% endblock content %}
