{% load i18n %}
{% load rules %}
{% load content_filters %}
<tr class="border-t border-solid border-gray-200 hover:bg-gray-100 text-gray-800">
    <td class="py-3 pl-4">
        {{ region.name }}
    </td>
    <td class="text-center py-3 pr-2">
        {{ region.get_pages.count }}
    </td>
    <td class="text-center py-3 pr-2">
        {{ region.outdated_pages.count }}
    </td>
    <td class="text-center py-3 pr-2">
        {{ region.active_languages_without_default_language|length }}
    </td>
    <td class="text-center py-3 pr-2">
        {% if region.mt_addon_booked %}
            {% translate "Yes" %}
        {% else %}
            {% translate "No" %}
        {% endif %}
    </td>
</tr>
