{% extends "_base.html" %}
{% load i18n %}
{% load rules %}
{% load static %}

{% block content %}
{% has_perm 'cms.edit_accommodations' request.user as can_edit_accommodation %}
<div class="table-header">
    <div class="flex flex-wrap">
        <div class="w-1/2">
            <h2 class="heading font-normal mb-2">{% trans 'Accommodations' %}</h2>
        </div>
        <div class="w-1/2 flex flex-wrap flex-col justify-center">
            <div class="flex flex-wrap justify-end">
                <a href="{% url 'archived_accommodations' region_slug=region.slug language_code=language.code %}" class="font-bold text-xs text-gray-800 block pb-2 hover:underline">
                    {% trans 'Archived Accommodations' %}
                    <span class="inline-block rounded-full bg-integreat text-gray-800 px-2 py-1 text-xs font-bold">
                        {{ archived_count }}
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap">
        <form class="table-search relative w-1/4">
            <i data-feather="search" class="absolute"></i>
            <input type="search" placeholder="{% trans 'Search' %}" class="h-full py-2 pl-10 pr-4 rounded shadow">
        </form>
        {% if can_edit_accommodation and region.default_language == language %}
        <div class="w-3/4 flex flex-wrap justify-end">
            <a href="{% url 'new_accommodation' region_slug=region.slug language_code=language.code %}" class="bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
	            {% trans 'Create Accommodation' %}
            </a>
        </div>
        {% endif %}
    </div>
</div>

<div class="table-listing">
    <table class="w-full mt-4 rounded border border-solid border-gray-300 shadow bg-white table-fixed">
        <thead>
            <tr class="border-b border-solid border-gray-300">
                <th class="text-sm text-left uppercase py-3 pl-4 pr-2 min">{% trans 'ID' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2">{% trans 'Title' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2">
                    <div class="lang-grid flags" style="white-space: nowrap;">
	                    {% for lang in languages %}
		                    <a href="{% url 'accommodations' region_slug=region.slug language_code=lang.code %}">
			                    <img src="{% static '' %}images/flags/{{ lang.code }}.png" title="{{ lang.name }}" />
		                    </a>
	                    {% endfor %}
                    </div>
                </th>
                <th class="text-sm text-left uppercase py-3">{% trans 'Institution' %}</th>
                <th class="text-sm text-left uppercase py-3">{% trans 'Street' %}</th>
                <th class="text-sm text-left uppercase py-3">{% trans 'Postal Code' %}</th>
	            <th class="text-sm text-left uppercase py-3">{% trans 'City' %}</th>
	            <th class="text-sm text-left uppercase py-3">{% trans 'Country' %}</th>
                <th class="text-sm text-left uppercase py-3 pl-2 pr-4 min">{% trans 'Options' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for accommodation in accommodations %}
            {% include "accommodations/accommodation_list_row.html" with accommodation=accommodation %}
        {% empty %}
            <tr>
                <td colspan="7" class="px-4 py-3">
	                {% trans 'No Accommodations available yet.' %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% if can_edit_accommodation %}
    {% include "./confirmation_popups/archive_accommodation.html" %}
{% endif %}
{% if user.is_superuser or user.is_staff %}
    {% include "./confirmation_popups/delete_accommodation.html" %}
{% endif %}
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/accommodation.js' %}"></script>
{% endblock %}
