{% extends "../../_collapsible_box.html" %}
{% load i18n %}
{% load static %}
{% load content_filters %}
{% load widget_tweaks %}
{% block collapsible_box_icon %}
    image
{% endblock collapsible_box_icon %}
{% block collapsible_box_title %}
    {{ place_form.icon.label }}
{% endblock collapsible_box_title %}
{% block collapsible_box_content %}
    <div class="help-text">
        {{ place_form.icon.help_text }}
    </div>
    {% render_field place_form.icon label=place_form.icon.label %}
{% endblock collapsible_box_content %}
