/*
 * Lateef
 *
 * This font is used for right-to-left alphabets in PDFs.
 * The separate css file is required because local() would embed the server's font instead.
 */

/* lateef-regular - arabic */
@font-face {
    font-family: "Lateef";
    font-style: normal;
    font-weight: normal;
    src: url("./lateef-v18-arabic-regular.ttf");
}
