{% extends "_base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<form method="post">
    {% csrf_token %}
    <div class="flex flex-wrap mb-4">
        <div class="w-2/5 flex flex-wrap flex-col justify-center">
            <h2 class="heading font-normal">
	            {% if form.initial %}
		            {% with form.name.value as extra_template_name %}
			            {% blocktrans %}Edit extra template "{{ extra_template_name }}"{% endblocktrans %}
		            {% endwith %}
	            {% else %}
		            {% trans 'Create new extra template' %}
	            {% endif %}
            </h2>
        </div>
        <div class="w-3/5 flex justify-end">
	        {% if form.initial %}
		        <input type="submit" class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-4 rounded" value="{% trans 'Save' %}" />
	        {% else %}
		        <input type="submit" class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-4 rounded" value="{% trans 'Create' %}" />
	        {% endif %}
        </div>
    </div>

    <div class="flex flex-wrap">
	    <div class="w-1/2 pr-2">
		    {{form.errors}}
		    <div class="w-full mb-4 rounded border border-solid border-gray-200 shadow bg-white">
				<div class="w-full p-4 rounded bg-blue-500">
					<h3 class="heading font-bold text-white">{% trans 'General Settings' %}</h3>
				</div>
				<div class="w-full p-4">

					<!-- General Options for extra_template management -->
                    <label for="id_name" class="font-bold block p-2 mb-1 cursor-pointer">{% trans "Extra name" %}</label>
                    {% trans "Enter the extra's name here" as name_placeholder%}
                    {% render_field form.name placeholder=name_placeholder class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}

                    <label for="id_slug" class="font-bold block p-2 mb-1 mt-5 cursor-pointer">{% trans "Slug of the extra" %}</label>
                    {% trans "Leave blank to generate unique slug from name" as slug_placeholder%}
                    {% render_field form.slug placeholder=slug_placeholder class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}

					<label for="id_url" class="font-bold block p-2 mb-1 mt-5 cursor-pointer">{% trans "URL of the extra" %}</label>
					{% trans "Enter the extra's url here" as url_placeholder%}
					{% render_field form.url placeholder=url_placeholder class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}

					<label for="id_thumbnail" class="font-bold block p-2 mb-1 mt-5 cursor-pointer">{% trans "Thumbnail of the extra" %}</label>
					{% trans "Enter the extra's thumbnail here" as thumbnail_placeholder%}
					{% render_field form.thumbnail placeholder=thumbnail_placeholder class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
				</div>
			</div>
		</div>
	<div class="w-1/2 pl-2">
		<div class="w-full mb-4 rounded border border-solid border-gray-200 shadow bg-white">
			<div class="w-full p-4 rounded bg-blue-500">
				<h3 class="heading font-bold text-white">{% trans 'Extended Settings' %}</h3>
			</div>
			<div class="w-full p-4">
				<label for="id_post_data" class="font-bold block p-2 mb-1 cursor-pointer">{% trans "Post data of the extra in JSON (optional)" %}</label>
				{% trans "Enter the extra's post data in JSON here" as post_data_placeholder %}
				{% if form.post_data.value == "null" %}
					{% render_field form.post_data value="{}" placeholder=post_data_placeholder class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
				{% else %}
					{% render_field form.post_data placeholder=post_data_placeholder class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
				{% endif %}

				<label for="id_use_postal_code" class="font-bold block p-2 mb-1 mt-5 cursor-pointer">{% trans "Does the extra make use of its region's postal code?" %}</label>
				<div class="relative">
					{% render_field form.use_postal_code class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-800 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
					<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-800">
						<img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>
{% endblock %}