<tr class="border-t border-solid border-grey-lighter hover:bg-grey-lightest">
    <td class="pl-2">
        <a href="{% url 'edit_extra_template' extra_template_id=extra_template.id %}" class="block py-3 px-2 text-grey-darkest">
            {{ extra_template.name }}
        </a>
    </td>
	<td>
        <a href="{% url 'edit_extra_template' extra_template_id=extra_template.id %}" class="block py-3 px-2 text-grey-darkest">
            {{ extra_template.slug }}
        </a>
	</td>
	<td>
        <a href="{% url 'edit_extra_template' extra_template_id=extra_template.id %}" class="block py-3 px-2 text-grey-darkest">
            {{ extra_template.url }}
        </a>
	</td>
	<td>
        <a href="{% url 'edit_extra_template' extra_template_id=extra_template.id %}" class="block py-3 px-2 text-grey-darkest">
            {{ extra_template.last_updated }}
        </a>
	</td>
	<td class="pr-2">
        <a href="{% url 'edit_extra_template' extra_template_id=extra_template.id %}" class="block py-3 px-2 text-grey-darkest">
            {{ extra_template.created_date }}
        </a>
	</td>
</tr>