<tr class="border-t border-solid border-grey-lighter hover:bg-grey-lightest">
    <td>
        <a href="{% url 'edit_region' region_slug=region.slug %}" class="block py-3 px-2 text-grey-darkest">
            {{ region.name }}
        </a>
    </td>
	<td>
		<a href="{% url 'dashboard' region_slug=region.slug %}" class="block py-3 px-2 text-grey-darkest">
			{{ request.scheme }}://{{ request.get_host }}{% url 'dashboard' region_slug=region.slug %}
		</a>
	</td>
	<td>
		<a href="https://integreat.app{% url 'dashboard' region_slug=region.slug %}" class="block py-3 px-2 text-grey-darkest">
			https://integreat.app{% url 'dashboard' region_slug=region.slug %}
		</a>
	</td>
	<td>
		{{ region.created_date }}
	</td>
	<td>
		{{ region.last_updated }}
	</td>
	<td>
		{{ region.get_status_display }}
	</td>
</tr>