/*
 * Noto Sans Georgian
 *
 * This font is used for georgian alphabets in PDFs.
 * The separate css file is required because the PDF library xhtml2pdf doesn't understand the multiple src syntax for browser compatibility.
 */

/* noto-sans-georgian-regular */
@font-face {
    font-family: "Noto Sans Georgian";
    font-style: normal;
    font-weight: normal;
    src: url("./noto-sans-georgian-v44-georgian_latin_latin-ext-regular.ttf");
}

/* noto-sans-georgian-700 */
@font-face {
    font-family: "Noto Sans Georgian";
    font-style: normal;
    font-weight: bold;
    src: url("./noto-sans-georgian-v44-georgian_latin_latin-ext-700.ttf");
}
