{% load page_filters %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}
    {% if permission_message %}
        {% if permission_message.level_tag == 'info' %}
            <div class="bg-blue-lightest border-l-4 border-blue text-blue-dark px-4 py-3 my-2" role="alert">
                <p>{{permission_message.message}}</p>
            </div>
        {% endif %}
        {% if permission_message.level_tag == 'success' %}
            <div class="bg-green-lightest border-l-4 border-green text-green-dark px-4 py-3 my-2" role="alert">
                <p>{{ permission_message.message }}</p>
            </div>
        {% endif %}
        {% if permission_message.level_tag == 'warning' %}
            <div class="bg-orange-lightest border-l-4 border-orange text-orange-dark px-4 py-3 my-2" role="alert">
                <p>{{ permission_message.message }}</p>
            </div>
        {% endif %}
        {% if permission_message.level_tag == 'error' %}
            <div class="bg-red-lightest border-l-4 border-red text-red-dark px-4 py-3 my-2" role="alert">
                <p>{{ permission_message.message }}</p>
            </div>
        {% endif %}
    {% endif %}
    <div class="pt-4">
        <p class="text-gray-700 text-base">
	        <span class="font-bold">{% trans 'Editors' %}</span> -
            {% trans 'These users can edit this page, but are not allowed to publish it.' %}
        </p>
    </div>
    <div class="px-2 py-2">
        {% for user in page.editors.all %}
            <span class="inline-block rounded-full py-2 px-4 mx-2 my-1 bg-blue text-white text-xl">
                {{ user.username }}
                <a class="revoke-page-permission" href="{% url 'revoke_page_permission_ajax' %}" data-user-id="{{ user.id }}" data-page-id="{{ page.id }}" data-permission="edit">
                    <i data-feather="x-circle" class="cursor-pointer ml-1 mb-0 align-middle text-white"></i>
                </a>
            </span>
        {% empty %}
        {% endfor %}
    </div>
    <div class="w-full flex flex-wrap mt-2 pb-4">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                {% trans 'Username' %}
            </label>
		    <div class="relative my-2 w-full">
	            {% render_field page_form.editors class="appearance-none block w-full bg-grey-lighter text-xl text-grey-darkest border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey" %}
	            <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darkest">
	                <img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
	            </div>
		    </div>
            <button type="button" class="grant-page-permission bg-blue hover:bg-blue-dark text-white font-bold py-3 px-4 mt-2 rounded w-full" data-url="{% url 'grant_page_permission_ajax' %}" data-page-id="{{ page.id }}" data-permission="edit">
                <i data-feather="plus-circle" class="align-middle"></i> {% trans 'Add to editors' %}
            </button>
    </div>
    <div class="pt-4">
        <p class="text-gray-700 text-base">
	        <span class="font-bold">{% trans 'Publishers' %}</span> -
            {% trans 'These users can edit and publish this page.' %}
        </p>
    </div>
    <div class="px-2 py-2">
        {% for user in page.publishers.all %}
            <span class="inline-block rounded-full py-2 px-4 mx-2 my-1 bg-blue text-white text-xl">
                {{ user.username }}
                <a class="revoke-page-permission" href="{% url 'revoke_page_permission_ajax' %}" data-user-id="{{ user.id }}" data-page-id="{{ page.id }}" data-permission="publish">
                    <i data-feather="x-circle" class="cursor-pointer ml-1 mb-0 align-middle text-white"></i>
                </a>
            </span>
        {% empty %}
        {% endfor %}
    </div>
    <div class="w-full flex flex-wrap mt-2 pb-4">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-4" for="grid-first-name">
            {% trans 'Username' %}
        </label>
	    <div class="relative my-2 w-full">
	        {% render_field page_form.publishers class="appearance-none block w-full bg-grey-lighter text-xl text-grey-darkest border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey" %}
	        <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darkest">
	            <img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
	        </div>
	    </div>
        <button type="button" class="grant-page-permission bg-blue hover:bg-blue-dark text-white font-bold py-3 px-4 mt-2 rounded w-full" data-url="{% url 'grant_page_permission_ajax' %}" data-page-id="{{ page.id }}" data-permission="publish">
            <i data-feather="plus-circle" class="align-middle"></i> {% trans 'Add to publishers' %}
        </button>
    </div>