{% extends "_base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
{% load page_filters %}
{% load rules %}
{% load compress %}
<form method="post">
    {% compress js %}
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/page.js' %}"></script>
    <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'tinymce/themes/silver/theme.js' %}"></script>
    <script src="{% static 'tinymce/plugins/paste/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/fullscreen/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/autosave/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/link/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/preview/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/media/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/image/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/code/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/lists/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/directionality/plugin.js' %}"></script>
    <script src="{% static 'tinymce-i18n/langs/de.js' %}"></script>


    {% endcompress %}
    {% compress css %}
    <link href="{% static 'tinymce/skins/ui/oxide/skin.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'tinymce/skins/ui/oxide/content.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'tinymce/skins/content/default/content.css' %}" rel="stylesheet"type="text/css">
    {% endcompress%}
    {% csrf_token %}
    <div class="flex flex-wrap">
        <div class="w-4/5 flex flex-wrap flex-col justify-center mb-6">
            <h2 class="heading font-normal">
                {% if page %}
                    {% if page_translation_form.instance.id %}
                        {% with page_translation_form.instance.title as page_title %}
                        {% blocktrans %}Edit page "{{ page_title }}"{% endblocktrans %}
                        {% endwith %}
                        {% get_current_language as LANGUAGE_CODE %}
                        {% unify_language_code LANGUAGE_CODE as LANGUAGE_CODE %}
                        {% if LANGUAGE_CODE != language.code %}
                            {% get_page_translation page LANGUAGE_CODE as backend_translation %}
                            {% if backend_translation %}
                                ({% trans 'Title in' %} {% translated_language_name LANGUAGE_CODE %}: "{{ backend_translation.title }}")
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% trans 'Create new translation' %}
                    {% endif %}
                {% else %}
                    {% trans 'Create new page' %}
                {% endif %}
            </h2>
        </div>
        <div class="w-1/5 flex justify-end mb-6">
        {% has_perm 'cms.edit_page' request.user page as can_edit_page %}
        {% if can_edit_page %}
            <input type="submit" name="submit_draft" class="bg-grey hover:bg-grey-dark cursor-pointer text-white font-bold py-3 px-4 rounded mr-2" value="{% trans 'Save as draft' %}" />
        {% endif %}
        {% has_perm 'cms.publish_page' request.user page as can_publish_page %}
        {% if can_publish_page %}
            <input type="submit" name="submit_public" class="cursor-pointer bg-blue hover:bg-blue-dark text-white font-bold py-3 px-4 rounded" value="{% trans 'Publish' %}" />
        {% else %}
            <input type="submit" name="submit_review" class="cursor-pointer bg-blue hover:bg-blue-dark text-white font-bold py-3 px-4 rounded" value="{% trans 'Submit for review' %}" />
        {% endif %}
        </div>
        <div class="w-2/3 flex flex-wrap flex-col pr-2">
            {{page_form.errors}}
            {{page_translation_form.errors}}
            <ul class="flex flex-wrap" style="list-style: none;">
                {% for other_language in languages %}
                    <li class="mr-1 {% if other_language == language %}z-10{% endif %} -mb-1">
                        <div class="bg-white text-blue-dark {% if other_language != language %}hover:bg-blue-dark hover:text-white{% endif %} border-l-2 border-t-2 border-r-2 border-blue-dark font-bold rounded-t-lg">
                            <div class="border-b-2 border-white">
                        {% if other_language == language %}
                            <div class="py-2 px-4">
                            <i data-feather="{% if other_language in page.languages %}edit-2{% else %}plus{% endif %}"></i>
                            <span style="vertical-align: super;">
                                {{ other_language.translated_name }}
                            </span>
                            </div>
                        {% else %}
                            <a class="inline-block py-2 px-4" style="color: inherit;" href="{% url 'edit_page' page_id=page.id region_slug=region.slug language_code=other_language.code %}">
                                <i data-feather="{% if other_language in page.languages %}edit-2{% else %}plus{% endif %}"></i>
                                <span style="vertical-align: super;">
                                    {{ other_language.translated_name }}
                                </span>
                            </a>
                        {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
                {% if page %}
                    <li class="ml-5">
                        {% with language.code|add:'__'|add:language.code as sbs_language_code %}
                        <a class="bg-white text-blue-dark hover:bg-blue-dark hover:text-white font-semibold inline-block py-2 px-4 border-l-2 border-t-2 border-r-2 border-blue-dark rounded-t-lg" href="{% url 'sbs_edit_page' page_id=page.id region_slug=region.slug language_code=sbs_language_code %}">
                            <i data-feather="columns"></i>
                            <span style="vertical-align: super;">
                                {% trans 'Side by side view' %}
                            </span>
                        </a>
                        {% endwith %}
                    </li>
                {% endif %}
            </ul>
            <div class="w-full mb-4 rounded border-2 border-blue-dark bg-white">
                <div class="w-full p-4">
                    {% if page_translation_form.instance.id %}
                        <label for="events_enabled" class="inline-block mt-4 mb-2 font-bold">{% trans 'Version' %}:</label>
                        {{ page_translation_form.instance.version }}<br>
                        <label for="events_enabled" class="inline-block mb-2 font-bold">{% trans 'Status' %}:</label>
                        {{ page_translation_form.instance.get_status_display }}
                    {% endif %}
                    <label class="block mb-2 font-bold">{% trans 'Permalink' %}</label>
                    <div class="appearance-none block w-full bg-grey-lighter text-xl text-grey-darkest border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey">
                        {% trans ' Leave blank to generate unique permalink from title' as slug_placeholder%}
                        {% spaceless %}
                            <div style="display: table; white-space: nowrap;">
                                <span style="display: table-cell;">https://integreat.app/{{ region.slug }}/{{ language.code }}/</span>
                                {% if page_translation_form.instance.ancestor_path %}
                                    <span style="display: table-cell;">{{ page_translation_form.instance.ancestor_path }}/</span>
                                {% endif %}
                                <span style="display: table-cell; width: 100%;">{% render_field page_translation_form.slug placeholder=slug_placeholder class="w-full rounded" %}</span>
                            </div>
                        {% endspaceless %}
                    </div>
                    <label class="block mb-2 mt-4 font-bold">{% trans 'Title' %}</label>
                    {% trans 'Insert title here' as title_placeholder%}
                    {% render_field page_translation_form.title placeholder=title_placeholder class="appearance-none block w-full bg-grey-lighter text-xl text-grey-darkest border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey" %}
                    <label class="block mb-2 mt-4 font-bold">{% trans 'Content' %}</label>
                    {% trans 'Insert content here' as text_placeholder%}
                    {% render_field page_translation_form.text placeholder=text_placeholder class="bg-grey-lighter w-full p-2 border border-grey-lighter focus:outline-none focus:bg-white focus:border-grey rounded tinymce_textarea" %}
                    <span class="block mb-2 mt-4 font-bold">{% trans 'Implications on other translations' %}</span>
                    {% render_field page_translation_form.minor_edit id="minor_edit" %}
                    <label for="minor_edit" class="text-s">{% trans 'This change does not require an update of the translations' %}</label>
                </div>
            </div>
        </div>
        <div class="w-1/3 pl-4 flex flex-wrap flex-col">
            <ul class="flex" style="list-style: none;">
                <li class="z-10" style="margin-bottom: -0.1rem;">
                    <div class="bg-white text-blue-dark border-l-2 border-t-2 border-r-2 border-blue-dark font-bold rounded-t-lg py-2 px-4">
                    <div class="border-b-4 border-white">
                    <i data-feather="flag"></i>
                    <span style="vertical-align: super;">
                        {% trans 'Settings for all translations' %}
                    </span>
                    </div>
                    </div>
                </li>
            </ul>
            <div class="w-full mb-4 rounded border-2 border-solid border-blue-dark shadow bg-white">
                <div class="w-full p-4">
                    <span class="font-bold mb-2 mt-4 block">{% trans 'Positioning' %}</span>
                    <label for="position" class="text-xs uppercase block mt-4">{% trans 'Relationship' %}</label>
                    <div class="relative my-2">
                        {% render_field page_form.position placeholder="0" id="position" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded mb-2 py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey" %}
                    </div>
                    <label for="parent" class="text-xs uppercase">{% trans 'Page' %}</label>
                    <div class="relative my-2">
                        {% render_field page_form.parent id="parent" class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darkest py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey" %}
                        <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darkest">
                            <img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
                        </div>
                    </div>
                    <span class="font-bold mb-2 mt-4">{% trans 'Embed live content' %}</span>
                    <div class="relative my-2">
                        {% render_field page_form.mirrored_page_region id="mirrored_page_region" class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darkest py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey" %}
                        <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darkest">
                            <img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
                        </div>
                    </div>
                    <div class="relative my-2 {% if not page.mirrored_page %}hidden{% endif %}" id="mirrored_page_div">
                        {% render_field page_form.mirrored_page id="mirrored_page" class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darkest py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey" %}
                        <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darkest">
                            <img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
                        </div>
                    </div>
                    <div class="relative my-2 pb-2 {% if not page.mirrored_page %}hidden{% endif %}" id="mirrored_page_first_div">
                        <select id="mirrored_page_first" class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darkest py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey">
                            <option value=1{% if page.mirrored_page_first %} selected{% endif %}>{% trans 'Embed before content' %}</option>
                            <option value=0{% if not page.mirrored_page_first %} selected{% endif %}>{% trans 'Embed after content' %}</option>
                        </select>
                        <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darkest">
                            <img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
                        </div>
                    </div>
                    {% if perms.cms.grant_page_permissions and region.page_permissions_enabled %}
                        <span class="block font-bold mb-2">{% trans 'Additional permissions for this page' %}</span>
                        <p class="italic">{% trans "This affects only users, who don't have the permission to change arbitrary pages anyway." %}</p>
                        <div id="page_permission_table">
                            {% include "pages/_page_permission_table.html" %}
                        </div>
                    {% endif %}
                    <div class="pt-2 pb-4">
                        <span class="block font-bold mb-4">{% trans 'Icon' %}</span>
                        {% render_field page_form.icon id="icon" class="image-field" %}
                        <label for="icon" class="font-bold bg-blue hover:bg-blue-dark focus:bg-blue-dark text-white font-bold py-3 pl-10 pr-4 rounded cursor-pointer relative">
                            <i data-feather="upload"></i>
                            <span class="standard_text">{% trans 'Set icon' %}</span>
                            <span class="filename"></span>
                        </label>
                    </div>
                    {% if page and can_edit_page %}
                        <div class="pt-2 pb-4">
                            <span class="block font-bold mb-4">{% trans 'Archive page' %}</span>
                            {% if page.archived %}
                                {% trans 'Page is archived.' %}
                            {% else %}
                                <button class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" onclick="confirmation_popup(event, '#confirm_archive_page_{{ page.id }}')">
                                    {% trans 'Archive this page' %}
                                </button>
                            {% endif %}
                        </div>
                        {% if user.is_superuser or user.is_staff %}
                            <div class="pt-2 pb-4">
                                <span class="block font-bold mb-4">{% trans 'Delete page' %}</span>
                                {% if page.children.all %}
                                    {% trans 'You cannot delete a page which has children.' %}
                                {% else %}
                                    <button class="bg-red hover:bg-red-dark text-white font-bold py-2 px-4 rounded" onclick="confirmation_popup(event, '#confirm_delete_page_{{ page.id }}')">
                                        {% trans 'Delete this page' %}
                                    </button>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    // preselect mirrored page when document is loaded
    document.addEventListener('DOMContentLoaded', function () {
        update_mirrored_pages_list("{% url 'get_pages_list_ajax' %}", {{ page.id }}, {{ page.mirrored_page.id }});
    });

    // event handler for showing the page selection for attach pages
    u("#mirrored_page_region").handle('change', update_mirrored_pages_list_wrapper);
        async function update_mirrored_pages_list_wrapper(e) {
        update_mirrored_pages_list("{% url 'get_pages_list_ajax' %}", {{ page.id }});
    };

    // event handler for saving attached pages
    u("#mirrored_page").handle('change', save_mirrored_page_wrapper);
    u("#mirrored_page_first").handle('change', save_mirrored_page_wrapper);
    async function save_mirrored_page_wrapper(e){
        save_mirrored_page("{% url 'save_mirrored_page' %}", {{ page.id }});
    };

    // event handler for granting edit page permissions
    u("#grant-edit-page-permission").handle('click', grant_edit_page_permission_wrapper);
    async function grant_edit_page_permission_wrapper(e){
        grant_edit_page_permission("{% url 'grant_page_permission_ajax' %}", {{ page.id }});
    };

    // event handler for granting publish page permissions
    u("#grant-publish-page-permission").handle('click', grant_publish_page_permission_wrapper);
    async function grant_publish_page_permission_wrapper(e){
      grant_publish_page_permission("{% url 'grant_page_permission_ajax' %}", {{ page.id }});
    };

    // event handler for revoking permissions
    u('.revoke-page-permission').each(function(node, i)  {
        u(this).handle('click', revoke_page_permission_wrapper);
    });
    async function revoke_page_permission_wrapper(e) {
        revoke_page_permission("{% url 'revoke_page_permission_ajax' %}", {{ page.id }});
    };
</script>

{% if page %}
    {% include "./confirmation_popups/archive_page.html" with page=page %}
    {% if user.is_superuser or user.is_staff %}
        {% if not page.children.all %}
            {% include "./confirmation_popups/delete_page.html" with page=page %}
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}

{% block javascript_nocompress %}
<script>
{% get_current_language as LANGUAGE_CODE %}
document.addEventListener('DOMContentLoaded', function(){
    tinymce.init({
        selector: '.tinymce_textarea',
        menubar: "edit view insert format tools",
        plugins: "code paste fullscreen autosave link preview media image lists directionality",
        toolbar: 'bold italic underline forecolor | bullist numlist | styleselect | undo redo | ltr rtl | aligncenter indent outdent | link image',
        min_height: 400,
        language: '{{LANGUAGE_CODE|slice:"0:2"}}'
    });

    custom_file_field();
}, false);
</script>
{% endblock %}


