{% extends "_base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<form method="post">
    {% csrf_token %}
    <div class="flex flex-wrap mb-4">
        <div class="w-2/5 flex flex-wrap flex-col justify-center">
            <h2 class="heading font-normal">
                {% if page %}
		            {% if form.title.value %}
			            {% with form.title.value as page_title %}
			            {% blocktrans %}Edit page "{{ page_title }}"{% endblocktrans %}
			            {% endwith %}
		            {% else %}
			            {% trans 'Create new translation' %}
		            {% endif %}
                {% else %}
	                {% trans 'Create new page' %}
                {% endif %}
            </h2>
        </div>
        <div class="w-3/5 flex justify-end">
            <input type="submit" name="submit_save" class="{% if public %}bg-blue hover:bg-blue-dark{% else %}bg-grey hover:bg-grey-dark{% endif %} cursor-pointer text-white font-bold py-3 px-4 rounded mr-2" value="{% trans 'Save' %}" />
            {% if not public %}
                <input type="submit" name="submit_publish" class="cursor-pointer bg-blue hover:bg-blue-dark text-white font-bold py-3 px-4 rounded" value="{% trans 'Publish' %}" />
            {% endif %}
        </div>
    </div>

    <div class="flex flex-wrap">
        <div class="w-2/3 pr-2">
            {{form.errors}}
            <div class="w-full p-4 mb-4 rounded border border-solid border-grey-light shadow bg-white">
	            {% trans 'Insert title here' as title_placeholder%}
                {% render_field form.title placeholder=title_placeholder class="appearance-none block w-full bg-grey-lighter text-xl text-grey-darkest border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey" %}
	            <div class="mt-4">
	                {% trans 'Insert content here' as text_placeholder%}
                    {% render_field form.text placeholder=text_placeholder class="bg-grey-lighter w-full p-2" %}
                </div>
            </div>
            <div class="w-full p-4 rounded border border-solid border-grey-light shadow bg-white">
                <h3 class="mb-2">{% trans 'Embed live content' %}</h3>
                <input type="text" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded mb-2 py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                    placeholder="{% trans 'Search page' %}" />
                <div class="relative my-2">
                    <select class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darkest py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey">
                        <option>{% trans 'Embed before content' %}</option>
                        <option>{% trans 'Embed after content' %}</option>
                    </select>
                    <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darkest">
                        <img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
                    </div>
                </div>
                <button class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded">
	                {% trans 'Embed page' %}
                </button>
            </div>
        </div>
        <div class="w-1/3 pl-2">
            <div class="w-full px-4 py-2 rounded border border-solid border-grey-light shadow bg-white">
                <div class="py-2 border-b solid border-grey-lighter mb-2">
                    <span class="block mb-2 font-bold">{% trans 'Language' %}</span>
                    <label class="text-xs uppercase block">{% trans 'Current language' %}</label>
                    <div class="relative my-2">
	                    {{ language.name }}
                    </div>
                    {% if page %}
	                    <div class="entity-lang-list mt-4 mb-2">
	                        <label class="text-xs uppercase block mb-2">{% trans 'Translations' %}</label>
	                        <!-- TODO: get available languages from site settings -->
	                        <table style="width:100%;" border="0" cellspacing="0" cellpadding="0">
		                        {% for other_language in languages %}
			                        {% if other_language != language %}
				                        <tr>
					                        <td>
						                        <a href="{% url 'edit_page' page_id=page.id site_slug=site.slug language_code=other_language.code %}" class="text-black block p-2">
							                        {{ other_language.name }}
						                        </a>
					                        </td>
					                        <td>
						                        <a href="" class="text-black block p-2 relative">
							                        <i data-feather="{% if other_language in page.languages %}edit-2{% else %}plus{% endif %}"></i>
						                        </a>
					                        </td>
				                        </tr>
			                        {% endif %}
		                        {% endfor %}
	                        </table>
	                    </div>
                        <div class="entity-lang-list mt-4 mb-2">
	                        <label class="text-xs uppercase block mb-2">{% trans 'Side by Side View' %}</label>
	                        <!-- TODO: get available languages from site settings -->
	                        <table style="width:100%;" border="0" cellspacing="0" cellpadding="0">
		                        {% for other_language in languages %}
			                        {% if other_language != language %}
                                        {% with language.code|add:'__'|add:other_language.code  as sbs_language_code %}
				                        <tr>
					                        <td>
						                        <a href="{% url 'sbs_edit_page' page_id=page.id site_slug=site.slug language_code=sbs_language_code %}" class="text-black block p-2">
							                        {{ other_language.name }}
						                        </a>
					                        </td>
				                        </tr>
                                        {% endwith %}
			                        {% endif %}
		                        {% endfor %}
	                        </table>
	                    </div>
                    {% endif %}
                </div>
                <div class="py-2 border-b solid border-grey-lighter mb-2">
                    <span class="font-bold mb-2 block">{% trans 'Positioning' %}</span>
	                <label for="position" class="text-xs uppercase block mt-4">{% trans 'Relationship' %}</label>
	                <div class="relative my-2">
		                {% render_field form.position placeholder="0" id="position" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded mb-2 py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey" %}
	                </div>
                    <label for="parent" class="text-xs uppercase">{% trans 'Page' %}</label>
                    <div class="relative my-2">
                        {% render_field form.parent id="parent" class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darkest py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey" %}
                        <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darkest">
                            <img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
                        </div>
                    </div>
                </div>
                <div class="py-2 border-b solid border-grey-lighter mb-2">
                    <label for="public" class="font-bold">{% trans 'Visibility' %}</label>
                    <div class="relative my-2">
                        {% render_field form.public id="public" class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darkest py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey" %}
                        <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darkest">
                            <img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
                        </div>
                    </div>
                </div>
                <div class="py-2 border-b solid border-grey-lighter mb-2">
                    <label for="status" class="font-bold">{% trans 'Status' %}</label>
                    <div class="relative my-2">
                        {% render_field form.status id="status" class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darkest py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey" %}
                        <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darkest">
                            <img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
                        </div>
                    </div>
                </div>
                <div class="pt-2 pb-4">
                    <span class="block font-bold mb-4">{% trans 'Icon' %}</span>
                    {% render_field form.icon id="icon" class="image-field" %}
                    <label for="icon" class="font-bold my-2 bg-blue hover:bg-blue-dark focus:bg-blue-dark text-white font-bold py-2 pl-10 pr-4 rounded cursor-pointer relative">
                        <i data-feather="upload"></i>
                        <span class="standard_text">{% trans 'Set icon' %}</span>
                        <span class="filename"></span>
                    </label>
                </div>
                <div class="pt-2 pb-4">
                    <span class="block font-bold mb-4">{% trans 'Archive page' %}</span>
                    {% if page.archived %}
                        {% trans 'Page is archived.' %}
                    {% else %}
                        <button class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" onclick="confirmation_popup(event, '#confirm_archive_page')">
                            {% trans 'Archive this page' %}
                        </button>
                    {% endif %}

                    {% include "../general/confirmation_popups/archive_page.html" %}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}