{% extends "_base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<div>
    <div class="flex flex-wrap mb-4">
        <div class="w-full flex flex-wrap flex-col justify-center">
            <h2 class="heading font-normal">
	            {% with source_page_translation.title as page_title %}
	            {% blocktrans %}Translate "{{ page_title }}" from {{source_language}} to {{target_language}}{% endblocktrans %}
	            {% endwith %}
            </h2>
        </div>
    </div>

    <div class="flex flex-wrap">
        <div class="w-1/2 pr-2">
            <div class="w-full p-4 mb-4 rounded border border-solid border-grey-light shadow bg-white">
                <input type="text" name="source_title" disabled value="{{source_page_translation.title}}" maxlength="250" class="appearance-none block w-full bg-grey-lighter text-xl border border-grey-lighter rounded py-3 px-4 leading-tight">
	            <div class="mt-4">
                    <textarea disabled name="text" cols="40" rows="10" class="bg-grey-lighter w-full p-2">{{source_page_translation.text}}</textarea>
                </div>
            </div>
        </div>
        <form method="post" class="w-1/2 pr-2">
            {% csrf_token %}
            {{ page_translation_form.errors }}
            <div class="w-full p-4 mb-4 rounded border border-solid border-grey-light shadow bg-white">
	            {% trans 'Insert title here' as title_placeholder%}
                {% render_field page_translation_form.title placeholder=title_placeholder class="appearance-none block w-full bg-grey-lighter text-xl text-grey-darkest border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey" %}
	            <div class="mt-4">
	                {% trans 'Insert content here' as text_placeholder%}
                    {% render_field page_translation_form.text placeholder=text_placeholder class="bg-grey-lighter w-full p-2 border border-grey-lighter focus:outline-none focus:bg-white focus:border-grey rounded" %}
                </div>
            </div>
            <div class="w-full p-4 flex justify-end">
                <input type="submit" name="submit_save" class="bg-blue hover:bg-blue-dark cursor-pointer text-white font-bold py-3 px-4 rounded mr-2" value="{% trans 'Save' %}" />
                 <a href="{% url 'edit_page' page_id=source_page_translation.page.id site_slug=site.slug language_code=source_language.code %}" class="bg-grey hover:bg-grey-dark cursor-pointer text-white font-bold py-3 px-4 rounded">
                    {% trans 'Go Back to Page Editor' %}
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
