<tr class="border-t border-solid border-grey-lighter hover:bg-grey-lightest{% if node.depth > 0 %} child level-{{node.depth}}{% endif %}">
    <td class="single_icon">
        <span class="block py-3 pl-4 pr-2 cursor-move">
            <i data-feather="move" class="text-grey-darkest"></i>
        </span>
    </td>
    <td>
        <a href="{% url 'edit_page' page_translation_id=node.id %}" class="block py-3 px-2 text-grey-darkest">
            {{node}}
        </a>
    </td>
    <td>
        <div class="block py-3 px-2 text-grey-darkest">
            <div class="lang-grid">
                <a href="">
                    <i data-feather="plus" class="text-grey-darkest"></i>
                </a>
                <a href="">
                    <i data-feather="edit-2" class="text-grey-darkest"></i>
                </a>
                <a href="">
                    <i data-feather="edit-2" class="text-grey-darkest"></i>
                </a>
                <a href="">
                    <i data-feather="plus" class="text-grey-darkest"></i>
                </a>
            </div>
        </div>
    </td>
    <td>
        <a href="{% url 'edit_page' page_translation_id=node.id %}" class="block py-3 px-2 text-grey-darkest">
            {% for pt in node.page_translations.all|slice:":1" %}
                {{ pt.user }}
            {% endfor %}
        </a>
    </td>
    <td>
        <a href="{% url 'edit_page' page_translation_id=node.id %}" class="block py-3 px-2 text-grey-darkest">
            {{node.pub_date|date:'d.m.Y'}}
        </a>
    </td>
    <td class="pl-2 pr-4">
        <!-- TODO: add link to view page in web app -->
        <a href="" class="py-3" style="padding-right:4px;">
            <i data-feather="eye" class="text-grey-darkest"></i>
        </a>
        <a href="{% url 'edit_page' page_translation_id=node.id %}" class="py-3" style="padding-left:4px;padding-right:4px;">
            <i data-feather="edit" class="text-grey-darkest"></i>
        </a>
        <a href="{% url 'delete_page' page_translation_id=node.id %}" class="py-3" style="padding-left:4px;padding-right:4px;">
            <i data-feather="trash-2" class="text-grey-darkest"></i>
        </a>
    </td>
</tr>