{% load i18n %}
<!-- generic confirmation popup for deleting events -->
<div id="confirm-delete-event" class="confirmation-popup flex-col justify-center max-w-sm fixed inset-0 hidden">
    <div class="content bg-gray-200 w-full p-4 shadow-md rounded">
        <h2>{% trans 'Please confirm that you really want to delete this event' %}</h2>
        <h3 class="confirmation-title text-center mt-4 mb-6"></h3>
        <p class="mt-4 mb-6">
            {% trans 'All translations of this event will also be deleted.' %}
        </p>
        <form method="post" action="#">
            {% csrf_token %}
            <input type="submit" class="block w-full cursor-pointer bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-4 mb-2 rounded" value="{% trans 'Yes, delete this event now.' %}" />
            <button class="w-full cursor-pointer bg-red-500 hover:bg-red-600 text-white font-bold py-3 px-4 rounded">
                {% trans 'Cancel' %}
            </button>
        </form>
    </div>
</div>
<!------------------------>
