{% extends "_base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<form method="post">
    {% csrf_token %}
    <div class="flex flex-wrap mb-4">
        <div class="w-2/5 flex flex-wrap flex-col justify-center">
            <h2 class="heading font-normal">
	            {% if form.initial %}
		            {% with form.name.value as role_name %}
			            {% blocktrans %}Edit role "{{ role_name }}"{% endblocktrans %}
		            {% endwith %}
	            {% else %}
		            {% trans 'Create new role' %}
	            {% endif %}
            </h2>
        </div>
        <div class="w-3/5 flex justify-end">
            <input type="submit" name="submit" class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-4 rounded" value="{% trans 'Save' %}" />
        </div>
    </div>

    <div class="flex flex-wrap">
	    <div class="w-full">
		    {{form.errors}}
		    <div class="w-full mb-4 rounded border border-solid border-gray-200 shadow bg-white">
				<div class="w-full p-4 rounded bg-blue-500">
					<label for="{{ form.name.id_for_label }}" class="heading font-bold text-white">{{ form.name.label }}</label>
				</div>
				<div class="w-full p-4">
                    {% render_field form.name class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
				</div>
			</div>
		</div>
	<div class="w-full">
		<div class="w-full mb-4 rounded border border-solid border-gray-200 shadow bg-white">
			<div class="w-full p-4 rounded bg-blue-500">
				<label for="{{ form.permissions.id_for_label }}" class="heading font-bold text-white">{{ form.permissions.label }}</label>
			</div>
			<div class="w-full p-4">
				{% render_field form.permissions class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
			</div>
		</div>
	</div>
</div>
</form>
{% endblock %}
