{% extends "_base.html" %}
{% load i18n %}
{% load static %}
{% load content_filters %}

{% block content %}
    <div class="table-header">
        <div class="flex flex-wrap">
            <div class="w-1/2">
                <h2 class="heading font-normal mb-2">{% trans 'Events' %}</h2>
            </div>
            <div class="w-1/2 flex flex-wrap flex-col justify-center">
                <div class="flex flex-wrap justify-end">
                    <a href="{% url 'events_archived' region_slug=region.slug language_code=language.code %}" class="font-bold text-xs text-gray-800 block pb-2 hover:underline">
                        {% trans 'Archived events' %}
                        <span class="inline-block rounded-full bg-integreat text-gray-800 px-2 py-1 text-xs font-bold">
                            {{ archived_count }}
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap">
            <form class="table-search relative w-1/2">
                <i data-feather="search" class="absolute"></i>
                <input type="search" placeholder="{% trans Search %}" class="h-full pl-10 pr-4 rounded shadow">
            </form>
            {% if region.default_language == language %}
            <div class="w-1/2 flex flex-wrap justify-end">
                <a href="{% url 'new_event' region_slug=region.slug language_code=language.code %}"
                   class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    {% trans 'Create event' %}
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="table-listing">
        <table class="w-full mt-4 rounded border border-solid border-gray-200 shadow bg-white">
            <thead>
            <tr class="border-b border-solid border-gray-200">
                <th class="text-sm text-left uppercase py-3 px-2 min">{% trans 'ID' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2 min">{% trans 'Version' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2">{% trans 'Status' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2">{% trans 'Title in' %} {{ language.translated_name }}</th>
                {% get_current_language as LANGUAGE_CODE %}
                {% unify_language_code LANGUAGE_CODE as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE != language.code %}
                    <th class="text-sm text-left uppercase py-3 px-2">{% trans 'Title in' %} {% translated_language_name LANGUAGE_CODE %}</th>
                {% endif %}
                <th class="text-sm text-left uppercase py-3 px-2">
                    <div class="lang-grid flags">
                        {% for lang in languages %}
		                    <a href="{% url 'events' region_slug=region.slug language_code=lang.code %}">
			                    <img src="{% static '' %}images/flags/{{ lang.code }}.png" title="{{ lang.name }}" />
		                    </a>
	                    {% endfor %}
                    </div>
                </th>
                <th class="text-sm text-left uppercase py-3 px-2">{% trans 'Event location' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2">{% trans 'Start' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2">{% trans 'End' %}</th>
                <th class="text-sm text-left uppercase py-3 pl-2 pr-4 min">{% trans 'Options' %}</th>
            </tr>
            </thead>
            <tbody>
            {% if events %}
                {% for event in events %}
                    {% get_translation event language.code as event_translation %}
                    {% include "events/event_list_row.html" with event=event event_translation=event_translation %}
                {% endfor %}
            {% else %}
                <tr>
                    <td></td>
                    <td colspan="5" class="px-2 py-3">
                        {% trans 'No events available yet.' %}
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock content %}