{% extends "_base.html" %}
{% load i18n %}
{% load static %}
{% load content_filters %}

{% block content %}
    <div class="table-header">
        <div class="flex flex-wrap">
            <div class="w-1">
                <h2 class="heading font-normal mb-2">{% trans 'Archived events' %}</h2>
            </div>
        </div>
    </div>
    <div class="table-listing">
        <table class="w-full mt-4 rounded border border-solid border-gray-200 shadow bg-white">
            <thead>
            <tr class="border-b border-solid border-gray-200">
                <th class="text-sm text-left uppercase py-3 px-2 min">{% trans 'ID' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2 min">{% trans 'Version' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2">{% trans 'Status' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2">{% trans 'Title in' %} {{ language.translated_name }}</th>
                {% get_current_language as LANGUAGE_CODE %}
                {% unify_language_code LANGUAGE_CODE as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE != language.code %}
                    <th class="text-sm text-left uppercase py-3 px-2">{% trans 'Title in' %} {% translated_language_name LANGUAGE_CODE %}</th>
                {% endif %}
                <th class="text-sm text-left uppercase py-3 px-2">
                    <div class="lang-grid flags">
                        {% for lang in languages %}
		                    <a href="{% url 'events' region_slug=region.slug language_code=lang.code %}">
			                    <img src="{% static '' %}images/flags/{{ lang.code }}.png" title="{{ lang.name }}" />
		                    </a>
	                    {% endfor %}
                    </div>
                </th>
                <th class="text-sm text-left uppercase py-3 px-2">{% trans 'Event location' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2">{% trans 'Start' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2">{% trans 'End' %}</th>
                <th class="text-sm text-left uppercase py-3 pl-2 pr-4 min">{% trans 'Options' %}</th>
            </tr>
            </thead>
            <tbody>
            {% if events %}
                {% for event in events %}
                    {% get_translation event language.code as event_translation %}
                    {% include "events/event_list_archived_row.html" with event=event event_translation=event_translation %}
                {% endfor %}
            {% else %}
                <tr>
                    <td></td>
                    <td colspan="5" class="px-2 py-3">
                        {% trans 'No events archived yet.' %}
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock content %}