{% load i18n %}
{% load rules %}
{% load content_filters %}

<tr class="border-t border-solid border-gray-200 hover:bg-gray-100">
    <td class="px-2 min">
        {{ event.id }}
    </td>
    <td>
        <a href="{% url 'edit_event' event_id=event.id region_slug=region.slug language_code=language.code %}" class="block py-3 px-2 text-gray-800">
            {{ event_translation.version }}
        </a>
    </td>
    <td>
        <a href="{% url 'edit_event' event_id=event.id region_slug=region.slug language_code=language.code %}" class="block py-3 px-2 text-gray-800">
            {{ event_translation.get_status_display }}
        </a>
    </td>
    <td>
        <a href="{% url 'edit_event' event_id=event.id region_slug=region.slug language_code=language.code%}" class="block py-3 px-2 text-gray-800">
            {% if event_translation %}
                {{ event_translation.title }}
            {% else %}
                <i>{% trans 'Translation not available' %}</i>
            {% endif %}
        </a>
    </td>
    {% get_current_language as LANGUAGE_CODE %}
    {% unify_language_code LANGUAGE_CODE as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE != language.code %}
        {% get_translation event LANGUAGE_CODE as backend_translation %}
        <td>
            <a href="{% url 'edit_event' event_id=event.id region_slug=region.slug language_code=LANGUAGE_CODE %}" class="block py-3 px-2 text-gray-800">
                {% if backend_translation %}
                    {{ backend_translation.title }}
                {% else %}
                    <i>{% trans 'Translation not available' %}</i>
                {% endif %}
            </a>
        </td>
    {% endif %}
    <td>
        <div class="block py-3 px-2 text-gray-800">
            <div class="lang-grid">
                {% for other_language in languages %}
                    <a href="{% url 'edit_event' event_id=event.id region_slug=region.slug language_code=other_language.code%}">
                        <i data-feather="{% if other_language in event.languages %}edit-2{% else %}plus{% endif %}" class="text-gray-800"></i>
                    </a>
                {% endfor %}
            </div>
        </div>
    </td>
    <td>
        {% if event.location is not None %}
            <!-- TODO: filter location for title in correct language, e.g. event.location|poi_translation_title:language -->
            {{ event.location|title }}
        {% else %}
            {% trans 'Not specified' %}
        {% endif %}
    </td>
    <td>
        <i data-feather="calendar" class="inline-block"></i> {{ event.start_date|date:'d.m.Y'}}{% if not event.is_all_day %} <i data-feather="clock" class="inline-block ml-2"></i> {{ event.start_time|time:'H:i' }}{% endif %}
    </td>
    <td>
        <i data-feather="calendar" class="inline-block"></i> {{ event.end_date|date:'d.m.Y'}}{% if not event.is_all_day %} <i data-feather="clock" class="inline-block ml-2"></i> {{ event.end_time|time:'H:i' }}{% endif %}
    </td>
    <td class="pl-2 pr-4 flex min">
        <!-- TODO: add link to view event in web app -->
        <a href="" class="py-3 px-2">
            <i data-feather="eye" class="inline-block text-gray-800"></i>
        </a>
        {% has_perm 'cms.edit_events' request.user as can_edit_event %}
        {% if can_edit_event %}
        <a href="{% url 'restore_event' event_id=event.id region_slug=region.slug language_code=language.code %}" class="py-3 px-2"
           style="padding-left:4px;padding-right:4px;" title="{% trans 'Restore event' %}">
            <i data-feather="refresh-ccw" class="inline-block text-gray-800"></i>
        </a>
        {% endif %}
        {% if user.is_superuser or user.is_staff %}
        <a href="{% url 'delete_event' event_id=event.id region_slug=region.slug language_code=language.code %}" class="py-3 px-2"
           style="padding-left:4px;padding-right:4px;" title="{% trans 'Delete event' %}">
            <i data-feather="trash-2" class="inline-block text-gray-800"></i>
        </a>
        {% endif %}
    </td>
</tr>