{% load i18n %}
{% load tagifnotempty %}
<div class="flex justify-between w-full p-4 border-t-2 border-zinc-600"
     {% filter tagifnotempty:'data-url' %}
     {% block todo_dashboard_ajax_url %}
     {% endblock todo_dashboard_ajax_url %}
     {% endfilter %}
     {% filter tagifnotempty:'id' %}
     {% block todo_dashboard_id %}
     {% endblock todo_dashboard_id %}
     {% endfilter %}>
    <div class="flex items-center basis-full">
        <div class="mr-6">
            <i class="w-8 h-8"
               icon-name="{% spaceless %}{% block todo_dashboard_icon %}{% endblock todo_dashboard_icon %}{% endspaceless %}"></i>
        </div>
        <div>
            {# djlint:off #}<a href="{% spaceless %}{% block todo_dashboard_title_link %}{% endblock todo_dashboard_title_link %}{% endspaceless %}"
            class="font-bold text-blue-500 underline">{% spaceless %}{% block todo_dashboard_title %}{% endblock todo_dashboard_title %}{% endspaceless %}</a>{# djlint:on #}
            {% block todo_dashboard_number %}
                <span class="hidden total-results">({% translate "in total" %} <span>{{ total }}</span>)</span>
            {% endblock todo_dashboard_number %}
            <p>
                {% block todo_dashboard_description %}
                {% endblock todo_dashboard_description %}
            </p>
        </div>
    </div>
    <div class="flex items-center justify-center w-48 ml-6 text-center whitespace-nowrap">
        {% block todo_dashboard_button_link %}
        {% endblock todo_dashboard_button_link %}
    </div>
</div>
