{% extends "_base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div class="dashboard">
        <h1 class="heading">
            {% translate "My Dashboard" %}
        </h1>
        <div class="xl:flex gap-3 pt-2">
            <div class="xl:w-1/2">
                <!-- Task Widget -->
                {% if perms.cms.change_page or perms.cms.change_feedback %}
                    {% if request.region.default_language %}
                        {% include "dashboard/_todo_dashboard_widget.html" with no_padding=True %}
                    {% endif %}
                {% endif %}
                <!-- Statistic Widget -->
                {% if request.region.statistics_enabled and perms.cms.view_statistics %}
                    {% include "statistics/_statistics_widget.html" with box_id="dashboard-statistics" %}
                {% endif %}
            </div>
            <div class="xl:w-1/2">
                <!-- Chat Widget -->
                {% if chat_form and perms.cms.change_chatmessage %}
                    {% include "chat/_chat_widget.html" with box_id="dashboard-chat" %}
                {% endif %}
                <!-- News Widget -->
                {% include "dashboard/_news_widget.html" with box_id="dashboard-news" %}
            </div>
        </div>
    </div>
    {% include "../generic_confirmation_dialog.html" %}
{% endblock content %}
