<tr class="border-t border-solid border-gray-200 hover:bg-gray-100">
    <td class="pl-2">
        <a href="{% url 'edit_organization' organization_id=organization.id %}" class="block py-3 px-2 text-gray-800">
            {{ organization.name }}
        </a>
    </td>
	<td>
        <a href="{% url 'edit_organization' organization_id=organization.id %}" class="block py-3 px-2 text-gray-800">
            {{ organization.slug }}
        </a>
	</td>
	<td class="pr-2">
        <a href="{% url 'edit_organization' organization_id=organization.id %}" class="block py-3 px-2 text-gray-800">
            {{ organization.thumbnail }}
        </a>
	</td>
</tr>