{% extends "_base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="flex flex-wrap mb-4">
        <div class="w-2/5 flex flex-wrap flex-col justify-center">
            <h2 class="heading font-normal">
	            {% if form.initial %}
		            {% with form.name.value as organization_name %}
			            {% blocktrans %}Edit organization "{{ organization_name }}"{% endblocktrans %}
		            {% endwith %}
	            {% else %}
		            {% trans 'Create new organization' %}
	            {% endif %}
            </h2>
        </div>
        <div class="w-3/5 flex justify-end">
            <input type="submit" name="submit" class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-4 rounded" value="{% trans 'Save' %}" />
        </div>
    </div>

    <div class="flex flex-wrap">
	    <div class="w-3/4 pr-2">
		    {{form.errors}}
		    <div class="w-full mb-4 rounded border border-solid border-gray-200 shadow bg-white">
				<div class="w-full p-4 rounded bg-blue-500">
					<h3 class="heading font-bold text-white">{% trans 'General Settings' %}</h3>
				</div>
				<div class="w-full p-4">

					<!-- General Options for organization management -->
                    <label for="{{ form.name.id_for_label }}" class="font-bold block p-2 mb-1 cursor-pointer">{{ form.name.label }}</label>
                    {% render_field form.name class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}

                    <label for="{{ form.slug.id_for_label }}" class="font-bold block p-2 mb-1 mt-5 cursor-pointer">{{ form.slug.label }}</label>
					<div class="px-2 mb-2 text-s text-gray-600">{{ form.slug.help_text }}</div>
                    {% render_field form.slug class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}

				</div>
			</div>
		</div>
	<div class="w-1/4 pl-2">
		<div class="w-full mb-4 rounded border border-solid border-gray-200 shadow bg-white">
			<div class="w-full p-4 rounded bg-blue-500">
				<h3 class="heading font-bold text-white">{% trans 'Extended Settings' %}</h3>
			</div>
			<div class="w-full p-4">
				<span class="block font-bold mb-4">{{ form.icon.label }}</span>
				{% render_field form.icon label=form.icon.label %}
			</div>
		</div>
	</div>
</div>
</form>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/forms/icon-field.js' %}"></script>
{% endblock %}
