{% load i18n %}
<tr class="border-t border-solid border-gray-200 hover:bg-gray-100">
    <td class="py-3 pl-4">
        <input type="checkbox"
               name="selected_ids[]"
               value="{{ contact.id }}"
               form="bulk-action-form"
               class="bulk-select-item" />
    </td>
    <td class="py-3 px-2">
        <a href="{% url 'edit_poi' region_slug=request.region.slug language_slug=request.region.default_language.slug poi_id=contact.location.id %}"
           class="text-blue-500 hover:underline">
            {{ contact.location }}
        </a>
    </td>
    <td class="px-2 py-3">
        <a href="{% url 'edit_contact' contact_id=contact.id region_slug=request.region.slug %}"
           class="block py-3 px-2 text-gray-800">
            {% if contact.area_of_responsibility %}
                {{ contact.area_of_responsibility }}
            {% else %}
                <i icon-name="minus"></i>
            {% endif %}
        </a>
    </td>
    <td class="py-3 px-2">
        <a href="{% url 'edit_contact' contact_id=contact.id region_slug=request.region.slug %}"
           class="block text-gray-800">
            {% if contact.name %}
                {{ contact.name }}
            {% else %}
                <i icon-name="minus"></i>
            {% endif %}
        </a>
    </td>
    <td class="py-3 px-2">
        <a href="{% url 'edit_contact' contact_id=contact.id region_slug=request.region.slug %}"
           class="block text-gray-800">
            {% if contact.email %}
                {{ contact.email }}
            {% else %}
                <i icon-name="minus"></i>
            {% endif %}
        </a>
    </td>
    <td class="py-3 px-2">
        <a href="{% url 'edit_contact' contact_id=contact.id region_slug=request.region.slug %}"
           class="block text-gray-800">
            {% if contact.phone_number %}
                {{ contact.phone_number }}
            {% else %}
                <i icon-name="minus"></i>
            {% endif %}
        </a>
    </td>
    <td class="py-3 px-2">
        <a href="{% url 'edit_contact' contact_id=contact.id region_slug=request.region.slug %}"
           class="block text-gray-800">
            {% if contact.mobile_phone_number %}
                {{ contact.mobile_phone_number }}
            {% else %}
                <i icon-name="minus"></i>
            {% endif %}
        </a>
    </td>
    <td class="px-2 py-3">
        {% if contact.website %}
            <a href="{{ contact.website }}"
               target="_blank"
               rel="noopener noreferrer"
               class="text-blue-500 hover:underline"
               title="{% translate "To website" %}">
                {{ contact.website }}
            </a>
        {% else %}
            <a href="{% url 'edit_contact' contact_id=contact.id region_slug=request.region.slug %}"><i icon-name="minus"></i></a>
        {% endif %}
    </td>
    <td class="pl-2 pr-4 text-right min">
        {% if is_archive %}
            {% if perms.cms.archive_contact %}
                <button title="{% translate "Restore contact" %}"
                        class="confirmation-button btn-icon"
                        data-confirmation-title="{{ restore_dialog_title }}"
                        data-confirmation-subject="{{ contact.name }}"
                        data-action="{% url 'restore_contact' contact_id=contact.id region_slug=request.region.slug %}">
                    <i icon-name="refresh-ccw"></i>
                </button>
            {% endif %}
        {% else %}
            {% if perms.cms.change_contact %}
                <a href="{% url 'edit_contact' contact_id=contact.id region_slug=request.region.slug %}"
                   title="{% translate "Edit contact" %}"
                   class="btn-icon">
                    <i icon-name="pencil"></i>
                </a>
                <a href="{% url 'copy_contact' contact_id=contact.id region_slug=request.region.slug %}"
                   title="{% translate "Copy contact" %}"
                   class="btn-icon">
                    <i icon-name="copy"></i>
                </a>
            {% endif %}
            {% if perms.cms.archive_contact %}
                <button {% if contact.referring_objects %}title="{% translate "Archival is not possible. At least one content object refers to this contact." %}" disabled {% else %} title="{% translate "Archive contact" %}"{% endif %}
                        class="confirmation-button btn-icon"
                        data-confirmation-title="{{ archive_dialog_title }}"
                        data-confirmation-subject="{{ contact.name }}"
                        data-action="{% url 'archive_contact' contact_id=contact.id region_slug=request.region.slug %}">
                    <i icon-name="archive"></i>
                </button>
            {% endif %}
        {% endif %}
        {% if perms.cms.delete_contact %}
            <button {% if contact.referring_objects %}title="{% translate "Deletion is not possible. At least one content object refers to this contact." %}" disabled {% else %} title="{% translate "Delete contact" %}"{% endif %}
                    class="confirmation-button btn-icon"
                    data-confirmation-title="{{ delete_dialog_title }}"
                    data-confirmation-subject="{{ contact.name }}"
                    data-action="{% url 'delete_contact' contact_id=contact.id region_slug=request.region.slug %}">
                <i icon-name="trash-2"></i>
            </button>
        {% endif %}
    </td>
</tr>
