{% load svg_tags %}
{% load static %}
{% spaceless %}
    <div>
        <div contenteditable="false"
             data-contact-id="{{ contact.pk }}"
             data-contact-url="{{ contact.absolute_url }}?details={{ wanted|join:"," }}"
             class="contact-card notranslate"
             dir="ltr"
             translate="no">
            {# djlint:off H021 #}
            <a href="{{ contact.absolute_url }}?details={{ wanted|join:"," }}"
               style="display: none">Contact</a>
            {# djlint:on #}
            {# "and" takes precedent: https://docs.djangoproject.com/en/4.2/ref/templates/builtins/#boolean-operators #}
            {% if contact.name and "name" in wanted or contact.area_of_responsibility and "area_of_responsibility" in wanted %}
                <h4>
                    {% if contact.name and "name" in wanted %}
                        {{ contact.name }}
                    {% endif %}
                    {% if contact.name and "name" in wanted and contact.area_of_responsibility and "area_of_responsibility" in wanted %}
                        |
                    {% endif %}
                    {% if contact.area_of_responsibility and "area_of_responsibility" in wanted %}
                        {{ contact.area_of_responsibility }}
                    {% endif %}
                </h4>
            {% endif %}
            {% if "address" in wanted %}
                <p>
                    <img src="{% get_svg_icon "pin" %}" alt="Address: " width="15" height="15" />
                    <a href="{{ contact.location.map_url }}">{{ contact.location.short_address }}</a>
                </p>
            {% endif %}
            {% if contact.email and "email" in wanted %}
                <p>
                    <img src="{% get_svg_icon "email" %}" alt="Email: " width="15" height="15" />
                    <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                </p>
            {% endif %}
            {% if contact.phone_number and "phone_number" in wanted %}
                <p>
                    <img src="{% get_svg_icon "call" %}"
                         alt="Phone Number: "
                         width="15"
                         height="15" />
                    <a href="tel:{{ contact.phone_number|cut:" (0) " }}">{{ contact.phone_number }}</a>
                </p>
            {% endif %}
            {% if contact.mobile_phone_number and "mobile_phone_number" in wanted %}
                <p>
                    <img src="{% get_svg_icon "call" %}"
                         alt="Mobile Phone Number: "
                         width="15"
                         height="15" />
                    <a href="tel:{{ contact.mobile_phone_number|cut:" (0) " }}">{{ contact.mobile_phone_number }}</a>
                </p>
            {% endif %}
            {% if contact.website and "website" in wanted %}
                <p>
                    <img src="{% get_svg_icon "www" %}" alt="Website: " width="15" height="15" />
                    <a href="{{ contact.website }}">{{ contact.website }}</a>
                </p>
            {% endif %}
        </div>
    </div>
{% endspaceless %}
