{% extends "authentication/_base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block heading %}
    {% trans 'Reset password' %}
{% endblock %}

{% block content %}
    {% if form.errors.email %}
        <div class="bg-red-100 border-l-4 border-red-500 text-red-500 px-4 py-3 mb-5" role="alert">
            <p>{{ form.errors.email }}</p>
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label for="{{ form.email.id_for_label }}">
                {{ form.email.label }}
            </label>
            {% trans 'Enter your e-mail address here' as email_placeholder%}
            {% render_field form.email|add_error_class:"border-red-500" placeholder=email_placeholder class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-600 leading-tight focus:outline-none focus:shadow-outline" %}
        </div>
        <div>
            <button type="submit" class="w-full bg-integreat-500 hover:bg-gray-600 text-gray-800 hover:text-integreat-500 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                {% trans 'Reset password' %}
            </button>
        </div>
    </form>
    <div class="text-right mt-4">
        <a href="{% url 'login' %}" class="text-gray-600 hover:text-integreat-500 hover:bg-gray-600 rounded py-2 px-3 font-bold">
            <i data-feather="arrow-left-circle" class="align-top"></i> {% trans 'Back to log in' %}
        </a>
    </div>
{% endblock %}
