{% extends "_base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load content_filters %}
{% load rules %}
{% load poi_filters %}
{% load render_bundle from webpack_loader %}
{% block content %}
    <form id="content_form"
          method="post"
          enctype="multipart/form-data"
          data-unsaved-warning>
        {% csrf_token %}
        <div class="w-full flex flex-wrap justify-between mb-4">
            <h1 class="heading overflow-hidden text-ellipsis">
                {% if poi_form.instance.id %}
                    {% if poi_translation_form.instance.id %}
                        {% with poi_translation_form.instance.title as poi_title %}
                            {% blocktrans %}Edit location "{{ poi_title }}"{% endblocktrans %}
                        {% endwith %}
                    {% else %}
                        {% translate "Create new translation of the location" %}
                    {% endif %}
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if poi_form.instance.backend_translation and LANGUAGE_CODE != language.slug %}
                        ({% translate "Title in" %} {% translated_language_name LANGUAGE_CODE %}: "{{ poi_form.instance.backend_translation.title }}")
                    {% endif %}
                {% else %}
                    {% translate "Create new location" %}
                {% endif %}
            </h1>
            {% if not poi_form.instance.archived and perms.cms.change_poi %}
                <div class="flex flex-wrap gap-4 ml-auto mr-0">
                    <button name="status" value="{{ DRAFT }}" class="btn btn-gray">{% translate "Save as draft" %}</button>
                    <button name="status" value="{{ PUBLIC }}" class="btn">
                        {% if poi_translation_form.instance.status == PUBLIC %}
                            {% translate "Update" %}
                        {% else %}
                            {% translate "Publish" %}
                        {% endif %}
                    </button>
                </div>
            {% endif %}
        </div>
        <div class="pt-4 lg:pt-0 md:grid grid-cols-2 3xl:grid-cols-[minmax(0px,_1fr)_400px] 4xl:grid-cols-[minmax(0px,_1fr)_400px_400px] gap-4">
            <div class="col-span-2 3xl:col-span-1 flex flex-wrap flex-col">
                {% include "_form_language_tabs.html" with target="edit_poi" instance=poi_form.instance content_field="poi_id" %}
                <div class="flex flex-wrap flex-col flex-auto gap-4">
                    <div class="flex flex-col flex-auto w-full rounded border border-blue-500 bg-white shadow-2xl">
                        <div class="flex flex-col w-full p-4 flex-auto">
                            <div class="flex justify-between">
                                <label for="{{ poi_translation_form.title.id_for_label }}"
                                       data-slugify-url="{% url 'slugify_ajax' region_slug=request.region.slug language_slug=language.slug model_type='poi' %}{% if poi_form.instance.id %}?model_id={{ poi_form.instance.id }}{% endif %}">
                                    {{ poi_translation_form.title.label }}
                                </label>
                                {% if poi_translation_form.instance.id %}
                                    <div class="grid grid-cols-2 text-left">
                                        <div class="font-bold pr-2">{% translate "Version" %}:</div>
                                        <div>
                                            {{ poi_translation_form.instance.version }}
                                            <!-- TODO: POI Revisions -->
                                        </div>
                                        <div class="font-bold pr-2">{% translate "Publication status" %}:</div>
                                        <div>
                                            {% if poi.archived %}
                                                {% translate "Archived" %}
                                            {% else %}
                                                {{ poi_translation_form.instance.get_status_display }}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            {% render_field poi_translation_form.title|add_error_class:"border-red-500" class+="mb-2" %}
                            {% if language != request.region.default_language %}
                                <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-600 px-4 py-1 mb-2">
                                    {% blocktrans %}The name is currently displayed to users only in the default language{% endblocktrans %}
                                </div>
                            {% endif %}
                            <div id="link-container" class="flex items-center">
                                <label for="{{ poi_translation_form.slug.id_for_label }}" class="mr-2">{{ poi_translation_form.slug.label }}:</label>
                                <a id="slug-link"
                                   href="{{ url_link }}{{ poi_translation_form.instance.slug }}/"
                                   class="text-blue-500 hover:underline">{{ url_link }}{{ poi_translation_form.instance.slug }}</a>
                                {% if perms.cms.change_poi %}
                                    <a id="edit-slug-btn"
                                       title="{% translate "Edit" %}"
                                       class="ml-2 btn-icon">
                                        <i icon-name="edit-3"></i>
                                    </a>
                                {% endif %}
                                <a id="copy-slug-btn"
                                   data-copy-to-clipboard="{{ poi_translation_form.instance.base_link }}{{ poi_translation_form.instance.slug }}"
                                   title="{% translate "Copy to clipboard" %}"
                                   class="ml-2 btn-icon">
                                    <i icon-name="copy"></i>
                                    <i icon-name="check" class="hidden text-green-500"></i>
                                </a>
                                <div class="slug-field hidden">
                                    <label for="{{ poi_translation_form.slug.id_for_label }}">{{ url_link }}</label>
                                    {% render_field poi_translation_form.slug|add_error_class:"slug-error" %}
                                </div>
                                <a id="save-slug-btn" class="ml-2 btn-icon hidden">
                                    <i icon-name="save"></i>
                                </a>
                                <a id="restore-slug-btn" class="ml-2 btn-icon hidden">
                                    <i icon-name="x-circle"></i>
                                </a>
                            </div>
                            <label for="{{ poi_translation_form.content.id_for_label }}">{{ poi_translation_form.content.label }}</label>
                            {% render_field poi_translation_form.content class+="tinymce_textarea flex-auto" %}
                        </div>
                    </div>
                    {% if request.region.seo_enabled %}
                        <div class="col-span-2 3xl:col-span-1 flex flex-wrap flex-col">
                            <div class="rounded border border-solid border-blue-500 shadow-2xl bg-white">
                                <div class="rounded p-4 bg-water-500">
                                    <h3 class="heading font-bold text-black">
                                        <i icon-name="search" class="pb-1"></i>
                                        {% translate "SEO section" %}
                                    </h3>
                                </div>
                                <div class="px-4 pb-4 divide-y divide-gray-200 space-y-2">
                                    <div>
                                        <label for="{{ poi_translation_form.meta_description.id_for_label }}"
                                               class="secondary">
                                            {{ poi_translation_form.meta_description.label }}
                                        </label>
                                        <div class="help-text">{{ poi_translation_form.meta_description.help_text }}</div>
                                        {% render_field poi_translation_form.meta_description|add_error_class:"border-red-500" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div id="left-sidebar-column"
                 class="flex flex-col flex-auto mt-3 md:mt-0 md:gap-2"
                 {% if request.user.distribute_sidebar_boxes %} data-enable-automatic-sidebar-distribution{% endif %}>
                {% if poi_form.instance.id and perms.cms.change_poi %}
                    {% include "./poi_form_sidebar/minor_edit_box.html" with box_id="poi-minor-edit" %}
                {% endif %}
                {% include "./poi_form_sidebar/position_box.html" with box_id="poi-position" %}
            </div>
            <div id="right-sidebar-column"
                 class="3xl:col-end-3 4xl:col-end-auto flex flex-wrap flex-col md:gap-2">
                {% include "./poi_form_sidebar/contact_box.html" with box_id="poi-contact" %}
                {% include "./poi_form_sidebar/opening_hours_box.html" with box_id="poi-opening-hours" no_padding=True %}
                {% include "./poi_form_sidebar/category_box.html" with box_id="poi-category" %}
                {% include "./poi_form_sidebar/icon_box.html" with box_id="poi-icon" %}
                {% include "./poi_form_sidebar/organization_box.html" with box_id="poi-organization" %}
                {% include "./poi_form_sidebar/barrier_free_box.html" with box_id="poi-barrier-free" %}
                {% if poi_form.instance.id and perms.cms.change_poi %}
                    {% include "./poi_form_sidebar/action_box.html" with box_id="poi-action" %}
                {% endif %}
            </div>
        </div>
    </form>
    {{ media_config_data|json_script:"media_config_data" }}
    {% if not perms.cms.change_poi or poi_form.instance.id and poi_form.instance.archived %}
        {% include "../_tinymce_config.html" with readonly=1 %}
    {% else %}
        {% include "../_tinymce_config.html" %}
        {% if poi_form.instance.id %}
            {% include "../_content_edit_lock.html" with lock_key=poi_form.instance.edit_lock_key %}
        {% endif %}
    {% endif %}
    {% if poi_form.instance.id %}
        {% include "../generic_confirmation_dialog.html" %}
    {% endif %}
{% endblock content %}
{% block javascript %}
    {% render_bundle 'editor' 'js' %}
{% endblock javascript %}
{% block javascript_head %}
    {% render_bundle 'map' 'js' %}
    {% render_bundle 'map' 'css' %}
{% endblock javascript_head %}
