{% load i18n %}

<tr class="border-t border-solid border-gray-200 hover:bg-gray-100">
    <td class="pl-2">
        <a href="{% url 'edit_region_user' region_slug=region.slug user_id=user.id %}" class="block py-3 px-2 text-gray-800">
            {{ user.username }}
        </a>
    </td>
	<td>
        <a href="{% url 'edit_region_user' region_slug=region.slug user_id=user.id %}" class="block py-3 px-2 text-gray-800">
            {{ user.first_name }}
        </a>
	</td>
	<td>
        <a href="{% url 'edit_region_user' region_slug=region.slug user_id=user.id %}" class="block py-3 px-2 text-gray-800">
            {{ user.last_name }}
        </a>
	</td>
	<td>
        <a href="{% url 'edit_region_user' region_slug=region.slug user_id=user.id %}" class="block py-3 px-2 text-gray-800">
            {{ user.email }}
        </a>
	</td>
	<td>
        <a href="{% url 'edit_region_user' region_slug=region.slug user_id=user.id %}" class="block py-3 px-2 text-gray-800">
			{% if user.profile.organization %}
				{{ user.profile.organization }}
			{% endif %}
        </a>
	</td>
	<td class="px-2 whitespace-nowrap">
		{% if user.is_active %}
		<i data-feather="check"></i>
		{% else %}
			<i data-feather="x"></i>
			<a href="{% url 'resend_activation_link_region' region_slug=region.slug user_id=user.pk %}" class="hover:underline text-blue-500 hover:text-blue-600">
				{% trans 'Resend activation link' %}
			</a>
		{% endif %}
	</td>
</tr>
