{% extends "authentication/_base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block heading %}
    {% translate "Delete FIDO key" %}
{% endblock heading %}
{% block content %}
    <div class="add-mfa">
        <form method="post">
            {% csrf_token %}
            <div class="my-4">
                <p class="font-bold">
                    {% translate "Nickname" %}:
                </p>
                <p>
                    {{ key.name }}
                </p>
            </div>
            <div class="flex items-center justify-between">
                <button class="btn w-full">
                    {% translate "Delete FIDO key" %}
                </button>
            </div>
        </form>
    </div>
    <div class="mfa-not-supported hidden">
        <div class="mb-6">
            <p>
                {% translate "It seems like your browser does not support webauthn" %}
            </p>
        </div>
    </div>
{% endblock content %}
