{% load i18n %}
{% load widget_tweaks %}
<div>
    <label for="{{ contact_form.title.id_for_label }}">
        {{ contact_form.area_of_responsibility.label }}
    </label>
    {% if poi_id %}
        {% render_field contact_form.area_of_responsibility|append_attr:"form:ajax_contact_form" %}
    {% else %}
        {% render_field contact_form.area_of_responsibility %}
    {% endif %}
    <label for="{{ contact_form.name.id_for_label }}">
        {{ contact_form.name.label }}
    </label>
    {% if poi_id %}
        {% render_field contact_form.name|append_attr:"form:ajax_contact_form" %}
    {% else %}
        {% render_field contact_form.name %}
    {% endif %}
    <label for="{{ contact_form.email.id_for_label }}">
        {{ contact_form.email.label }}
    </label>
    {% if poi_id %}
        {% render_field contact_form.email|append_attr:"form:ajax_contact_form" %}
    {% else %}
        {% render_field contact_form.email %}
    {% endif %}
    <label for="{{ contact_form.phone_number.id_for_label }}">
        {{ contact_form.phone_number.label }}
    </label>
    {% if poi_id %}
        {% render_field contact_form.phone_number|append_attr:"form:ajax_contact_form" %}
    {% else %}
        {% render_field contact_form.phone_number %}
    {% endif %}
    <label for="{{ contact_form.mobile_phone_number.id_for_label }}">
        {{ contact_form.mobile_phone_number.label }}
    </label>
    <div class="bg-yellow-100 border-l-4 border-yellow-500 text-orange-700 px-4 py-3 mb-5">
        <p>
            {% translate "Currently, the mobile phone number is not displayed in the Integreat App. You can find more information in the" %}
            <a class="text-blue-500 underline"
               href="https://wiki.integreat-app.de/kontakte-modul"
               target="_blank">Wiki</a>.
        </p>
    </div>
    {% if poi_id %}
        {% render_field contact_form.mobile_phone_number|append_attr:"form:ajax_contact_form" %}
    {% else %}
        {% render_field contact_form.mobile_phone_number %}
    {% endif %}
    <label for="{{ contact_form.website.id_for_label }}">
        {{ contact_form.website.label }}
    </label>
    {% if poi_id %}
        {% render_field contact_form.website|append_attr:"form:ajax_contact_form" %}
    {% else %}
        {% render_field contact_form.website %}
    {% endif %}
    {% if poi_id %}
        <button id="submit-contact-form-button"
                name="location"
                value="{{ poi_id }}"
                form="ajax_contact_form"
                data-btn-save-contact-form
                class="btn w-full mt-4 mb-2"
                data-url="{% url 'create_contact_ajax' region_slug=request.region.slug %}">
            {% translate "Submit" %}
        </button>
    {% endif %}
</div>
