{% extends "_base.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load rules %}

{% block content %}
<form method="post" id="content_form">
<div>
    <div class="flex flex-wrap mb-4">
        <div class="w-3/5 flex flex-wrap flex-col justify-center mb-6">
            <h2 class="heading font-normal">
	            {% with page_title=source_page_translation.title source_language=source_page_translation.language.translated_name target_language_name=target_language.translated_name %}
	            {% blocktrans %}Translate "{{ page_title }}" from {{ source_language }} to {{ target_language_name }}{% endblocktrans %}
	            {% endwith %}
            </h2>
        </div>
        <div class="w-2/5 flex justify-end mb-6">
            <a href="{% url 'edit_page' page_id=source_page_translation.page.id region_slug=region.slug language_slug=target_language.slug %}" class="bg-gray-400 hover:bg-gray-500 cursor-pointer text-white font-bold py-3 px-4 rounded mr-2">
                {% trans 'Go Back to Page Editor' %}
            </a>
            {% has_perm 'cms.edit_page' request.user source_page_translation.page as can_edit_page %}
            {% if not source_page_translation.page.archived %}
            {% if can_edit_page %}
            <input type="submit" name="submit_draft" class="bg-gray-500 hover:bg-gray-600 cursor-pointer text-white font-bold py-3 px-4 rounded mr-2" value="{% trans 'Save as draft' %}" />
            {% endif %}
            {% has_perm 'cms.publish_page' request.user source_page_translation.page as can_publish_page %}
            {% if can_publish_page %}
            <input type="submit" name="submit_public" class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-4 rounded" value="{% trans 'Publish' %}" />
            {% else %}
            <input type="submit" name="submit_review" class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-4 rounded" value="{% trans 'Submit for review' %}" />
            {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="flex flex-wrap">
        <div class="w-1/2 pr-2">
            <ul class="flex pl-4">
                <li class="z-10" style="margin-bottom: -2px">
                    <div class="bg-white text-blue-500 border-l-2 border-t-2 border-r-2 border-blue-500 font-bold rounded-t-lg p-4">
                        <div class="border-b-4 border-white">
                            {% if source_page_translation.is_outdated %}
                                <span title="{% trans 'Translation outdated' %}">
                                    <i data-feather="alert-triangle"></i>
                                </span>
                            {% elif source_page_translation.currently_in_translation %}
                                <span title="{% trans 'Currently in translation' %}">
                                    <i data-feather="clock"></i>
                                </span>
                            {% else %}
                                <span title="{% trans 'Translation up-to-date' %}">
                                    <i data-feather="check"></i>
                                </span>
                            {% endif %}
                            {{ source_page_translation.language.translated_name }}
                        </div>
                    </div>
                </li>
            </ul>
            <div class="w-full p-4 mb-4 rounded border-2 border-solid border-blue-500 shadow bg-white">
                <label class="inline-block mt-4 mb-2 font-bold">{% trans 'Version' %}:</label>
                {{ source_page_translation.version }}<br>
                <label class="inline-block mb-2 font-bold">{% trans 'Status' %}:</label>
                {{ source_page_translation.get_status_display }}
                <label class="block mb-2 font-bold">{% trans 'Permalink' %}</label>
                <div class="appearance-none block mb-2 w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400">
                    {% spaceless %}
                    <div style="display: table; white-space: nowrap;">
                        <span style="display: table-cell;">https://integreat.app/{{ region.slug }}/{{ source_page_translation.language.slug }}/</span>
                        {% if source_page_translation.ancestor_path %}
                        <span style="display: table-cell;">{{ source_page_translation.ancestor_path }}/</span>
                        {% endif %}
                        <span style="display: table-cell; width: 100%;">
                            <input type="text" value="{{source_page_translation.slug}}" class="w-full rounded" disabled>
                        </span>
                    </div>
                    {% endspaceless %}
                </div>
                <label class="block mb-2 font-bold">{% trans 'Title' %}</label>
                <input type="text" value="{{source_page_translation.title}}" class="appearance-none block w-full bg-gray-200 text-xl border border-gray-200 rounded py-3 px-4 leading-tight" disabled>
	            <div class="mt-4">
                    <label class="block mt-4 font-bold" style="margin-bottom: 86px;">{% trans 'Content' %}</label>
                    <textarea id="source_translation_tinymce" cols="40" rows="10" class="tinymce_textarea bg-gray-200 w-full p-2" disabled>{{source_page_translation.text}}</textarea>
                </div>

                <span class="block font-bold mt-4 mb-4">{% trans 'Copy content' %}</span>
                <button id="copy-translation-content" title="{% trans 'Copy content' %}" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                    {% with source_language=source_page_translation.language.translated_name target_language_name=target_language.translated_name %}
                        {% blocktrans %}Copy content of {{ source_language }} to {{ target_language_name }}{% endblocktrans %}
                    {% endwith %}
                    <i data-feather="arrow-right-circle" class="mr-2"></i>
                </button>
            </div>
        </div>
        <div class="w-1/2 pr-2">
            <ul class="flex pl-4">
                <li class="z-10" style="margin-bottom: -2px">
                    <div class="bg-white text-blue-500 border-l-2 border-t-2 border-r-2 border-blue-500 font-bold rounded-t-lg p-4">
                        <div class="border-b-4 border-white">
                            {% if page_translation_form.instance.id %}
                                {% if page_translation_form.instance.is_outdated %}
                                    <span title="{% trans 'Translation outdated' %}">
                                        <i data-feather="alert-triangle"></i>
                                    </span>
                                {% elif page_translation_form.instance.currently_in_translation %}
                                    <span title="{% trans 'Currently in translation' %}">
                                        <i data-feather="clock"></i>
                                    </span>
                                {% else %}
                                    <span title="{% trans 'Translation up-to-date' %}">
                                        <i data-feather="check"></i>
                                    </span>
                                {% endif %}
                            {% else %}
                                <span title="{% trans 'Create Translation' %}">
                                    <i data-feather="plus"></i>
                                </span>
                            {% endif %}
                            {{ target_language.translated_name }}
                        </div>
                    </div>
                </li>
            </ul>
            <div class="w-full p-4 mb-4 rounded border-2 border-solid border-blue-500 shadow bg-white">
                {% csrf_token %}
                {{ page_translation_form.errors }}
                {% if page_translation_form.instance.id %}
                    <label class="inline-block mt-4 mb-2 font-bold">{% trans 'Version' %}:</label>
                    {{ page_translation_form.instance.version }}<br>
                    <label class="inline-block mb-2 font-bold">{% trans 'Status' %}:</label>
                    {{ page_translation_form.instance.get_status_display }}
                {% else %}
                    <label class="inline-block mt-4 mb-2 font-bold">{% trans 'Version' %}:</label>
                    {% trans 'New' %}<br>
                    <label class="inline-block mb-2 font-bold">{% trans 'Status' %}:</label>
                    {% trans 'Not saved yet' %}
                {% endif %}
                <label class="block mb-2 font-bold">{% trans 'Permalink' %}</label>
                <div class="appearance-none block mb-2 w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400">
                    {% trans ' Leave blank to generate unique permalink from title' as slug_placeholder%}
                    {% spaceless %}
                    <div style="display: table; white-space: nowrap;">
                        <span style="display: table-cell;">https://integreat.app/{{ region.slug }}/{{ target_language.slug }}/</span>
                        {% if page_translation_form.instance.ancestor_path %}
                        <span style="display: table-cell;">{{ page_translation_form.instance.ancestor_path }}/</span>
                        {% endif %}
                        <span style="display: table-cell; width: 100%;">{% render_field page_translation_form.slug placeholder=slug_placeholder class="w-full rounded" %}</span>
                    </div>
                    {% endspaceless %}
                </div>
                <label for="{{ page_translation_form.title.id_for_label }}" class="block mb-2 font-bold">{{ page_translation_form.title.label }}</label>
                {% render_field page_translation_form.title|add_error_class:"border-red-500" class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                <label for="{{ page_translation_form.text.id_for_label }}" class="block mb-2 mt-4 font-bold">{{ page_translation_form.text.label }}</label>
                {% render_field page_translation_form.text|add_error_class:"border-red-500" class="bg-gray-200 w-full p-2 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-400 rounded tinymce_textarea" id="target_translation_tinymce" %}
                <span class="block mb-2 mt-4 font-bold">{% trans 'Implications on other translations' %}</span>
                {% render_field page_translation_form.minor_edit id="minor_edit" %}
                <label for="{{ page_translation_form.minor_edit.id_for_label }}" class="text-s">{{ page_translation_form.minor_edit.label }}</label>
                <div class="my-2 text-s text-gray-600">{{ page_translation_form.minor_edit.help_text }}</div>
            </div>
        </div>
    </div>
</div>
</form>

{% if not can_edit_page or page_translation_form.instance.id and page_translation_form.instance.page.archived %}
    {% include '../_tinymce_config.html' with readonly=1 %}
{% else %}
    {% include '../_tinymce_config.html' %}
{% endif %}

{% endblock %}

{% block javascript %}
<script src="{% static 'editor.js' %}"></script>
<link href="{% static 'editor.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
