{% load i18n %}
{% load content_filters %}
{% load page_filters %}
<tr class="border-t border-b border-solid border-gray-200 hover:bg-gray-100{% if page.depth > 0 %} child level-{{page.depth}}{% endif %}">
    <td class="hierarchy single_icon">
        <span class="text-gray-800 block py-3 pl-4 pr-2" title="{% trans 'Drag & drop is disabled for archived pages.' %}">
            <i data-feather="move"></i>
        </span>
    </td>
    <td>
        {% if page.explicitly_archived %}
            <a  title="{% trans 'This page is archived.' %}" href="{% url 'edit_page' page_id=page.id region_slug=region.slug language_slug=language.slug %}" class="block py-3 px-2 text-gray-800">
                {% trans 'Archived' %}
            </a>
        {% else %}
            <a  title="{% trans 'This page is archived, because at least one of its parent pages is archived.' %}" href="{% url 'edit_page' page_id=page.id region_slug=region.slug language_slug=language.slug %}" class="block py-3 px-2 text-gray-800">
                {% trans 'Archived, because a parent page is archived' %}
            </a>
        {% endif %}
    </td>
    <td>
        <a href="{% url 'edit_page' page_id=page.id region_slug=region.slug language_slug=language.slug %}" class="block py-3 px-2 text-gray-800">
            {% if page_translation %}
                {{ page_translation.title }}
            {% else %}
                <i>{% trans 'Translation not available' %}</i>
            {% endif %}
        </a>
    </td>
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE != language.slug %}
        {% get_language LANGUAGE_CODE as backend_language %}
        {% if backend_language %}
            {% get_translation page LANGUAGE_CODE as backend_translation %}
            <td>
                <a href="{% url 'edit_page' page_id=page.id region_slug=region.slug language_slug=LANGUAGE_CODE %}" class="block py-3 px-2 text-gray-800">
                    {% if backend_translation %}
                        {{ backend_translation.title }}
                    {% else %}
                        <i>{% trans 'Translation not available' %}</i>
                    {% endif %}
                </a>
            </td>
        {% endif %}
    {% endif %}
    <td class="whitespace-nowrap">
        <div class="block py-3 px-2 text-gray-800">
            <div class="lang-grid">
                {% for other_language in languages %}
                    <a href="{% url 'edit_page' page_id=page.id region_slug=region.slug language_slug=other_language.slug %}">
                        {% get_translation page other_language.slug as other_translation %}
                        {% if other_translation %}
                            {% if other_translation.currently_in_translation %}
                                <span title="{% trans 'Currently in translation' %}">
                                    <i data-feather="clock" class="text-gray-800"></i>
                                </span>
                            {% elif other_translation.is_outdated %}
                                <span title="{% trans 'Translation outdated' %}">
                                    <i data-feather="alert-triangle" class="text-gray-800"></i>
                                </span>
                            {% else %}
                                <span title="{% trans 'Translation up-to-date' %}">
                                    <i data-feather="check" class="text-gray-800"></i>
                                </span>
                            {% endif %}
                        {% else %}
                            <span title="{% trans 'Translation missing' %}">
                                <i data-feather="x" class="text-gray-800"></i>
                            </span>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </div>
    </td>
    <td class="pl-2 pr-4 text-right">
        <!-- TODO: add link to view page in web app -->
        <a href="{% url 'view_page' page_id=page.id region_slug=region.slug language_slug=language.slug %}"
           target="_blank" rel="noopener noreferrer" title="{% trans 'View page' %}" class="py-3">
            <i data-feather="eye" class="inline-block text-gray-800"></i>
        </a>
        {% if page.explicitly_archived %}
            <button title="{% trans 'Restore page' %}" class="confirmation-button py-3 pl-2"
                    data-confirmation-title="{{ restore_dialog_title }}"
                    data-confirmation-text="{{ restore_dialog_text }}"
                    data-confirmation-subject="{{ page.backend_translation.title }}"
                    data-action="{% url 'restore_page' page_id=page.id region_slug=region.slug language_slug=language.slug %}">
                <i data-feather="refresh-ccw" class="inline-block text-gray-800"></i>
            </button>
        {% else %}
            <button title="{% trans 'To restore this page, you have to restore its archived parent page.' %}" class="py-3 pl-2">
                <i data-feather="refresh-ccw" class="inline-block text-gray-400"></i>
            </button>
        {% endif %}
        {% if user.is_superuser or user.is_staff %}
            {% if page.children.all %}
                <button title="{% trans 'You cannot delete a page which has subpages.' %}&#013;{% trans 'This also involves non-archived subpages.' %}" class="py-3 pl-2">
                    <i data-feather="trash-2" class="inline-block text-gray-400"></i>
                </button>
            {% else %}
                <button title="{% trans 'Delete page' %}" class="confirmation-button py-3 pl-2"
                    data-confirmation-title="{{ delete_dialog_title }}"
                    data-confirmation-text="{{ delete_dialog_text }}"
                    data-confirmation-subject="{{ page.backend_translation.title }}"
                    data-action="{% url 'delete_page' page_id=page.id region_slug=region.slug language_slug=language.slug %}">
                    <i data-feather="trash-2" class="inline-block text-gray-800"></i>
                </button>
            {% endif %}
        {% endif %}
    </td>
</tr>
