{% extends "_base.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load content_filters %}
{% load page_filters %}
{% load rules %}
{% load compress %}

{% block css %}
    <link href="{% static 'tinymce/skins/ui/oxide/skin.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'tinymce/skins/ui/oxide/content.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript_head %}
    <script src="{% static 'js/forms/autosave.js' %}"></script>
    <script src="{% static 'js/pages/page_permissions.js' %}"></script>
    <script src="{% static 'js/pages/page_side_by_side.js' %}"></script>
    <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'tinymce/themes/silver/theme.js' %}"></script>
    <script src="{% static 'tinymce/plugins/paste/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/fullscreen/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/autosave/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/link/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/preview/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/media/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/image/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/code/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/lists/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/directionality/plugin.js' %}"></script>
    <script src="{% static 'tinymce-i18n/langs/de.js' %}"></script>
    <script src="{% static 'js/copy-clipboard.js' %}"></script>
{% endblock %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}
{% unify_language_code LANGUAGE_CODE as LANGUAGE_CODE %}
{% has_perm 'cms.edit_page' request.user page as can_edit_page %}
<form enctype="multipart/form-data" method="post" id="content_form">
    {% csrf_token %}
    <div class="flex flex-wrap">
        <div class="w-4/5 flex flex-wrap flex-col justify-center mb-6">
            <h2 class="heading font-normal">
                {% if page %}
                    {% if page_translation_form.instance.id %}
                        {% with page_translation_form.instance.title as page_title %}
                            {% blocktrans %}Edit page "{{ page_title }}"{% endblocktrans %}
                        {% endwith %}
                        {% if LANGUAGE_CODE != language.code %}
                            {% get_translation page LANGUAGE_CODE as backend_translation %}
                            {% if backend_translation %}
                                ({% trans 'Title in' %} {% translated_language_name LANGUAGE_CODE %}: "{{ backend_translation.title }}")
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% trans 'Create new translation' %}
                    {% endif %}
                {% else %}
                    {% trans 'Create new page' %}
                {% endif %}
            </h2>
        </div>
        <div class="w-1/5 flex justify-end mb-6">
        {% if not page_form.instance.id or not page_form.instance.archived %}
            {% if can_edit_page %}
                <input type="submit" name="submit_draft" class="bg-gray-500 hover:bg-gray-600 cursor-pointer text-white font-bold py-3 px-4 rounded mr-2" value="{% trans 'Save as draft' %}" />
            {% endif %}
            {% has_perm 'cms.publish_page' request.user page as can_publish_page %}
            {% if can_publish_page %}
                <input type="submit" name="submit_public" class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-4 rounded mr-2" value="{% trans 'Publish' %}" />
            {% else %}
                <input type="submit" name="submit_review" class="cursor-pointer bg-blue-500 hover:bg-green-600 text-white font-bold py-3 px-4 rounded mr-2" value="{% trans 'Submit for review' %}" />
            {% endif %}
        {% endif %}
        </div>
        <div class="w-2/3 flex flex-wrap flex-col pr-2">
            {{page_form.errors}}
            {{page_translation_form.errors}}
            <ul class="flex flex-wrap pl-4">
                {% for other_language in languages %}
                    <li class="mr-1 {% if other_language == language %}z-10{% endif %}" style="margin-bottom: -2px">
                        <div class="bg-white text-blue-500 {% if other_language != language %}hover:bg-blue-500 hover:text-white{% endif %} border-l-2 border-t-2 border-r-2 border-blue-500 font-bold rounded-t-lg">
                            <div class="border-b-2 border-white">
                                {% if other_language == language %}
                                    <div class="{{ language.code }} p-4">
                                        {% if page %}
                                            {% if other_language in page.languages %}
                                                {% if page_translation_form.instance.is_outdated %}
                                                    <span title="{% trans 'Translation outdated' %}">
                                                        <i data-feather="alert-triangle" class="inline-block"></i>
                                                    </span>
                                                {% elif page_translation_form.instance.currently_in_translation %}
                                                    <span title="{% trans 'Currently in translation' %}">
                                                        <i data-feather="clock" class="inline-block"></i>
                                                    </span>
                                                {% else %}
                                                    <span title="{% trans 'Translation up-to-date' %}">
                                                        <i data-feather="check" class="inline-block"></i>
                                                    </span>
                                                {% endif %}
                                            {% else %}
                                                <span title="{% trans 'Translation missing' %}">
                                                    <i data-feather="x" class="inline-block"></i>
                                                </span>
                                            {% endif %}
                                        {% else %}
                                            <span title="{% trans 'Create Translation' %}">
                                                <i data-feather="plus" class="inline-block"></i>
                                            </span>
                                        {% endif %}
                                        {{ other_language.translated_name }}
                                    </div>
                                    <div class="hidden ajax p-4">
                                        {% if page_translation_form.instance.is_outdated_helper %}
                                            <span title="{% trans 'Translation outdated' %}">
                                                <i data-feather="alert-triangle" class="inline-block"></i>
                                            </span>
                                        {% else %}
                                            <span title="{% trans 'Translation up-to-date' %}">
                                                <i data-feather="check" class="inline-block"></i>
                                            </span>
                                        {% endif %}
                                        {{ other_language.translated_name }}
                                    </div>
                        {% else %}
                            <a class="p-4 block" style="color: inherit;" href="{% url 'edit_page' page_id=page.id region_slug=region.slug language_code=other_language.code %}">
                                {% if other_language in page.languages %}
                                    {% get_translation page_form.instance other_language.code as other_page_translation %}
                                    {% if other_page_translation.is_outdated %}
                                        <span title="{% trans 'Translation outdated' %}">
                                            <i data-feather="alert-triangle" class="inline-block"></i>
                                        </span>
                                    {% elif other_page_translation.currently_in_translation %}
                                        <span title="{% trans 'Currently in translation' %}">
                                            <i data-feather="clock" class="inline-block"></i>
                                        </span>
                                    {% else %}
                                        <span title="{% trans 'Translation up-to-date' %}">
                                            <i data-feather="check" class="inline-block"></i>
                                        </span>
                                    {% endif %}
                                {% else %}
                                    <span title="{% trans 'Translation missing' %}">
                                        <i data-feather="x" class="inline-block"></i>
                                    </span>
                                {% endif %}
                                {{ other_language.translated_name }}
                            </a>
                        {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="w-full mb-4 rounded border-2 border-blue-500 bg-white flex-auto">
                <div class="w-full p-4">
                    {% if page_translation_form.instance.id %}
                        <span class="inline-block mt-4 mb-2 font-bold">{% trans 'Revision' %}:</span>
                        {{ page_translation_form.instance.version }}
                        (<a href="{% url 'page_revisions' page_id=page.id region_slug=region.slug language_code=language.code %}" class="text-blue-500 hover:underline">{% trans 'Show revisions' %}</a>)<br>
                        <span class="inline-block mb-2 font-bold">{% trans 'Status' %}:</span>
                        {% if page.explicitly_archived %}
                            {% trans 'Archived' %}
                        {% elif page.implicitly_archived %}
                            {% trans 'Archived, because a parent page is archived' %}
                        {% else %}
                            {{ page_translation_form.instance.get_status_display }}
                        {% endif %}<br>
                        <span class="inline-block mb-2 font-bold">{% trans 'Short URL' %}:</span>
                        <a href="{{ page_translation_form.instance.short_url }}" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">{{ page_translation_form.instance.short_url }}</a>
                        <a href="#" onclick="short_url_to_clipboard('{{ page_translation_form.instance.short_url }}');" title="{% trans 'Copy to clipboard' %}" class="px-2 text-gray-800 hover:text-blue-500">
                            <i data-feather="copy" class="inline-block"></i>
                        </a><br>
                        {% if page_translation_form.instance.currently_in_translation %}
                            <div id="trans-warn">
                                <i data-feather="alert-triangle" class="inline-block text-red-800"></i>
                                <label class="inline-block mb-2 font-bold">{% trans 'Warning' %}:</label>
                                {% trans 'Translation in progress' %}
                                <a href="#" onclick="unset_translation_state('{{ page.id }}', '{{ page_translation_form.instance.language.code }}');"
                                        id="undo-translation"
                                        class="italic text-purple-500"
                                        data-url="{% url 'post_translation_state_ajax' region_slug=region.slug %}">
                                    {% trans 'Abort translation process' %}
                                </a><br>
                            </div>
                        {% endif %}
                    {% endif %}
                    <label for="{{ page_translation_form.slug.id_for_label }}" class="block mb-2 font-bold">{{ page_translation_form.slug.label }}</label>
                    <div class="my-2 text-s text-gray-600">{{ page_translation_form.slug.help_text }}</div>
                    <div id="slug-div" class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400">
                        {% spaceless %}
                            <div style="display: table; white-space: nowrap;">
                                <span style="display: table-cell;">https://integreat.app/{{ region.slug }}/{{ language.code }}/</span>
                                {% if page_translation_form.instance.ancestor_path %}
                                    <span style="display: table-cell;">{{ page_translation_form.instance.ancestor_path }}/</span>
                                {% endif %}
                                <span style="display: table-cell; width: 100%;">{% render_field page_translation_form.slug|add_error_class:"slug-error" class="w-full rounded" %}</span>
                            </div>
                        {% endspaceless %}
                    </div>
                    <label for="{{ page_translation_form.title.id_for_label }}" class="block mb-2 mt-4 font-bold">{{ page_translation_form.title.label }}</label>
                    {% render_field page_translation_form.title class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                    <label for="{{ page_translation_form.text.id_for_label }}" class="block mb-2 mt-4 font-bold">{{ page_translation_form.text.label }}</label>
                    {% render_field page_translation_form.text class="bg-gray-200 w-full p-2 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-400 rounded tinymce_textarea" %}
                    <span class="block mb-2 mt-4 font-bold">{% trans 'Implications on other translations' %}</span>
                    {% render_field page_translation_form.minor_edit %}
                    <label for="{{ page_translation_form.minor_edit.id_for_label }}" class="text-s">{{ page_translation_form.minor_edit.label }}</label>
                    <div class="my-2 text-s text-gray-600">{{ page_translation_form.minor_edit.help_text }}</div>
                </div>
            </div>
        </div>
        <div class="w-1/3 pl-4 flex flex-wrap flex-col">    
            <ul class="flex pl-4">
                <li class="z-10" style="margin-bottom: -2px">
                    <div class="bg-white text-blue-500 border-l-2 border-t-2 border-r-2 border-blue-500 font-bold rounded-t-lg p-4">
                        <div class="border-b-4 border-white">
                            <i data-feather="flag" class="inline-block"></i>
                            {% trans 'Settings for all translations' %}
                        </div>
                    </div>
                </li>
            </ul>
            <div class="w-full mb-4 rounded border-2 border-solid border-blue-500 shadow bg-white">
                <div class="w-full p-4">
                    <span class="font-bold mb-2 mt-4 block">{% trans 'Positioning' %}</span>
                    <label for="{{ page_form.parent.id_for_label }}" class="text-xs uppercase">{{ page_form.parent.label }}</label>
                    <div class="relative my-2">
                        {% render_field page_form.related_page %}
                        {% render_field page_form.position %}
                        {% render_field page_form.parent id="parent" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-800 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-800">
                            <img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
                        </div>
                    </div>
                    <label class="text-xs uppercase">{% trans 'Order' %}</label>
                    <div id="page_order_table" class="mb-4">
                        {% include "pages/_page_order_table.html" %}
                    </div>
                    {% if page %}
                        <div class="{% if not request.user.profile.expert_mode %}hidden{% endif %}">
                            <span class="font-bold mb-2 mt-4">{% trans 'Embed live content' %}</span>
                            <div class="relative my-2">
                                {% render_field page_form.mirrored_page_region id="mirrored_page_region" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-800 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-800">
                                    <img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
                                </div>
                            </div>
                            <div class="relative my-2 {% if not page.mirrored_page %}hidden{% endif %}" id="mirrored_page_div" data-url="{% url 'render_mirrored_page_field' %}?page_id={{ page_form.instance.id }}&region_id=">
                                {% include "pages/_mirrored_page_field.html" %}
                            </div>
                            <div class="relative my-2 pb-2 {% if not page.mirrored_page %}hidden{% endif %}" id="mirrored_page_first_div">
                                {% render_field page_form.mirrored_page_first id="mirrored_page_first" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-800 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-800">
                                    <img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if perms.cms.grant_page_permissions and region.page_permissions_enabled and request.user.profile.expert_mode %}
                        <span class="block font-bold mb-2">{% trans 'Additional permissions for this page' %}</span>
                        <p class="italic">{% trans "This affects only users, who don't have the permission to change arbitrary pages anyway." %}</p>
                        <div id="page_permission_table">
                            {% include "pages/_page_permission_table.html" %}
                        </div>
                    {% endif %}
                    <div class="pt-2 pb-4">
                        <span class="block font-bold mb-4">{{ page_form.icon.label }}</span>
                        {% render_field page_form.icon id="icon" class="image-field" %}
                        <label for="{{ page_form.icon.id_for_label }}" class="block w-full text-center font-bold bg-blue-500 hover:bg-blue-600 focus:bg-blue-500 text-white font-bold py-3 px-4 rounded cursor-pointer relative">
                            <i data-feather="upload" class="inline-block"></i>
                            <span class="standard_text">{% trans 'Set icon' %}</span>
                            <span class="filename"></span>
                        </label>
                    </div>
                    {% if page and can_edit_page %}
                        <div class="pt-2 pb-4">
                            {% if page.explicitly_archived %}
                                <span class="block font-bold mb-4">{% trans 'Restore page' %}</span>
                                <button title="{% trans 'Restore page' %}" class="confirmation-button w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
                                    data-confirmation-title="{{ restore_dialog_title }}"
                                    data-confirmation-text="{{ restore_dialog_text }}"
                                    data-confirmation-subject="{{ page_translation_form.instance.title }}"
                                    data-action="{% url 'restore_page' page_id=page_form.instance.id region_slug=region.slug language_code=language.code %}">
                                    <i data-feather="refresh-ccw" class="inline-block mr-2"></i> {% trans 'Restore this page' %}
                                </button>
                            {% elif page.implicitly_archived %}
                                <span class="block font-bold mb-4">{% trans 'Restore page' %}</span>
                                <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-500 px-4 py-3 mb-5" role="alert">
                                    <p>
                                        {% blocktrans count counter=page.explicitly_archived_ancestors.count trimmed %}
                                            To restore this page, you have to restore its parent page:
                                        {% plural %}
                                            To restore this page, you have to restore all its archived parent pages:
                                        {% endblocktrans %}
                                    </p>
                                </div>
                                {% for ancestor in page.explicitly_archived_ancestors %}
                                    <a href="{% url 'edit_page' page_id=ancestor.id region_slug=region.slug language_code=language.code %}" class="block pt-2 hover:underline">
                                        <i data-feather="edit" class="inline-block mr-2"></i> {{ ancestor.best_language_title }}
                                    </a>
                                {% endfor %}
                            {% else %}
                                <span class="block font-bold mb-4">{% trans 'Archive page' %}</span>
                                <button title="{% trans 'Archive page' %}" class="confirmation-button w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
                                    data-confirmation-title="{{ archive_dialog_title }}"
                                    data-confirmation-text="{{ archive_dialog_text }}"
                                    data-confirmation-subject="{{ page_translation_form.instance.title }}"
                                    data-action="{% url 'archive_page' page_id=page_form.instance.id region_slug=region.slug language_code=language.code %}">
                                    <i data-feather="archive" class="inline-block mr-2"></i>
                                    {% trans 'Archive this page' %}
                                </button>
                            {% endif %}
                        </div>
                        {% if user.is_superuser or user.is_staff %}
                            <div class="pt-2 pb-4">
                                <span class="block font-bold mb-4">{% trans 'Delete page' %}</span>
                                {% if page.children.exists %}
                                    <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-500 px-4 py-3 mb-5" role="alert">
                                        <p>
                                            {% trans 'You cannot delete a page which has subpages.' %}<br>
                                            {% blocktrans count counter=page.get_descendants.count trimmed %}
                                                To delete this page, you have to delete or move its subpage first:
                                            {% plural %}
                                                To delete this page, you have to delete or move its subpages first:
                                            {% endblocktrans %}
                                        </p>
                                    </div>
                                    {% for descendant in page.get_descendants %}
                                    <a href="{% url 'edit_page' page_id=descendant.id region_slug=region.slug language_code=language.code %}" class="block pt-2 hover:underline">
                                        <i data-feather="edit" class="inline-block mr-2"></i> {{ descendant.best_language_title }}
                                    </a>
                                    {% endfor %}
                                {% else %}
                                    <button title="{% trans 'Delete page' %}" class="confirmation-button w-full bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
                                        data-confirmation-title="{{ delete_dialog_title }}"
                                        data-confirmation-text="{{ delete_dialog_text }}"
                                        data-confirmation-subject="{{ page_translation_form.instance.title }}"
                                        data-action="{% url 'delete_page' page_id=page_form.instance.id region_slug=region.slug language_code=language.code %}">
                                        <i data-feather="trash-2" class="inline-block mr-2"></i>
                                        {% trans 'Delete this page' %}
                                    </button>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% if page %}
                <ul class="flex pl-4">
                    <li class="z-10" style="margin-bottom: -2px">
                        <div class="bg-white text-blue-500 border-l-2 border-t-2 border-r-2 border-blue-500 font-bold rounded-t-lg p-4">
                            <div class="border-b-4 border-white">
                                <i data-feather="columns" class="inline-block"></i>
                                {% trans 'Side-by-Side view' %}
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="w-full mb-4 rounded border-2 border-solid border-blue-500 shadow bg-white">
                    <div class="w-full p-4">
                        <span class="font-bold mb-2 mt-4 block">{% trans 'Direction of translation' %}</span>
                        <div class="relative">
                            <select id="side-by-side-select" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-800 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-400">
                                <option value="">---------</option>
                                {% for side_by_side_language_option in side_by_side_language_options %}
                                <option value="{% url 'sbs_edit_page' page_id=page.id region_slug=region.slug language_code=side_by_side_language_option.value %}"{% if side_by_side_language_option.disabled %}disabled="disabled"{% elif side_by_side_language_option.selected %}selected="selected"{% endif %}>{{ side_by_side_language_option.label }}</option>
                                {% endfor %}
                            </select>
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-800">
                                <img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
                            </div>
                        </div>
                        <a id="side-by-side-link" class="block pointer-events-none w-full bg-gray-400 text-white text-center font-bold py-2 px-4 mt-2 rounded">
                            <i data-feather="external-link" class="inline-block mr-2"></i>
                            {% trans 'Show translations side by side' %}
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</form>

{% get_current_language as LANGUAGE_CODE %}
{% has_perm 'cms.edit_page' request.user page as can_edit_page %}
<div
        id="tinymce-config-options"
        data-language="{{ LANGUAGE_CODE|slice:'0:2' }}"
        data-notranslate-tooltip="{% trans 'Do not translate the selected text.' %}"
        data-pinicon-text="{% trans 'Location' %}"
        data-pinicon-src="{% static 'svg/pin.svg' %}"
        data-wwwicon-text="{% trans 'Link' %}"
        data-wwwicon-src="{% static 'svg/world-wide-web.svg' %}"
        data-callicon-text="{% trans 'Phone' %}"
        data-callicon-src="{% static 'svg/call.svg' %}"
        data-clockicon-text="{% trans 'Opening Hours' %}"
        data-clockicon-src="{% static 'svg/clock.svg' %}"
        data-aticon-text="{% trans 'Email' %}"
        data-aticon-src="{% static 'svg/at.svg' %}"
        data-ideaicon-text="{% trans 'Hint' %}"
        data-ideaicon-src="{% static 'svg/idea.svg' %}"
        data-customcss-src="{% static 'css/tinymce_custom.css' %}"
        {% if not can_edit_page or page_form.instance.id and page_form.instance.archived %}
        data-readonly="1"
        {% endif %}
></div>

{% include "../generic_confirmation_dialog.html" %}
{% endblock %}

{% block javascript %}
<script src="{% static 'js/confirmation-popups.js' %}"></script>
<script src="{% static 'js/pages/page_order.js' %}"></script>
<script src="{% static 'js/pages/page_mirroring.js' %}"></script>
<script src="{% static 'js/pages/unset_translation_state.js' %}"></script>
<script src="{% static 'js/forms/tinymce-init.js' %}"></script>
<script src="{% static 'js/forms/slug-error.js' %}"></script>
<script src="{% static 'js/forms/file-field.js' %}"></script>
{% endblock %}
