{% load i18n %}
{% load widget_tweaks %}
<form class="p-4" id="user-filter-form">
    {% include "../_keep_pagination_data.html" %}
    <div class="grid grid-cols-3 gap-4 mb-4">
        <div>
            <label for="{{ filter_form.role.id_for_label }}">{{ filter_form.role.label }}</label>
            {% render_field filter_form.role %}
        </div>
        <div>
            <label for="{{ filter_form.permissions.id_for_label }}">{{ filter_form.permissions.label }}</label>
            {% render_field filter_form.permissions %}
        </div>
        <div>
            <label for="{{ filter_form.region.id_for_label }}">{{ filter_form.region.label }}</label>
            {% render_field filter_form.region %}
        </div>
    </div>
    <div class="flex justify-end gap-4">
        <a id="filter-reset" class="btn btn-light-blue">{% translate "Reset filter" %}</a>
        <button class="btn">{% translate "Apply filter" %}</button>
    </div>
</form>
