{% load i18n %}
<tr class="border-t border-solid border-gray-200 hover:bg-gray-100">
    <td class="pl-4">
        <a href="{% url 'edit_region_user' region_slug=request.region.slug user_id=user.id %}"
           class="block py-3 pr-2 text-gray-800">
            {{ user.username }}
        </a>
    </td>
    <td class="pr-2">{{ user.first_name }}</td>
    <td class="pr-2">{{ user.last_name }}</td>
    <td class="pr-2">
        <span class="hover:underline text-blue-500 hover:text-blue-600">{{ user.email|urlize }}</span>
    </td>
    <td class="pr-2">{{ user.role }}</td>
    <td class="pr-2 whitespace-nowrap">
        {% if user.last_login %}
            {{ user.last_login }}
        {% else %}
            <span title="{% translate "No login yet" %}">
                <i icon-name="x" class="text-red-500"></i>
            </span>
        {% endif %}
    </td>
    <td class="pr-4 whitespace-nowrap">
        {% if user.is_active %}
            <span title="{% translate "Active" %}">
                <i icon-name="check" class="text-green-500"></i>
            </span>
        {% else %}
            <span title="{% translate "Inactive" %}">
                <i icon-name="x" class="text-red-500 align-text-top"></i>
            </span>
            <form method="post"
                  action="{% url 'resend_activation_link_region' region_slug=request.region.slug user_id=user.id %}"
                  class="inline">
                {% csrf_token %}
                <button class="bg-transparent hover:underline text-blue-500 hover:text-blue-600 cursor-pointer">
                    {% translate "Resend activation link" %}
                </button>
            </form>
        {% endif %}
    </td>
</tr>
