/*
 * Raleway
 *
 * This font is used for the TOC and headings in PDFs for latin alphabets.
 * The separate css file is required because the PDF library xhtml2pdf doesn't understand the multiple src syntax for browser compatibility.
 */

/* raleway-regular - latin */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: normal;
    src: url("./raleway-v28-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf");
}

/* raleway-700 - latin */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    src: url("./raleway-v28-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.ttf");
}
