{% extends "_base.html" %}
{% load l10n %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}
    <form enctype="multipart/form-data" method="post" data-unsaved-warning>
        {% csrf_token %}
        <div class="flex flex-wrap justify-between mb-4">
            <h1 class="heading overflow-hidden text-ellipsis">{% translate "Manage Translations" %}</h1>
            {% if perms.cms.manage_translations %}
                <button class="btn ml-auto mr-0">{% translate "Save" %}</button>
            {% endif %}
        </div>
        <div class="grid xl:grid-cols-2 2xl:grid-cols-3 gap-4">
            <div class="rounded border border-solid border-blue-500 shadow-2xl bg-white">
                <div class="p-4 rounded bg-water-500">
                    <h3 class="heading font-bold text-black">
                        <i icon-name="bot" class="mr-2"></i> {% translate "Machine Translation" %}
                    </h3>
                </div>
                <div class="px-4 pb-4 divide-y divide-gray-200 space-y-4">
                    <div>
                        <!-- Options related to the type of content which can be machine translated -->
                        <label>{% trans "Automatic translations" %}</label>
                        <div class="help-text">{% translate "Automatically machine translate the following types of content:" %}</div>
                        <label for="{{ form.machine_translate_pages.id_for_label }}">{{ form.machine_translate_pages.label }}</label>
                        {% render_field form.machine_translate_pages|add_error_class:"border-red-500" %}
                        <label for="{{ form.machine_translate_events.id_for_label }}">{{ form.machine_translate_events.label }}</label>
                        {% render_field form.machine_translate_events|add_error_class:"border-red-500" %}
                        <label for="{{ form.machine_translate_pois.id_for_label }}">{{ form.machine_translate_pois.label }}</label>
                        {% render_field form.machine_translate_pois|add_error_class:"border-red-500" %}
                    </div>
                </div>
            </div>
            <div class="rounded border border-solid border-blue-500 shadow-2xl bg-white">
                <div class="p-4 rounded bg-water-500">
                    <h3 class="heading font-bold text-black">
                        <i icon-name="flag" class="mr-2"></i> {{ form.machine_translatable_languages.label }}
                    </h3>
                </div>
                <div class="px-4 pb-4 divide-y divide-gray-200 space-y-4">
                    <!-- Select which languages can be machine translated -->
                    {% if form.machine_translatable_languages.field.queryset.exists %}
                        <div>
                            <div class="help-text mt-4">{{ form.machine_translatable_languages.help_text }}</div>
                            {% render_field form.machine_translatable_languages %}
                        </div>
                    {% endif %}
                    {% if form.unavailable_languages %}
                        <div>
                            <div class="help-text mt-4">{% translate "These languages are currently unavailable for machine translations" %}:</div>
                            <p>{{ form.unavailable_languages|join:", " }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="rounded border border-solid border-blue-500 shadow-2xl bg-white">
                <div class="p-4 rounded bg-water-500">
                    <h3 class="heading font-bold text-black">
                        <i icon-name="pie-chart" class="mr-2"></i> {% translate "Translation Budget" %}
                    </h3>
                </div>
                <div class="px-4 pb-4 divide-y divide-gray-200 space-y-4">
                    <div>
                        <div id="budget-graph-container">
                            <canvas id="budget-graph"
                                    data-budget-used="{{ request.region.deepl_budget_used }}"
                                    data-budget-total="{{ request.region.deepl_budget }}"></canvas>
                        </div>
                        <div class="text-center font-bold">
                            <p>{% translate "Available credits" %}</p>
                            <p>{{ request.region.deepl_budget_remaining|intcomma }} {% translate "words" %}</p>
                        </div>
                        <p>
                            {% blocktranslate trimmed with used=request.region.deepl_budget_used|intcomma total=request.region.deepl_budget|intcomma %}
                                {{ used }} of {{ total }} words used so far
                            {% endblocktranslate %}
                        </p>
                        <p id="deepl-renewal-date"
                           data-renewal-month="{{ request.region.deepl_renewal_month }}">
                            {% translate "Next reset date:" %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
