version: "3.8"

services:
  devcontainer:
    env_file: ./.env
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace:cached
      - type: bind
        source: ${INTEGREAT_CMS_CONFIG:-}
        target: /etc/integreat-cms.ini
    network_mode: service:db
    depends_on:
      - db

  db:
    container_name: integreat_django_postgres
    image: postgres:latest
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql
    environment:
      POSTGRES_USER: integreat
      POSTGRES_DB: integreat
      POSTGRES_PASSWORD: password

volumes:
  postgres-data:
