{% load i18n %}
{% load accommodation_filters %}

<tr class="border-t border-solid border-grey-lighter hover:bg-grey-lightest">
	<td class="py-3 px-2">
		{{ accommodation.id }}
	</td>
	<td>
		<a href="{% url 'edit_accommodation' accommodation_id=accommodation.id region_slug=region.slug language_code=language.code %}" class="block py-3 px-2 text-grey-darkest">
			{{ accommodation|accommodation_translation_title:language }}
		</a>
	</td>
	<td>
		<div class="block py-3 px-2 text-grey-darkest">
			<div class="lang-grid">
				{% for other_language in languages %}
					<a href="{% url 'edit_accommodation' accommodation_id=accommodation.id region_slug=region.slug language_code=other_language.code %}">
						<i data-feather="{% if other_language in accommodation.languages %}edit-2{% else %}plus{% endif %}" class="text-grey-darkest"></i>
					</a>
				{% endfor %}
			</div>
		</div>
	</td>
	<td>
		{{ accommodation.institution }}
	</td>
	<td>
		{{ accommodation.address }}
	</td>
	<td>
		{{ accommodation.postcode }}
	</td>
	<td>
		{{ accommodation.city }}
	</td>
	<td>
		{{ accommodation.country }}
	</td>
    <td class="pl-2 pr-4">
        <!-- TODO: add link to view accommodation in web app -->
        <a href="#" class="py-3">
            <i data-feather="eye" class="text-grey-darkest"></i>
        </a>
	    <a href="{% url 'manage_beds' accommodation_id=accommodation.id region_slug=region.slug language_code=language.code %}" class="py-3 pl-2" title="{% trans 'Manage Beds' %}">
		    <i data-feather="moon" class="text-grey-darkest"></i>
	    </a>
	    <button title="{% trans 'Archive Accommodation' %}" class="confirmation-button py-3 pl-2" data-accommodation-id="{{ accommodation.id }}" data-accommodation-title="{{ accommodation|accommodation_translation_title:language }}" data-action="{% url 'archive_accommodation' accommodation_id=accommodation.id region_slug=region.slug language_code=language.code %}" data-confirmation-popup="#confirm-archive-accommodation">
		    <i data-feather="archive" class="text-grey-darkest"></i>
	    </button>
        {% if user.is_superuser or user.is_staff %}
            <button title="{% trans 'Delete Accommodation' %}" class="confirmation-button py-3 pl-2" data-accommodation-id="{{ accommodation.id }}" data-accommodation-title="{{ accommodation|accommodation_translation_title:language }}" data-action="{% url 'delete_accommodation' accommodation_id=accommodation.id region_slug=region.slug language_code=language.code %}" data-confirmation-popup="#confirm-delete-accommodation">
                <i data-feather="trash-2" class="text-grey-darkest"></i>
            </button>
        {% endif %}
    </td>
</tr>
