{% extends "_base.html" %}
{% load static %}
{% load i18n %}

{% block javascript_head %}
<script src="{% static 'chart.js/dist/Chart.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2 class="heading font-normal mb-2">{% trans 'Translation Report' %}</h2>
    </div>
    <div class="flex flex-row flex-wrap flex-grow mt-2">
        <div class="md:w-3/4 p-3">
            <div class="bg-gray-100 border border-gray-400 rounded shadow">
                <div class="border-b border-gray-500 p-3">
                    <h2 class="text-gray-800">{% trans 'Translation Coverage' %}</h2>
                </div>
                <div class="p-5 bg-white">
                    <canvas id="visitor-chart" class="chartjs"></canvas>
                    <script>
                        var chart = document.getElementById("visitor-chart");
                        Chart.plugins.register({
                            beforeDraw: function(chartInstance) {
                            var ctx = chartInstance.chart.ctx;
                            ctx.fillStyle = "white";
                            ctx.fillRect(0, 0, chartInstance.chart.width, chartInstance.chart.height);
                            }
                        });
                        var graph = new Chart(chart, {
                            "type": "bar",
                            "data": {
                                "labels": [{% for language in languages %}"{{language.translated_name}}",{% endfor %}],
                                "datasets": [
                                    {
                                        "label": " {% trans 'Translations up-to-date' %}",
                                        "lineTension": 0,
                                        "data": [{% for language in languages %}"{{ language.num_page_translations_up_to_date }}",{% endfor %}],
                                        "type": "bar",
                                        "fill": true,
                                        "borderColor": "#48bb78",
                                        "backgroundColor": "#48bb78",
                                    },
                                    {
                                        "label": " {% trans 'Translations outdated' %}",
                                        "lineTension": 0,
                                        "data": [{% for language in languages %}"{{ language.num_page_translations_outdated }}",{% endfor %}],
                                        "type": "bar",
                                        "fill": true,
                                        "borderColor": "#ed8936",
                                        "backgroundColor": "#ed8936",
                                    },
                                    {
                                        "label": " {% trans 'Translations missing' %}",
                                        "lineTension": 0,
                                        "data": [{% for language in languages %}"{{ language.num_page_translations_missing }}",{% endfor %}],
                                        "type": "bar",
                                        "fill": true,
                                        "borderColor": "#f56565",
                                        "backgroundColor": "#f56565",},

                                    ]},
                            "options": {
                                "scales": {
                                    "xAxes": [{
							            "stacked": true,
                                    }],
                                    "yAxes": [{
                                        "stacked": true,
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}