{% load i18n %}
{% load tree_filters %}

{% if node.depth != 1 %}
<tr data-drop-id="{{ node.id }}" data-drop-position="left" class="drop drop-between h-3 -m-3 hidden level-{{node.depth}}"><td colspan="9"><div><span></span></div></td></tr>
{% endif %}
<tr data-drop-id="{{ node.id }}" data-drop-position="last-child" class="drop drop-on border-t border-b border-solid border-gray-200 hover:bg-gray-100{% if node.depth > 1 %} level-{{node.depth}}{% endif %}">
    <td class="hierarchy single_icon">
		<span data-drag-id="{{ node.id }}" data-node-descendants="{{ node|get_descendant_ids }}" class="drag text-gray-800 block py-1.5 pl-4 pr-2 cursor-move" draggable="true">
            <i data-feather="move" class="text-gray-800"></i>
        </span>
    </td>
	<td>
		<a href="{% url 'edit_language_tree_node' language_tree_node_id=node.id region_slug=request.region.slug %}" class="block py-1.5 px-2 text-gray-800">
			{{ node.translated_name }}
		</a>
	</td>
	<td>
		<a href="{% url 'edit_language_tree_node' language_tree_node_id=node.id region_slug=request.region.slug %}" class="block py-1.5 px-2 text-gray-800">
			{{ node.slug }}
		</a>
	</td>
	<td>
		<a href="{% url 'edit_language_tree_node' language_tree_node_id=node.id region_slug=request.region.slug %}" class="block py-1.5 px-2 text-gray-800">
			{{ node.language.bcp47_tag }}
		</a>
	</td>
	<td>
		<a href="{% url 'edit_language_tree_node' language_tree_node_id=node.id region_slug=request.region.slug %}" class="block py-1.5 px-2 text-gray-800">
			{{ node.language.get_text_direction_display }}
		</a>
	</td>
	<td>
		<a href="{% url 'edit_language_tree_node' language_tree_node_id=node.id region_slug=request.region.slug %}" class="block py-1.5 px-2 text-gray-800">
			<span class="fp fp-{{ node.language.primary_country_code }} fp-rounded " title="{{ node.language.get_primary_country_code_display }}"></span>
			<span class="fp fp-{{ node.language.secondary_country_code }} fp-rounded " title="{{ node.language.get_secondary_country_code_display }}"></span>
		</a>
	</td>
	<td>
		<div class="flex justify-center">
			{% if node.active %}
				<i data-feather="check" class="text-green-500"></i>
			{% else %}
				<i data-feather="x" class="text-red-500"></i>
			{% endif %}
		</div>
	</td>
	<td>
		<div class="flex justify-center">
			{% if node.visible %}
				<i data-feather="check" class="text-green-500"></i>
			{% else %}
				<i data-feather="x" class="text-red-500"></i>
			{% endif %}
		</div>
	</td>
	<td>
		<div class="flex justify-center">
			{% if perms.cms.delete_languagetreenode %}
				<button title="{% if not node.is_leaf %}{% trans 'You cannot delete a node which has children.' %}{% else %}{% trans 'Delete entire language node' %}{% endif %}"
					class="btn-icon confirmation-button"
					{% if not node.is_leaf %}disabled{% endif %}
					data-confirmation-title="{{ delete_dialog_title }}"
					data-confirmation-text="{{ delete_dialog_text }}"
					data-confirmation-subject="{{ node.translated_name }}"
					data-action="{% url 'delete_language_tree_node' region_slug=request.region.slug language_tree_node_id=node.id %}">
					<i data-feather="trash-2" class="{% if not node.is_leaf %}text-gray-400{% else %}text-gray-800{% endif %}"></i>
				</button>
			{% endif %}
		</div>
	</td>
</tr>
