{% extends "_base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="table-header">
    <h1 class="heading">{% trans 'Language tree' %}</h1>
    <div class="flex flex-wrap justify-end">
        {% if perms.cms.change_languagetreenode %}
            <a href="{% url 'new_language_tree_node' region_slug=request.region.slug %}" class="btn">
                {% trans 'Create language tree node' %}
            </a>
        {% endif %}
    </div>
</div>

<div class="table-listing">
    <table data-activate-tree-drag-drop class="w-full mt-4 rounded border border-solid border-gray-200 shadow bg-white">
        <thead>
            <tr class="border-b border-solid border-gray-200">
                <th class="text-sm text-left uppercase py-3 pl-4 pr-2 min">{% trans 'Hierarchy' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2">{% trans 'Language' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2">{% trans 'Slug' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2">{% trans 'BCP47 Tag' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2">{% trans 'Text direction' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2">{% trans 'Country Flags' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2 w-4">{% trans 'Active' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2 w-4">{% trans 'Visible' %}</th>
                <th class="text-sm text-left uppercase py-3 pl-2 pr-4 min">{% trans 'Delete' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for node in languagetreenodes %}
                {% include "language_tree/language_tree_node.html" %}
            {% empty %}
                <tr>
                    <td></td>
                    <td colspan="9" class="px-2 py-3">
                        {% trans 'No language tree available yet.' %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include "../generic_confirmation_dialog.html" %}
{% endblock %}
