/*
 * Noto Sans SC
 *
 * This font is used for chinese alphabets in PDFs.
 * The separate css file is required because the PDF library xhtml2pdf doesn't understand the multiple src syntax for browser compatibility.
 */

/* noto-sans-sc-regular - chinese-simplified */
@font-face {
    font-family: "Noto Sans SC";
    font-style: normal;
    font-weight: normal;
    src: url("./noto-sans-sc-v12-chinese-simplified-regular.ttf");
}

/* noto-sans-sc-700 - chinese-simplified */
@font-face {
    font-family: "Noto Sans SC";
    font-style: normal;
    font-weight: bold;
    src: url("./noto-sans-sc-v12-chinese-simplified-700.ttf");
}
