{% load page_filters %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}
{% if permission_message %}
    {% if permission_message.level_tag.value == 'info' %}
        <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 px-4 py-3 my-2"
             role="alert">
            <p>
                {{ permission_message.message }}
            </p>
        </div>
    {% endif %}
    {% if permission_message.level_tag.value == 'success' %}
        <div class="bg-green-100 border-l-4 border-green-500 text-green-800 px-4 py-3 my-2"
             role="alert">
            <p>
                {{ permission_message.message }}
            </p>
        </div>
    {% endif %}
    {% if permission_message.level_tag.value == 'warning' %}
        <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 px-4 py-3 my-2"
             role="alert">
            <p>
                {{ permission_message.message }}
            </p>
        </div>
    {% endif %}
    {% if permission_message.level_tag.value == 'error' %}
        <div class="bg-red-100 border-l-4 border-red-500 text-red-700 px-4 py-3 my-2"
             role="alert">
            <p>
                {{ permission_message.message }}
            </p>
        </div>
    {% endif %}
{% endif %}
{% translate "Add to authors" as button_description %}
{% include "../_generic_multiple_select.html" with field=page_form.authors users=page.authors.all page_id=page.id permission="edit" button_description=button_description %}
<div class="w-full flex flex-wrap mt-2">
    {% translate "Add to editors" as button_description %}
    {% include "../_generic_multiple_select.html" with field=page_form.editors users=page.editors.all page_id=page.id permission="publish" button_description=button_description %}
</div>
