{% load static %}
{% load i18n %}
{% load content_filters %}
{% load pdf_filters %}
{% load render_bundle from webpack_loader %}
{# djlint:off H006,H007,H016,H025,H030,H031 #}
<!DOCTYPE html>
<html lang="{{ language.bcp47_tag }}"
      dir="{% if right_to_left %}rtl{% else %}ltr{% endif %}">
    <head>
        <meta charset="utf-8" />
        {% render_bundle 'pdf' 'css' %}
    </head>
    <body class="{% if language.slug == 'zh' %}font-zh{% elif language.slug == 'am' or language.slug == 'ti' %}font-ethiopic{% elif language.slug == 'ka' %}font-georgian{% elif right_to_left %}font-rtl{% else %}font-latin{% endif %}{% if language.slug in prevent_italics %} no-italics{% endif %}">
        <div id="header">
            {% if region.icon and region.icon.file %}
                <img src="{% get_media_prefix %}{{ region.icon.file.name }}"
                     height="32"
                     alt="{{ region.icon.alt_text }}" />
            {% endif %}
        </div>
        <div id="footer">
            <table>
                <tr>
                    <td id="first-footer">
                    </td>
                    <td id="second-footer">{{ region.full_name }}</td>
                    <td id="third-footer">
                        <img src="{% static 'logos/'|add:BRANDING|add:'/'|add:BRANDING|add:'-logo.png' %}"
                             height="40"
                             alt="{{ BRANDING_TITLE }}" />
                    </td>
                </tr>
            </table>
        </div>
        {% if amount_pages > 1 %}
            <section class="toc-page">
                <h1 id="title_page">{{ language.table_of_contents }}</h1>
                <nav class="toc">
                    {# djlint:off #}
                    {% for page, info in annotated_pages %}
                        {% if info.open %}
                            <ul>
                                <li>{% else %}</li>
                            <li>
                        {% endif %}
                        {% get_public_translation page language.slug as page_translation %}
                        <a href="#page-{{ page.pk }}">{{ page_translation.title }}</a>
                        {% for close in info.close %}
                                </li>
                            </ul>
                        {% endfor %}
                    {% endfor %}
                    {# djlint:on #}
                    {# djlint:off H006,H007,H016,H025,H030,H031 #}
                </nav>
            </section>
        {% endif %}
        {% for page, info in annotated_pages %}
            {% get_public_translation page language.slug as page_translation %}
            <section id="page-{{ page.pk }}" class="page-section">
                <h1 class="level-{{ page.depth|add:'-1' }}">{{ page_translation.title }}</h1>
                <div class="content">
                    {% if page.mirrored_page_first %}
                        {{ page_translation.mirrored_translation_text|pdf_strip_fontstyles|pdf_truncate_links:80|safe }}
                    {% endif %}
                    {{ page_translation.content|pdf_strip_fontstyles|pdf_truncate_links:80|safe }}
                    {% if not page.mirrored_page_first %}
                        {{ page_translation.mirrored_translation_text|pdf_strip_fontstyles|pdf_truncate_links:80|safe }}
                    {% endif %}
                </div>
            </section>
        {% endfor %}
    </body>
</html>
{# djlint:on #}
