{% extends "_raw.html" %}
{% load i18n %}

{% block raw_content %}
<div class="px-4 {% if language.slug == 'zh-CN' %} font-content-sc {% elif right_to_left %} font-content-rtl text-right {% else %} font-content {% endif %}">
    <h1 class="pt-4 font-bold text-lg font-default">{{ page_translation.title }}</h1>
    {% if is_mirrored and mirrored_page_first %}
        <div class="pt-2">
            {{ page_translation.mirrored_translation_text|safe }}
        </div>
    {% endif %}
    <div class="pt-2">
        {{ page_translation.content|safe }}
    </div>
    {% if is_mirrored and not mirrored_page_first %}
        <div class="pt-2">
            {{ page_translation.mirrored_translation_text|safe }}
        </div>
    {% endif %}
</div>
{% endblock %}
