{% extends "_base.html" %}
{% load i18n %}
{% load static %}
{% load push_notification_filters %}
{% block content %}
    <div class="table-header">
        <div class="flex flex-wrap justify-between">
            <h1 class="heading">
                {% if is_archived %}
                    {% translate "Archived news" %}
                {% else %}
                    {% translate "News" %}
                {% endif %}
            </h1>
            <div class="flex gap-4">
                {% if is_archived %}
                    <a href="{% url 'push_notifications' region_slug=request.region.slug %}"
                       class="font-bold text-sm text-gray-800 flex items-center gap-1 pb-3 hover:underline">
                        <span><i icon-name="book-open" class="align-top h-5"></i> {% translate "Back to news" %}</span>
                    </a>
                {% else %}
                    <a href="{% url 'archived_push_notifications' region_slug=request.region.slug language_slug=language.slug %}"
                       class="font-bold text-sm text-gray-800 flex items-center pb-3 hover:underline">
                        <span>
                            <i icon-name="archive" class="align-top h-5"></i>
                            {% translate "Archived news" %}
                            ({{ archived_count }})
                        </span>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="flex flex-wrap justify-between gap-4">
            <div class="flex flex-wrap gap-4">
                {% include "generic_language_switcher.html" with target="push_notifications" %}
                {% if is_archived %}
                    {% include "search_input_form.html" with object_type="pushnotification" language_slug=language.slug object_archived=True %}
                {% else %}
                    {% include "search_input_form.html" with object_type="pushnotification" language_slug=language.slug object_archived=False %}
                {% endif %}
            </div>
            {% if perms.cms.change_pushnotification and not is_archived %}
                <div class="flex flex-wrap gap-4">
                    <a href="{% url 'push_notifications_templates' region_slug=request.region.slug language_slug=language.slug %}"
                       class="btn btn-outline">
                        {% translate "Open Templates" %}
                    </a>
                    <a href="{% url 'new_push_notification' region_slug=request.region.slug language_slug=language.slug %}"
                       class="btn">
                        {% translate "Create News" %}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="table-listing">
        <form id="bulk-action-form" method="post">
            {% csrf_token %}
        </form>
        <table class="w-full mt-4 rounded border border-solid border-gray-200 shadow bg-white">
            <thead>
                <tr class="border-b border-solid border-gray-200">
                    <th class="py-3 pl-4 min">
                        <input form="bulk-action-form" type="checkbox" id="bulk-select-all" />
                    </th>
                    <th class="text-sm text-left uppercase py-3 pl-4 pr-2">
                        {% translate "Title" %}
                    </th>
                    <th class="text-sm text-left uppercase py-3 px-2">
                        {% translate "Channel" %}
                    </th>
                    <th class="text-sm text-left uppercase py-3 px-2">
                        <div class="lang-grid flags whitespace-nowrap">
                            {% spaceless %}
                                {% for lang in languages %}
                                    {% if lang != request.region.default_language %}
                                        <a href="{% url 'push_notifications' region_slug=request.region.slug language_slug=lang.slug %}">
                                            <span class="fp fp-rounded fp-{{ lang.primary_country_code }}"
                                                  title="{{ lang.translated_name }}"></span>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% endspaceless %}
                        </div>
                    </th>
                    <th class="text-sm text-left uppercase py-3 pr-2">
                        {% translate "Last updated" %}
                    </th>
                    <th class="text-sm text-left uppercase py-3 pr-2">
                        {% translate "Planned send date" %}
                    </th>
                    <th class="text-sm text-left uppercase py-3 px-2 min">
                        {% translate "Sent" %}
                    </th>
                    <th class="text-sm text-left uppercase py-3 px-2 min">
                        {% translate "Options" %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for push_notification in push_notifications %}
                    {% get_translation push_notification language.slug as push_notification_translation %}
                    {% include "push_notifications/push_notification_list_row.html" %}
                {% empty %}
                    <tr>
                        <td colspan="4" class="px-4 py-3">
                            {% if is_archived %}
                                {% if search_query %}
                                    {% translate "No archived push notifications found with these filters." %}
                                {% else %}
                                    {% translate "No push notifications archived yet." %}
                                {% endif %}
                            {% else %}
                                {% if search_query %}
                                    {% translate "No push notifications found with these filters." %}
                                {% else %}
                                    {% translate "No push notifications available yet." %}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if push_notifications %}
        <div class="pt-2 px-2">
            <div class="inline">
                <span class="text-gray-800 font-bold" data-list-selection-count>0</span> <span class="text-gray-600">{% translate "Push notifications selected" %}</span>
            </div>
        </div>
    {% endif %}
    {% if perms.cms.archive_pushnotification %}
        <div class="flex flex-wrap gap-2 mt-4">
            <select id="bulk-action" class="w-auto max-w-full">
                <option>
                    {% translate "Select bulk action" %}
                </option>
                {% if is_archived %}
                    <option data-bulk-action="{% url "bulk_restore_push_notifications" region_slug=request.region.slug language_slug=language.slug %}">
                        {% translate "Restore push notifications" %}
                    </option>
                {% else %}
                    <option data-bulk-action="{% url "bulk_archive_push_notifications" region_slug=request.region.slug language_slug=language.slug %}">
                        {% translate "Archive push notifications" %}
                    </option>
                {% endif %}
            </select>
            <button form="bulk-action-form" id="bulk-action-execute" class="btn" disabled>
                {% translate "Execute" %}
            </button>
        </div>
    {% endif %}
    {% include "../generic_confirmation_dialog.html" %}
    {% url "push_notifications" as url %}
    {% include "pagination.html" with chunk=push_notifications %}
{% endblock content %}
