{% extends "_base.html" %}
{% load i18n %}
{% load static %}
{% load push_notification_filters %}
{% block content %}
    <div class="table-header">
        <h1 class="heading">
            {% translate "News Templates" %}
        </h1>
        <div class="flex flex-wrap justify-end gap-4">
            {% if perms.cms.change_pushnotification %}
                <a href="{% url 'push_notifications' region_slug=request.region.slug language_slug=language.slug %}"
                   class="btn btn-outline">
                    {% translate "Open News" %}
                </a>
                <a href="{% url 'new_push_notification' region_slug=request.region.slug language_slug=language.slug %}?template"
                   class="btn">
                    {% translate "Create News Template" %}
                </a>
            {% endif %}
        </div>
    </div>
    <div class="table-listing">
        <form id="bulk-action-form" method="post">
            {% csrf_token %}
        </form>
        <table class="w-full mt-4 rounded border border-solid border-gray-200 shadow bg-white">
            <thead>
                <tr class="border-b border-solid border-gray-200">
                    <th class="py-3 pl-4 min">
                        <input form="bulk-action-form" type="checkbox" id="bulk-select-all" />
                    </th>
                    <th class="text-sm text-left uppercase py-3 pl-4 pr-2">
                        {% translate "Template Name" %}
                    </th>
                    <th class="text-sm text-left uppercase py-3 px-2">
                        <div class="lang-grid flags whitespace-nowrap">
                            {% spaceless %}
                                {% for lang in languages %}
                                    {% if lang != request.region.default_language %}
                                        <a href="{% url 'push_notifications' region_slug=request.region.slug language_slug=lang.slug %}">
                                            <span class="fp fp-rounded fp-{{ lang.primary_country_code }}"
                                                  title="{{ lang.translated_name }}"></span>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% endspaceless %}
                        </div>
                    </th>
                    <th class="text-sm text-left uppercase py-3 pr-2 min">
                        {% translate "Last updated" %}
                    </th>
                    <th class="text-sm text-right uppercase py-3 pr-4 min">
                        {% translate "Options" %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for push_notification in push_notifications %}
                    {% get_translation push_notification language.slug as push_notification_translation %}
                    {% include "push_notifications/push_notification_template_list_row.html" %}
                {% empty %}
                    <tr>
                        <td colspan="4" class="px-4 py-3">
                            {% if search_query %}
                                {% translate "No push notifications found with these filters." %}
                            {% else %}
                                {% translate "No push notifications available yet." %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if perms.cms.delete_pushnotification %}
            <div class="flex flex-wrap gap-2 mt-4">
                <select id="bulk-action" class="w-auto max-w-full">
                    <option>
                        {% translate "Select bulk action" %}
                    </option>
                    {% if perms.cms.delete_pushnotification %}
                        {% translate "Push notifications" as content_type %}
                        <option class="bulk-confirmation-dialog"
                                data-bulk-action="{% url 'bulk_delete_push_notifications' region_slug=request.region.slug language_slug=language.slug %}"
                                data-popup-title="{% blocktranslate %}You are about to delete multiple selected {{content_type}}{% endblocktranslate %}"
                                data-popup-subject="{% blocktranslate %}This action cannot be undone{% endblocktranslate %}"
                                data-popup-text="{% blocktranslate %}Do you want to continue?{% endblocktranslate %}">
                            {% blocktranslate trimmed %}
                                Delete {{ content_type }}
                            {% endblocktranslate %}
                        </option>
                    {% endif %}
                </select>
                <button form="bulk-action-form" id="bulk-action-execute" class="btn" disabled>
                    {% translate "Execute" %}
                </button>
            </div>
        {% endif %}
    </div>
    {% include "../generic_confirmation_dialog.html" %}
    {% url "push_notifications" as url %}
    {% include "pagination.html" with chunk=push_notifications %}
{% endblock content %}
