{% load i18n %}
<div id="poi-address-container" class="{% if not poi %} hidden{% endif %}">
    <label class="secondary">
        {% translate "Address" %}
    </label>
    <input name="location"
           id="id_location"
           class="hidden"
           value="{% if poi %}{{ poi.id }}{% else %}-1{% endif %}"
           readonly
           {% if disabled %}disabled{% endif %} />
    <div class="text-lg">
        {% if poi %}
            {{ poi.address }}
            <br>
            {{ poi.postcode }} {{ poi.city }}
            <br>
            {{ poi.country }}
        {% endif %}
    </div>
    <a href="{{ poi.map_url }}"
       class="text-blue-500 hover:underline"
       target="_blank"
       rel="noopener noreferrer">
        {% translate "Open on Maps" %}
    </a>
</div>
