<tr class="border-t border-solid border-grey-lighter hover:bg-grey-lightest">
    <td class="pl-2">
        <a href="{% url 'edit_bed_target_group' bed_target_group_id=bed_target_group.id %}" class="block py-3 px-2 text-grey-darkest">
            {{ bed_target_group.name }}
        </a>
    </td>
	<td>
        <a href="{% url 'edit_bed_target_group' bed_target_group_id=bed_target_group.id %}" class="block py-3 px-2 text-grey-darkest">
            {{ bed_target_group.slug }}
        </a>
	</td>
	<td class="pr-2">
        <a href="{% url 'edit_bed_target_group' bed_target_group_id=bed_target_group.id %}" class="block py-3 px-2 text-grey-darkest">
            {{ bed_target_group.description }}
        </a>
	</td>
</tr>