{% load i18n %}

<tr class="border-t border-solid border-gray-200 hover:bg-gray-100">
	<td class="pl-2">
		<a href="{% url 'edit_language' language_slug=language.slug %}" class="block py-3 px-2 text-gray-800">
			{{ language.translated_name }}
		</a>
	</td>
	<td>
		<a href="{% url 'edit_language' language_slug=language.slug %}" class="block py-3 px-2 text-gray-800">
			{{ language.native_name }}
		</a>
	</td>
	<td>
		<a href="{% url 'edit_language' language_slug=language.slug %}" class="block py-3 px-2 text-gray-800">
			{{ language.slug }}
		</a>
	</td>
	<td>
		<a href="{% url 'edit_language' language_slug=language.slug %}" class="block py-3 px-2 text-gray-800">
			{{ language.bcp47_tag }}
		</a>
	</td>
  <td>
		<a href="{% url 'edit_language' language_slug=language.slug %}" class="block py-3 px-2 text-gray-800">
			{{ language.get_text_direction_display }}
		</a>
	</td>
	<td>
		<a href="{% url 'edit_language' language_slug=language.slug %}" class="block py-3 px-2 text-gray-800">
			{{ language.created_date }}
		</a>
	</td>
	<td class="pr-2">
		<a href="{% url 'edit_language' language_slug=language.slug %}" class="block py-3 px-2 text-gray-800">
			{{ language.last_updated }}
		</a>
	</td>
</tr>
