{% extends "../../_collapsible_box.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block collapsible_box_icon %}
    umbrella
{% endblock collapsible_box_icon %}
{% block collapsible_box_title %}
    {{ poi_form.organization.label }}
{% endblock collapsible_box_title %}
{% block collapsible_box_content %}
    <div>
        <div class="help-text">{{ poi_form.organization.help_text }}</div>
        {% render_field poi_form.organization|add_error_class:"border-red-500" %}
    </div>
{% endblock collapsible_box_content %}
