{% extends "_base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<form method="post">
    {% csrf_token %}
    <div class="flex justify-between mb-4">
        <h1 class="heading">
            {% if user_form.instance.id %}
                {% with user_form.username.value as user_name %}
                    {% blocktrans %}Edit user "{{ user_name }}"{% endblocktrans %}
                {% endwith %}
            {% else %}
                {% trans 'Create new user' %}
            {% endif %}
        </h1>
        <input type="submit" name="submit" class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-4 rounded" value="{% trans 'Save' %}" />
    </div>

    <div class="grid xl:grid-cols-2 2xl:grid-cols-3 gap-4">
        <div class="mb-4 rounded border border-solid border-gray-200 shadow bg-white">
            <div class="p-4 rounded bg-blue-500">
                <h3 class="heading font-bold text-white"><i data-feather="user" class="mr-2"></i> {% trans 'General Settings' %}</h3>
            </div>
            <div class="px-4 pb-4 divide-y divide-gray-200 space-y-4">
                <!-- General Options for user management -->
                <div>
                    <label for="{{ user_form.username.id_for_label }}">{{ user_form.username.label }}</label>
                    {% render_field user_form.username %}
                </div>
                <div>
                    <label for="{{ user_form.first_name.id_for_label }}">{{ user_form.first_name.label }}</label>
                    {% render_field user_form.first_name %}
                </div>
                <div>
                    <label for="{{ user_form.last_name.id_for_label }}">{{ user_form.last_name.label }}</label>
                    {% render_field user_form.last_name %}
                </div>
                <div>
                    <label for="{{ user_form.email.id_for_label }}">{{ user_form.email.label }}</label>
                    {% render_field user_form.email %}
                </div>
			</div>
		</div>
        <div class="mb-4 rounded border border-solid border-gray-200 shadow bg-white">
            <div class="p-4 rounded bg-blue-500">
                <h3 class="heading font-bold text-white"><i data-feather="lock" class="mr-2"></i> {% trans 'Login' %}</h3>
            </div>
            <div class="px-4 pb-4 divide-y divide-gray-200 space-y-4">
                <div>
                    {% render_field user_form.is_active %}
                    <label for="{{ user_form.is_active.id_for_label }}">{{ user_form.is_active.label }}</label>
                    <div class="help-text">{{ user_form.is_active.help_text }}</div>
                </div>

                {% if not user_form.instance.id %}
                <div>
                    {% render_field user_profile_form.send_activation_link %}
                    <label for="{{ user_profile_form.send_activation_link.id_for_label }}">{{ user_profile_form.send_activation_link.label }}</label>
                    <div class="help-text">{{ user_profile_form.send_activation_link.help_text }}</div>
                </div>
                {% endif %}
                <div>
                    <label for="{{ user_form.password.id_for_label }}">{{ user_form.password.label }}</label>
                    {% render_field user_form.password %}
                    <ul class="help-text mt-2">
                        {% for item in user_form.password.help_text %}
                        <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="mb-4 rounded border border-solid border-gray-200 shadow bg-white">
			<div class="p-4 rounded bg-blue-500">
				<h3 class="heading font-bold text-white"><i data-feather="key" class="mr-2"></i> {% trans 'Permissions' %}</h3>
			</div>
			<div class="px-4 pb-4 divide-y divide-gray-200 space-y-4">
                <div class="divide-y divide-gray-200">
                    <div>
                        {% render_field user_form.is_superuser %}
                        <label for="{{ user_form.is_superuser.id_for_label }}">{{ user_form.is_superuser.label }}</label>
                        <div class="help-text">{{ user_form.is_superuser.help_text }}</div>
                    </div>
                    <div>
                        {% render_field user_form.is_staff %}
                        <label for="{{ user_form.is_staff.id_for_label }}">
                            {{ user_form.is_staff.label }}
                            <span class="inline-block ml-2 h-5 w-5 align-text-top bg-icon bg-contain bg-center bg-no-repeat"></span>
                        </label>
                        <div class="help-text">{% trans 'Designates whether the user has access to the network management.' %}</div>
                    </div>
                    <div>
                        {% render_field user_profile_form.expert_mode %}
                        <label for="{{ user_profile_form.expert_mode.id_for_label }}">{{ user_profile_form.expert_mode.label }}</label>
                        <div class="help-text">{{ user_profile_form.expert_mode.help_text }}</div>
                    </div>
                </div>
                <div class="show-for-staff">
                    <label for="{{ user_form.staff_role.id_for_label }}">{{ user_form.staff_role.label }}</label>
                    {% render_field user_form.staff_role|add_error_class:"border-red-500" %}
                    <div class="help-text">{{ user_form.staff_role.help_text }}</div>
                </div>
                <div class="show-for-non-staff">
                    <label for="{{ user_form.role.id_for_label }}">{{ user_form.role.label }}</label>
                    {% render_field user_form.role|add_error_class:"border-red-500" %}
                    <div class="help-text">{{ user_form.role.help_text }}</div>
                </div>
                <div>
                    <label for="{{ user_profile_form.regions.id_for_label }}" class="show-for-non-staff">{{ user_profile_form.regions.label }}</label>
                    <label for="{{ user_profile_form.regions.id_for_label }}" class="show-for-staff">{% trans 'Preferred regions' %}</label>
                    {% render_field user_profile_form.regions %}
                    <div class="help-text show-for-non-staff">{{ user_profile_form.regions.help_text }}</div>
                    <div class="help-text show-for-staff">{% trans 'The regions to which the user has quick access' %}</div>
                </div>
                <div>
                    <label for="{{ user_profile_form.organization.id_for_label }}">{{ user_profile_form.organization.label }}</label>
                    {% render_field user_profile_form.organization %}
                    <div class="help-text">{{ user_profile_form.organization.help_text }}</div>
                </div>
			</div>
        </div>
    </div>
    {% if user_form.instance.id %}
        <div class="pt-2 pb-4">
            <button title="{% trans 'Delete user' %}" class="confirmation-button bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
                    data-confirmation-title="{% trans 'Please confirm that you really want to delete this user' %}"
                    data-confirmation-text="{% trans 'This cannot be reversed.' %}"
                    data-confirmation-subject="{{ user_form.username.value }}"
                    data-action="{% url 'delete_user' user_id=user_form.instance.id %}">
                <i data-feather="trash-2" class="mr-2"></i>
                {% trans 'Delete this user' %}
            </button>
        </div>
    {% endif %}
</form>

{% include "../../generic_confirmation_dialog.html" %}
{% endblock %}
