{% extends "_base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<form method="post">
    {% csrf_token %}
    <div class="flex flex-wrap mb-4">
        <div class="w-2/5 flex flex-wrap flex-col justify-center">
            <h1 class="heading">
	            {% if user_form.instance.id %}
		            {% with user_form.username.value as user_name %}
			            {% blocktrans %}Edit user "{{ user_name }}"{% endblocktrans %}
		            {% endwith %}
	            {% else %}
		            {% trans 'Create new user' %}
	            {% endif %}
            </h1>
        </div>
        <div class="w-3/5 flex justify-end">
            <input type="submit" name="submit" class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-4 rounded" value="{% trans 'Save' %}" />
        </div>
    </div>

    <div class="flex flex-wrap">
	    <div class="w-1/2 pr-2">
		    {{ user_form.errors }}
		    {{ user_profile_form.errors }}
		    <div class="w-full mb-4 rounded border border-solid border-gray-200 shadow bg-white">
				<div class="w-full p-4 rounded bg-blue-500">
					<h3 class="heading font-bold text-white">{% trans 'General Settings' %}</h3>
				</div>
				<div class="w-full p-4">

					<!-- General Options for user management -->
                    <label for="{{ user_form.username.id_for_label }}" class="font-bold block p-2 mb-1 cursor-pointer">{{ user_form.username.label }}</label>
                    {% render_field user_form.username class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}

                    <label for="{{ user_form.first_name.id_for_label }}" class="font-bold block p-2 mb-1 mt-5 cursor-pointer">{{ user_form.first_name.label }}</label>
                    {% render_field user_form.first_name class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}

                    <label for="{{ user_form.last_name.id_for_label }}" class="font-bold block p-2 mb-1 mt-5 cursor-pointer">{{ user_form.last_name.label }}</label>
                    {% render_field user_form.last_name class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}

                    <label for="{{ user_form.email.id_for_label }}" class="font-bold block p-2 mb-1 mt-5 cursor-pointer">{{ user_form.email.label }}</label>
                    {% render_field user_form.email class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}

                    <div>
                        <label for="{{ user_form.password.id_for_label }}" class="font-bold block p-2 mt-5 cursor-pointer">{{ user_form.password.label }}</label>
                        <ul>
                            {% for item in user_form.password.help_text %}
                                <li class="px-2 text-s text-gray-600">{{ item }}</li>
                            {% endfor %}
                        </ul>
                        {% render_field user_form.password class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 my-2 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                    </div>
				</div>
			</div>
		</div>
	<div class="w-1/2 pl-2">
		<div class="w-full mb-4 rounded border border-solid border-gray-200 shadow bg-white">
			<div class="w-full p-4 rounded bg-blue-500">
				<h3 class="heading font-bold text-white">{% trans 'Extended Settings' %}</h3>
			</div>

			<div class="w-full p-4">
                <div class="pt-2 pb-4 border-b solid border-gray-200">
                    {% render_field user_form.is_superuser %}
                    <label for="{{ user_form.is_superuser.id_for_label }}" class="font-bold mr-2 p-2 cursor-pointer">{{ user_form.is_superuser.label }}</label>
                </div>

                <div class="py-4 border-b solid border-gray-200">
                    {% render_field user_form.is_staff %}
                    <label for="{{ user_form.is_staff.id_for_label }}" class="font-bold mr-2 p-2 cursor-pointer">{{ user_form.is_staff.label }}</label>
                </div>

                <div class="py-4 border-b solid border-gray-200">
                    {% render_field user_form.is_active %}
                    <label for="{{ user_form.is_active.id_for_label }}" class="font-bold mr-2 p-2 cursor-pointer">{{ user_form.is_active.label }}</label>
                </div>

                <div class="py-4 border-b solid border-gray-200">
                    {% render_field user_profile_form.expert_mode %}
                    <label for="{{ user_profile_form.expert_mode.id_for_label }}" class="font-bold mr-2 p-2 cursor-pointer">{{ user_profile_form.expert_mode.label }}</label>
                    <div class="my-2 text-s text-gray-600">{{ user_profile_form.expert_mode.help_text }}</div>
                </div>
                {% if not user_form.instance.id %}
                <div class="py-4 border-b solid border-gray-200">
                    {% render_field user_profile_form.send_activation_link %}
                    <label for="{{ user_profile_form.send_activation_link.id_for_label }}" class="font-bold mr-2 p-2 cursor-pointer">{{ user_profile_form.send_activation_link.label }}</label>
                    <div class="my-2 text-s text-gray-600">{{ user_profile_form.send_activation_link.help_text }}</div>
                </div>
                {% endif %}
                <div class="py-4 border-b solid border-gray-200">
                    <label for="{{ user_form.roles.id_for_label }}" class="font-bold block mb-2 cursor-pointer">{{ user_form.roles.label }}</label>
                    {% render_field user_form.roles class+="w-full" %}
                </div>

                <div class="py-4 border-b solid border-gray-200">
                    <label for="{{ user_profile_form.regions.id_for_label }}" class="font-bold block mb-2 cursor-pointer">{{ user_profile_form.regions.label }}</label>
                    {% render_field user_profile_form.regions class+="w-full" %}
                </div>

                <div class="py-4">
                    <label for="{{ user_profile_form.organization.id_for_label }}" class="font-bold block mb-2 cursor-pointer">{{ user_profile_form.organization.label }}</label>
                    <div class="relative">
                        {% render_field user_profile_form.organization class+="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-800 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-800">
                            <img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
                        </div>
                    </div>
                </div>

			</div>
			
		</div>
	</div>
	    {% if user_form.instance.id %}
	    <div class="pt-2 pb-4">
            <button title="{% trans 'Delete user' %}" class="confirmation-button w-full bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
                    data-confirmation-title="{% trans 'Please confirm that you really want to delete this user' %}"
                    data-confirmation-text="{% trans 'This cannot be reversed.' %}"
                    data-confirmation-subject="{{ user_form.username.value }}"
                    data-action="{% url 'delete_user' user_id=user_form.instance.id %}">
                <i data-feather="trash-2" class="mr-2"></i>
                {% trans 'Delete this user' %}
            </button>
	    </div>
	    {% endif %}
</div>
</form>

{% include "../../generic_confirmation_dialog.html" %}
{% endblock %}
