<!--generic template for language tabs in forms -->
<!--please set variable "target" when including this code-->
{% load i18n %}
{% load content_filters %}

{% with translation_states|sort_translation_states:language as sorted_translation_states %}
    <ul class="flex flex-wrap items-end px-4">
        {% for other_language, other_status in sorted_translation_states|slice:":4" %}
            <li class="mr-1 {% if other_language == language %}z-10{% endif %}" style="margin-bottom: -2px">
                <div class="bg-white text-blue-500 {% if other_language == language %} cursor-default {% else %} hover:bg-blue-500 hover:text-white {% endif %} border-l-2 border-t-2 border-r-2 border-blue-500 font-bold rounded-t-lg">
                    <div class="border-b-2 border-white">
                        {% if other_language == language %}
                            <div class="py-2 px-4">
                        {% else %}
                            <a class="block py-2 px-4" href="{% build_url target=target region_slug=request.region.slug language_slug=other_language.slug content_field=content_field content_id=instance.id %}">
                        {% endif %}
                        {% if other_status == translation_status.IN_TRANSLATION %}
                            <span title="{% trans 'Currently in translation' %}">
                                <i data-feather="clock"></i>
                            </span>
                        {% elif other_status == translation_status.OUTDATED %}
                            <span title="{% trans 'Translation outdated' %}">
                                <i data-feather="alert-triangle"></i>
                            </span>
                        {% elif other_status == translation_status.UP_TO_DATE  %}
                            <span title="{% trans 'Translation up-to-date' %}">
                                <i data-feather="check"></i>
                            </span>
                        {% elif other_status == translation_status.MISSING  %}
                            <span title="{% trans 'Translation missing' %}" class="no-trans">
                                <i data-feather="x"></i>
                            </span>
                        {% endif %}
                        {{ other_language.translated_name }}
                        <span class="fp fp-rounded fp-{{ other_language.primary_country_code }}"></span>
                        {% if other_language.secondary_country_code %}
                            <span class="fp fp-rounded fp-{{ other_language.secondary_country_code }}"></span>
                        {% endif %}
                        {% if other_language != language %}
                            </a>
                        {% else %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
        {% if instance and sorted_translation_states|length > 4 %}
            <li class="ml-auto z-10">
                <div id="language-switcher" class="flex flex-col text-blue-500">
                    <div id="language-switcher-current" class="font-bold text-right bg-white py-2 px-4 border-l-2 border-t-2 border-r-2 border-blue-500 rounded-t-lg cursor-default">
                        {% trans 'Other Languages' %}
                        <i data-feather="chevron-down"></i>
                    </div>
                    <div id="language-switcher-list" class="h-0 hidden z-10">
                        {% for other_language, other_status in sorted_translation_states|slice:"4:" %}
                        <a href="{% build_url target=target region_slug=request.region.slug language_slug=other_language.slug content_field=content_field content_id=instance.id %}" class="flex justify-between font-bold whitespace-nowrap {% if forloop.last %} rounded-b border-b-2 {% endif %} py-2 px-3 border-l-2 border-r-2 border-t border-blue-500 hover:bg-blue-500 hover:text-white bg-white">
                            <div>
                                {% if other_status == translation_status.IN_TRANSLATION %}
                                    <span title="{% trans 'Currently in translation' %}">
                                        <i data-feather="clock"></i>
                                    </span>
                                {% elif other_status == translation_status.OUTDATED %}
                                    <span title="{% trans 'Translation outdated' %}">
                                        <i data-feather="alert-triangle"></i>
                                    </span>
                                {% elif other_status == translation_status.UP_TO_DATE  %}
                                    <span title="{% trans 'Translation up-to-date' %}">
                                        <i data-feather="check"></i>
                                    </span>
                                {% elif other_status == translation_status.MISSING  %}
                                    <span title="{% trans 'Translation missing' %}" class="no-trans">
                                        <i data-feather="x"></i>
                                    </span>
                                {% endif %}
                                <span class="px-2 max-w-max truncate">
                                    {{ other_language.translated_name }}
                                </span>
                            </div>
                            <div>
                                <span class="fp fp-rounded fp-{{ other_language.primary_country_code }} ml-2"></span>
                                {% if other_language.secondary_country_code %}
                                    <span class="fp fp-rounded fp-{{ other_language.secondary_country_code }}"></span>
                                {% endif %}
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </li>
        {% endif %}
    </ul>
{% endwith %}
