{% load page_filters %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}
<label for="{{ field.id_for_label }}" class="secondary">
    {{ field.label }}
</label>
<div class="help-text">
    {{ field.help_text }}
</div>
<div>
    {% for user in users %}
        <span class="inline-block rounded-full py-2 px-4 mx-2 my-1 bg-blue-500 text-white text-xl"
              title="{{ user.username }}">
            {{ user.full_user_name }}
            <a class="revoke-page-permission inline-block hover:text-red-500"
               href="{% url 'revoke_page_permission_ajax' region_slug=request.region.slug %}"
               data-user-id="{{ user.id }}"
               data-page-id="{{ page_id }}"
               data-permission="{{ permission }}">
                <i icon-name="x-circle"></i>
            </a>
        </span>
    {% empty %}
    {% endfor %}
</div>
<div class="w-full flex flex-wrap mt-2">
    {% render_field field %}
    <button class="btn grant-page-permission mt-2 w-full"
            data-url="{% url 'grant_page_permission_ajax' region_slug=request.region.slug %}"
            data-page-id="{{ page_id }}"
            data-permission="{{ permission }}">
        <i icon-name="plus-circle" class="mr-2"></i> {{ button_description }}
    </button>
</div>
