{% load i18n %}
<div id="machine_translation_overlay"
     class="hidden fixed items-center justify-center inset-0 bg-opacity-75 bg-gray-800 z-50 cursor-pointer">
    <!-- Remove flex and add hidden class-->
    <div class="cursor-auto justify-center w-[500px] max-h-fit px-[10px] z-50 m-auto">
        <!-- if necessary increase width: increased from 400 to 600px -->
        <div class="bg-white opacity-100 content rounded shadow-md w-full">
            <div class="flex items-center w-full rounded p-4 bg-water-500">
                <h2 class="font-bold font-default">
                    <i icon-name="bot" class="pb-1"></i>
                    {% translate "Machine translation" %}
                </h2>
            </div>
            <div class="w-full p-4 rounded shadow overflow-scroll max-h-[80vh]">
                <span class="block">{% translate "This report shows a summary of your attempted machine translation. Please confirm if everything is correct" %}</span>
                <div class="mt-4">
                    <h3>
                        <b>{% translate "Language selection" %}</b>
                    </h3>
                    <div class="flex items-center mt-2">
                        <div class="flex">
                            <span class="fp fp-rounded fp-{{ source_language.primary_country_code }} w-7 mr-2"></span>
                            <p>{{ source_language }}</p>
                        </div>
                        <i class="mx-4" icon-name="arrow-big-right"></i>
                        <div class="flex">
                            <span class="fp fp-rounded fp-{{ language.primary_country_code }} w-7 mr-2"></span>
                            <p>{{ language }}</p>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <h3>
                        <b>{% translate "Pages to be translated " %}(<span id="machine_translation_overlay_languages_number"></span>)</b>
                    </h3>
                    <div class="mt-2">
                        <div id="machine-translation-overlay-pages-no-pages-warning"
                             class="hidden bg-red-100 border-l-4 border-red-500 text-red-500 px-4 py-3 mb-5">
                            {% translate "None of the selected pages fullfills the required HIX score of 15." %}
                        </div>
                        <ul id="machine-translation-overlay-pages">
                        </ul>
                        <ul id="machine-translation-overlay-pages-optional" class="hidden">
                        </ul>
                        <a id="machine-translation-overlay-more"
                           data-default-text="{% translate "Show all" %}"
                           data-alternative-text="{% translate "Show less" %}"
                           class="text-blue-500">{% translate "Show all" %}</a>
                    </div>
                </div>
                <div class="mt-4">
                    <h3>
                        <b>{% translate "Budget" %}</b>
                    </h3>
                    <table>
                        <tr>
                            <td id="machine-translation-overlay-current-budget-label">{% translate "Current budget" %}</td>
                            <td class="pl-2" id="machine-translation-overlay-current-budget-result">{{ deepl_budget }}</td>
                        </tr>
                        <tr>
                            <td id="machine-translation-overlay-budget-usage-label">{% translate "Number of words you would use" %}</td>
                            <td class="pl-2" id="machine-translation-overlay-budget-usage-result"></td>
                        </tr>
                        <tr class="border-solid border-t-2">
                            <td id="machine-translation-overlay-budget-remains-label">{% translate "Remaining budget: " %}</td>
                            <td class="pl-2" id="machine-translation-overlay-budget-remains-result"></td>
                        </tr>
                    </table>
                </div>
                <div class="mt-4 hidden" id="machine-translation-overlay-warning">
                    <h3>
                        <b>{% translate "Pages that can't be translated" %}</b>
                    </h3>
                    <div class="my-2 bg-yellow-100 border-l-4 border-yellow-500 text-yellow-600 px-4 py-3 mb-5"
                         role="alert">
                        <i class="mr-2" icon-name="alert-triangle"></i>
                        {% translate "There are currently" %} <span id="machine-translation-overlay-warning-number"></span> {% translate "pages that can't be translated. These pages can't be translated because the text understandibility is too low." %} {% translate "Please improve it to a value of at least 15 to translate these pages. You can identify the pages, that couldn't be translated in the page tree via the translation status." %}
                    </div>
                    <ul class="hidden mb-2" id="machine-translation-overlay-warning-optional">
                    </ul>
                    <a id="machine-translation-overlay-warning-more" data-default-text="{% translate "Show pages" %}" data-alternative-text="{% translate "Don't show pages" %}"  class="text-blue-500">
                        {% translate "Show pages" %}
                    </a>
                    <a id="machine-translation-overlay-warning-more" data-default-text="{% translate "Show pages" %}" data-alternative-text="{% translate "Don't show pages" %}"  class="text-blue-500">{% translate "Show pages" %}</a>
                    <a id="machine-translation-overlay-warning-more" data-default-text="{% translate "Show pages" %}" data-alternative-text="{% translate "Don't show pages" %}"  class="text-blue-500">
                        {% translate "Show pages" %}
                    </a>
                    <a id="machine-translation-overlay-warning-more" data-default-text="{% translate "Show pages" %}" data-alternative-text="{% translate "Don't show pages" %}"  class="text-blue-500">
                        {% translate "Show pages" %}
                    </a>
                </div>
                <div class="flex justify-between mt-4">
                    <button type="button" id="btn-close-machine-translation-overlay" class="btn">{% translate "Cancel" %}</button>
                    <button id="machine-translation-overlay-bulk-action-execute"
                            class="btn"
                            form="bulk-action-form"
                            type="submit"
                            disabled>
                        {% translate "Confirm" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
