{% if messages %}
    <div id="messages" class="mb-8">
        {% for msg in messages %}
            {% if msg.level_tag == 'info' %}
                <div class="banner-info" role="alert">
                    <p>
                        {{ msg.message }}
                    </p>
                </div>
            {% endif %}
            {% if msg.level_tag == 'success' %}
                <div class="banner-success" role="alert">
                    <p>
                        {{ msg.message }}
                    </p>
                </div>
            {% endif %}
            {% if msg.level_tag == 'warning' %}
                <div class="banner-warning" role="alert">
                    <p>
                        {{ msg.message }}
                    </p>
                </div>
            {% endif %}
            {% if msg.level_tag == 'error' %}
                <div class="banner-error" role="alert">
                    <p>
                        {{ msg.message }}
                    </p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
