{% extends "_collapsible_box.html" %}
{% load i18n %}
{% load static %}
{% block collapsible_box_icon %}
    package
{% endblock collapsible_box_icon %}
{% block collapsible_box_title %}
    {% translate "Size of the App" %}
{% endblock collapsible_box_title %}
{% block collapsible_box_content %}
    <div class="flex flex-wrap justify-between gap-2">
        <p class="py-3">
            {% blocktranslate trimmed %}
                The chart below shows the current size of the {{ BRANDING_TITLE }} app.
            {% endblocktranslate %}
            <a href="{% url 'app_size' region_slug=request.region.slug %}"
               class="btn">{% translate "Details" %}</a>
        </p>
    </div>
    <div class="p-3 w-full">
        <!-- TODO -->
    </div>
{% endblock collapsible_box_content %}
