{% extends "_base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
    <div class="w-full max-w-full">
        <form id="upload_form" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="flex items-center justify-start mt-6">
                <button class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded">
	                {% trans 'Submit' %}
                </button>
                <a href="{% url 'media' region_slug=region.slug %}" class="ml-1 bg-grey-dark hover:bg-integreat hover:text-grey-darkest text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    {% trans 'Return' %}
                </a>
            </div>
        </form>
    </div>
{% endblock %}