{% extends "_base.html" %}
{% load i18n %}
{% block content %}
<div class="table-header">
    <div class="flex flex-wrap">
        <form class="table-search relative w-1/2">
            <i data-feather="search" class="absolute"></i>
            <input type="search" placeholder="{% trans 'Search' %}" class="h-full pl-10 pr-4 rounded shadow">
        </form>
        <div class="w-1/2 flex flex-wrap justify-end">
            <a href="{% url 'new_upload_file' document_id='0' region_slug=region.slug %}" class="bg-blue-400 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
	            {% trans 'Upload File' %}
            </a>
        </div>
    </div>
</div>

<div class="table-listing">
    <table class="w-full mt-4 rounded border border-solid border-gray-light shadow bg-white">
        <thead>
            <tr class="border-b border-solid border-gray-light">
                <th class="text-sm text-left uppercase p-3 pl-4">{% trans 'Name' %}</th>
                <th class="text-sm text-left uppercase p-3">{% trans 'Date' %}</th>
                <th class="text-sm text-left uppercase p-3 pr-4">{% trans 'Operations' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for obj in documents %}
            <tr class="border-t border-solid border-gray-200 hover:bg-gray-100">
                <td class="pl-2" rel="{{ obj.description }}">
                    <a href="{% url 'edit_file' document_id=obj.pk region_slug=region.slug %}" class="block py-3 px-2 text-gray-800">
                        {{ obj.document.name }}
                    </a>
                </td>
	            <td>
                    <a href="{% url 'edit_file' document_id=obj.pk region_slug=region.slug %}" class="block py-3 px-2 text-gray-800">
                        {{ obj.uploaded_at }}
                    </a>
                </td>
	            <td class="pl-3 pr-4">
                    <a href="{{ obj.document.url }}" rel="{{ obj.description }}" class="py-3" style="padding-right: 4px;">
                        <i data-feather="eye" class="text-gray-800"></i>
                    </a>
                    <a href="{{ obj.document.url }}" rel="{{ obj.description }}" class="py-3" style="padding-right: 4px;" download>
                        <i data-feather="download" class="text-gray-800"></i>
                    </a>
                    <form method="post" action="{% url 'delete_file' document_id=obj.pk region_slug=region.slug %}" class="inline-block py-3" style="padding-right: 4px;">
                        {% csrf_token %}
                        <button type="submit" class="bg-white"><i data-feather="trash-2" class="text-gray-800"></i></button>
                    </form>
                    <a href="{% url 'edit_file' document_id=obj.pk region_slug=region.slug %}" class="py-3">
                        <i data-feather="edit" class="text-gray-800"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}