{% extends "_base.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load content_filters %}
{% load poi_filters %}
{% load rules %}
{% load compress %}

{% block css %}
    <link href="{% static 'tinymce/skins/ui/oxide/skin.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'tinymce/skins/ui/oxide/content.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'tinymce/skins/content/default/content.css' %}" rel="stylesheet"type="text/css">
{% endblock %}

{% block javascript_head %}
    <script src="{% static 'js/forms/autosave.js' %}"></script>
    <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'tinymce/themes/silver/theme.js' %}"></script>
    <script src="{% static 'tinymce/plugins/paste/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/fullscreen/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/autosave/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/link/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/preview/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/media/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/image/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/code/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/lists/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/directionality/plugin.js' %}"></script>
    <script src="{% static 'tinymce-i18n/langs/de.js' %}"></script>
{% endblock %}

{% block content %}
<form id="content_form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% get_current_language as LANGUAGE_CODE %}
    {% unify_language_slug LANGUAGE_CODE as LANGUAGE_CODE %}
    {% get_language LANGUAGE_CODE as current_language %}
    <div class="flex flex-wrap">
        <div class="w-4/5 flex flex-wrap flex-col justify-center mb-6">
            <h2 class="heading font-normal">
                {% if event_form.instance.id %}
                    {% if event_translation_form.instance.id %}
                        {% with event_translation_form.instance.title as event_title %}
                        {% blocktrans %}Edit event "{{ event_title }}"{% endblocktrans %}
                        {% endwith %}
                        {% if LANGUAGE_CODE != language.slug %}
                            {% get_translation event_form.instance LANGUAGE_CODE as backend_translation %}
                            {% if backend_translation %}
                                ({% trans 'Title in' %} {% translated_language_name LANGUAGE_CODE %}: "{{ backend_translation.title }}")
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% trans 'Create new event translation' %}
                    {% endif %}
                {% else %}
                    {% trans 'Create new event' %}
                {% endif %}
            </h2>
        </div>
        {% has_perm 'cms.edit_events' request.user as can_edit_event %}
        {% if not event_form.instance.id or not event_form.instance.archived %}
            <div class="w-1/5 flex justify-end mb-6">
            {% if can_edit_event %}
                <input type="submit" name="submit_draft" class="bg-gray-500 hover:bg-gray-600 cursor-pointer text-white font-bold py-3 px-4 rounded mr-2" value="{% trans 'Save as draft' %}" />
            {% has_perm 'cms.publish_events' request.user as can_publish_event %}
            {% if can_publish_event %}
                <input type="submit" name="submit_public" class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-4 rounded" value="{% trans 'Publish' %}" />
            {% else %}
                <input type="submit" name="submit_review" class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-4 rounded" value="{% trans 'Submit for review' %}" />
            {% endif %}
        {% endif %}
        </div>
        {% endif %}
        <div class="w-2/3 flex flex-wrap flex-col pr-2">
            <ul class="flex flex-wrap pl-4">
                {% for other_language in languages %}
                    <li class="mr-1 {% if other_language == language %}z-10{% endif %}" style="margin-bottom: -2px">
                        <div class="bg-white text-blue-500 {% if other_language != language %}hover:bg-blue-500 hover:text-white{% endif %} border-l-2 border-t-2 border-r-2 border-blue-500 font-bold rounded-t-lg">
                            <div class="border-b-2 border-white">
                            {% if other_language == language %}
                                <div class="p-4">
                                    {% if event_form.instance %}
                                        {% if other_language in event_form.instance.languages %}
                                            {% if event_translation_form.instance.is_outdated %}
                                                <span title="{% trans 'Translation outdated' %}">
                                                    <i data-feather="alert-triangle" class="inline-block"></i>
                                                </span>
                                            {% elif event_translation_form.instance.currently_in_translation %}
                                                <span title="{% trans 'Currently in translation' %}">
                                                    <i data-feather="clock" class="inline-block"></i>
                                                </span>
                                            {% else %}
                                                <span title="{% trans 'Translation up-to-date' %}">
                                                    <i data-feather="check" class="inline-block"></i>
                                                </span>
                                            {% endif %}
                                        {% else %}
                                            <span title="{% trans 'Translation missing' %}">
                                                <i data-feather="x" class="inline-block"></i>
                                            </span>
                                        {% endif %}
                                    {% else %}
                                        <span title="{% trans 'Create Translation' %}">
                                            <i data-feather="plus" class="inline-block"></i>
                                        </span>
                                    {% endif %}
                                    {{ other_language.translated_name }}
                                </div>
                            {% else %}
                                <a class="block p-4" style="color: inherit;" href="{% url 'edit_event' event_id=event_form.instance.id region_slug=region.slug language_slug=other_language.slug %}">
                                    {% if other_language in event_form.instance.languages %}
                                        {% get_translation event_form.instance other_language.slug as other_event_translation %}
                                        {% if other_event_translation.is_outdated %}
                                            <span title="{% trans 'Translation outdated' %}">
                                                <i data-feather="alert-triangle" class="inline-block"></i>
                                            </span>
                                        {% elif other_event_translation.currently_in_translation %}
                                            <span title="{% trans 'Currently in translation' %}">
                                                <i data-feather="clock" class="inline-block"></i>
                                            </span>
                                        {% else %}
                                            <span title="{% trans 'Translation up-to-date' %}">
                                                <i data-feather="check" class="inline-block"></i>
                                            </span>
                                        {% endif %}
                                    {% else %}
                                        <span title="{% trans 'Translation missing' %}">
                                            <i data-feather="x" class="inline-block"></i>
                                        </span>
                                    {% endif %}
                                    {{ other_language.translated_name }}
                                </a>
                            {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="w-full mb-4 rounded border-2 border-blue-500 bg-white">
                <div class="w-full p-4">
                    {% if event_translation_form.instance.id %}
                        <span class="inline-block mt-4 mb-2 font-bold">{% trans 'Version' %}:</span>
                        {{ event_translation_form.instance.version }}<br>
                        <span class="inline-block mb-2 font-bold">{% trans 'Status' %}:</span>
                        {{ event_translation_form.instance.get_status_display }}
                    {% endif %}
                    <label for="{{ event_translation_form.title.id_for_label }}" class="block mb-2 mt-4 font-bold">{{ event_translation_form.title.label }}</label>
                    {% render_field event_translation_form.title|add_error_class:"border-red-500" class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                    <label for="{{ event_translation_form.slug.id_for_label }}" class="block my-2 font-bold">{{ event_translation_form.slug.label }}</label>
                    <div class="mb-2 text-s text-gray-600">{{ event_translation_form.slug.help_text }}</div>
                    <div id="slug-div" class="appearance-none block w-full bg-gray-200 text-xl text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400">
                        {% spaceless %}
                            <div style="display: table; white-space: nowrap;">
                                <span style="display: table-cell;">https://integreat.app/{{ region.slug }}/{{ language.slug }}/events/</span>
                                {% if event_translation_form.instance.ancestor_path %}
                                    <span style="display: table-cell;">{{ event_translation_form.instance.ancestor_path }}/</span>
                                {% endif %}
                                <span style="display: table-cell; width: 100%;">{% render_field event_translation_form.slug|add_error_class:"slug-error" class="w-full rounded" %}</span>
                            </div>
                        {% endspaceless %}
                    </div>
                    <label for="{{ event_translation_form.description.id_for_label }}" class="block mb-2 mt-4 font-bold">{{ event_translation_form.description.label }}</label>
                    {% render_field event_translation_form.description|add_error_class:"border-red-500" class="bg-gray-200 w-full p-2 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-400 rounded tinymce_textarea" %}
                    <span class="block mb-2 mt-4 font-bold">{% trans 'Implications on other translations' %}</span>
                    {% render_field event_translation_form.minor_edit id="minor_edit" %}
                    <label for="{{ event_translation_form.minor_edit.id_for_label }}" class="text-s">{{ event_translation_form.minor_edit.label }}</label>
                    <div class="my-2 text-s text-gray-600">{{ event_translation_form.minor_edit.help_text }}</div>
                </div>
            </div>
        </div>
        <div class="w-1/3 pl-4 flex flex-wrap flex-col">
            <ul class="flex pl-4">
                <li class="z-10" style="margin-bottom: -2px">
                    <div class="bg-white text-blue-500 border-l-2 border-t-2 border-r-2 border-blue-500 font-bold rounded-t-lg p-4">
                        <div class="border-b-4 border-white">
                            <i data-feather="flag" class="inline-block"></i>
                            {% trans 'Settings for all translations' %}
                        </div>
                    </div>
                </li>
            </ul>
            <div class="w-full mb-4 rounded border-2 border-solid border-blue-500 shadow bg-white">
                <div class="w-full p-4">
                        <div class="flex flex-wrap">
                            <div class="w-1/2 pr-2">
                                <label for="{{ event_form.start_date.id_for_label }}" class="mb-2 block font-bold text-sm">{{ event_form.start_date.label }}</label>
                                {% render_field event_form.start_date|add_error_class:"border-red-500" class="appearance-none block w-full bg-gray-200 text-gray-600 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                            </div>
                            <div class="w-1/2">
                                <label for="{{ event_form.end_date.id_for_label }}" class="mb-2 block font-bold text-sm">{{ event_form.end_date.label }}</label>
                                {% render_field event_form.end_date|add_error_class:"border-red-500" class="appearance-none block w-full bg-gray-200 text-gray-600 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                            </div>
                        </div>
                        <div class="flex flex-wrap my-3">
                            <div class="time-field w-1/2 pr-2{% if event_form.is_all_day.value %} hidden{% endif %}">
                                <label for="{{ event_form.start_time.id_for_label }}" class="mb-2 block font-bold text-sm">{{ event_form.start_time.label }}</label>
                                {% render_field event_form.start_time|add_error_class:"border-red-500" class="appearance-none block w-full bg-gray-200 text-gray-600 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                            </div>
                            <div class="time-field w-1/2{% if event_form.is_all_day.value %} hidden{% endif %}">
                                <label for="{{ event_form.end_time.id_for_label }}" class="mb-2 block font-bold text-sm">{{ event_form.end_time.label }}</label>
                                {% render_field event_form.end_time|add_error_class:"border-red-500" class="appearance-none block w-full bg-gray-200 text-gray-600 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                            </div>
                        </div>
                        <div class="checkbox-wrap relative mt-2 pl-5" style="padding-top:2px;padding-bottom:2px;padding-left:0;">
                            {% render_field event_form.is_all_day %}
                            <label for="{{ event_form.is_all_day.id_for_label }}" class="mb-2 p-2 font-bold text-sm">{{ event_form.is_all_day.label }}</label>
                        </div>
                        <div class="{% if not request.user.profile.expert_mode %}hidden{% endif %}">
                            <h3 class="font-bold mb-3 pt-4">{% trans 'Recurrence' %}</h3>
                            <div class="checkbox-wrap relative my-2 pl-5" style="padding-top:2px;padding-bottom:2px;padding-left: 0">
                                {% render_field event_form.is_recurring id="recurrence-rule-checkbox" %}
                                <label for="{{ event_form.is_recurring.id_for_label }}">{{ event_form.is_recurring.label }}</label>
                            </div>
                            <div id="recurrence-rule"{% if not event_form.is_recurring.value %} class="hidden"{% endif %}>
                                <label for="{{ recurrence_rule_form.frequency.id_for_label }}" class="mt-4 mb-2 block font-bold text-sm">{{ recurrence_rule_form.frequency.label }}</label>
                                <div class="relative my-2">
                                    {% render_field recurrence_rule_form.frequency|add_error_class:"border-red-500" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-800 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-800">
                                        <img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
                                    </div>
                                </div>
                                <div id="recurrence-weekly"{% if not recurrence_rule_form.instance.frequency == 'WEEKLY' %} class="hidden"{% endif %}>
                                    <label for="{{ recurrence_rule_form.weekdays_for_weekly.id_for_label }}" class="mt-4 mb-2 block font-bold text-sm">{{ recurrence_rule_form.weekdays_for_weekly.label }}</label>
                                    <select name="weekdays_for_weekly" id="id_weekdays_for_weekly" multiple="multiple" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-800 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500{% if recurrence_rule_form.weekdays_for_weekly.errors %} border-red-500{% endif %}">
                                        {% for choice_value, choice_label in recurrence_rule_form.fields.weekdays_for_weekly.widget.choices %}
                                        <option value="{{ choice_value }}"{% if not recurrence_rule_form.data|is_empty %}
                                            {% if choice_value in recurrence_rule_form.data|get_int_list:'weekdays_for_weekly' %} selected="selected"{% endif %}
                                        {% else %}
                                            {% if choice_value in recurrence_rule_form.instance.weekdays_for_weekly %} selected="selected"{% endif %}
                                        {% endif %}>{{ choice_label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div id="recurrence-monthly"{% if not recurrence_rule_form.instance.frequency == 'MONTHLY' %} class="hidden"{% endif %}>
                                    <label for="{{ recurrence_rule_form.week_for_monthly.id_for_label }}" class="mt-4 mb-2 block font-bold text-sm">{{ recurrence_rule_form.week_for_monthly.label }}</label>
                                    {% render_field recurrence_rule_form.week_for_monthly|add_error_class:"border-red-500" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-800 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                                    <label for="{{ recurrence_rule_form.weekday_for_monthly.id_for_label }}" class="mt-4 mb-2 block font-bold text-sm">{{ recurrence_rule_form.weekday_for_monthly.label }}</label>
                                    {% render_field recurrence_rule_form.weekday_for_monthly|add_error_class:"border-red-500" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-800 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                                </div>
                                <label for="{{ recurrence_rule_form.interval.id_for_label }}" class="mt-4 mb-2 block font-bold text-sm">{{ recurrence_rule_form.interval.label }}</label>
                                {% render_field recurrence_rule_form.interval|add_error_class:"border-red-500" class="appearance-none block w-full bg-gray-200 text-gray-600 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                                <div class="checkbox-wrap relative mt-2 pl-5" style="padding-top:2px;padding-bottom:2px;padding-left:0;">
                                    {% render_field recurrence_rule_form.has_recurrence_end_date %} {{ recurrence_rule_form.has_recurrence_end_date.label }}
                                </div>
                                <div id="recurrence-end"{% if not recurrence_rule_form.data|is_empty %}
                                    {% if not recurrence_rule_form.data.has_recurrence_end_date %} class="hidden"{% endif %}
                                {% else %}
                                    {% if not recurrence_rule_form.instance.recurrence_end_date %} class="hidden"{% endif %}
                                {% endif %}>
                                    <label for="{{ recurrence_rule_form.recurrence_end_date.id_for_label }}" class="mt-4 mb-2 block font-bold text-sm">{{ recurrence_rule_form.recurrence_end_date.label }}</label>
                                    {% render_field recurrence_rule_form.recurrence_end_date|add_error_class:"border-red-500" class="appearance-none block w-full bg-gray-200 text-gray-600 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                                </div>
                            </div>
                        </div>
                        <h3 class="font-bold my-3">{% trans 'Where' %}</h3>

                        <label for="{{ event_form.location.id_for_label }}" class="mt-4 mb-2 block font-bold uppercase text-sm">{{ event_form.location.label }}</label>
                        {% trans 'Name of event location' as poi_title_placeholder %}
                        <div class="relative my-2">
                            <input id="poi-query-input" type="search" autocomplete="off" class="pr-8 appearance-none block w-full bg-white text-gray-800 placeholder-gray-800 border border-gray-400 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:placeholder-gray-600"{% if event_form.disabled %} disabled{% endif %} placeholder="{% if poi %}{{ poi|poi_translation_title:current_language }}{% else %}{{ poi_title_placeholder }}{% endif %}" data-url="{% url 'search_poi_ajax' %}" data-region-slug="{{ region.slug }}" data-default-placeholder="{{ poi_title_placeholder }}">
                            <div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-800">
                                <button id="poi-remove" title="{% trans 'Remove location from event' %}"{% if event_form.disabled %} disabled{% endif %}>
                                    <i data-feather="trash-2" class="h-5 w-5"></i>
                                </button>
                            </div>
                        </div>
                        <div class="relative" id="poi-query-result">
                            {% include 'events/_poi_query_result.html' %}
                        </div>
                        <small class="text-sm italic block mt-2 mb-2">
                            {% trans 'Create an event location or start typing the name of an existing location' %}.
                        </small>
                        <input name="poi_id" id="poi-id" class="hidden" value="{% if poi %}{{ poi.id }}{% else %}-1{% endif %}" readonly>
                        {% trans 'Street' as street_placeholder %}
                        <input id="poi-address" disabled class="appearance-none block w-full bg-white text-gray-800 border border-gray-400 rounded mb-2 py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey" placeholder="{{ street_placeholder }}" value="{% if poi %}{{ poi.address }}{% endif %}" />
                        {% trans 'City' as city_placeholder %}
                        <input id="poi-city" disabled class="appearance-none block w-full bg-white text-gray-800 border border-gray-400 rounded mb-2 py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey" placeholder="{{ city_placeholder }}" value="{% if poi %}{{ poi.city }}{% endif %}" />
                        {% trans 'Country' as country_placeholder %}
                        <input id="poi-country" disabled class="appearance-none block w-full bg-white text-gray-800 border border-gray-400 rounded mb-2 py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey" placeholder="{{ country_placeholder }}" value="{% if poi %}{{ poi.country }}{% endif %}" />

                        <label class="mt-4 mb-2 block font-bold uppercase text-sm">{% trans 'Map' %}</label>
                        <i class="text-teal-500">Google Map vs. OSM</i>
                        <div class="pt-4 pb-4">
                            <span class="block font-bold mb-4">{{ event_form.icon.label }}</span>
                            {% render_field event_form.icon label=event_form.icon.label %}
                        </div>
                    {% if event_form.instance.id and can_edit_event %}
                        <div class="pt-2 pb-4">
                            {% if event_form.instance.archived %}
                                <span class="block font-bold mb-4">{% trans 'Restore event' %}</span>
                                <button class="confirmation-button w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
                                    data-confirmation-title="{{ restore_dialog_title }}"
                                    data-confirmation-text="{{ restore_dialog_text}}"
                                    data-confirmation-subject="{{ event_translation_form.instance.title }}"
                                    data-action="{% url 'restore_event' event_id=event_form.instance.id region_slug=region.slug language_slug=language.slug %}">
                                    <i data-feather="refresh-ccw" class="inline-block mr-2"></i>
                                    {% trans 'Restore this event' %}
                                </button>
                            {% else %}
                                <span class="block font-bold mb-4">{% trans 'Archive event' %}</span>
                                <button class="confirmation-button w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
                                    data-confirmation-title="{{ archive_dialog_title }}"
                                    data-confirmation-text="{{ archive_dialog_text }}"
                                    data-confirmation-subject="{{ event_translation_form.instance.title }}"
                                    data-action="{% url 'archive_event' event_id=event_form.instance.id region_slug=region.slug language_slug=language.slug %}">
                                    <i data-feather="archive" class="inline-block mr-2"></i>
                                    {% trans 'Archive this event' %}
                                </button>
                            {% endif %}
                        </div>
                        {% if user.is_superuser or user.is_staff %}
                            <div class="pt-2 pb-4">
                                <span class="block font-bold mb-4">{% trans 'Delete event' %}</span>
                                <button class="confirmation-button w-full bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded" 
                                    data-confirmation-title="{{ delete_dialog_title }}"
                                    data-confirmation-text="{{ delete_dialog_text }}"
                                    data-confirmation-subject="{{ event_translation_form.instance.title }}"
                                    data-action="{% url 'delete_event' event_id=event_form.instance.id region_slug=region.slug language_slug=language.slug %}">
                                    <i data-feather="trash-2" class="inline-block mr-2"></i>
                                    {% trans 'Delete this event' %}
                                </button>
                            </div>
                        {% endif %}
                    {% endif %}
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</form>

{% get_current_language as LANGUAGE_CODE %}
{% has_perm 'cms.edit_events' request.user as can_edit_event %}
<div
        id="tinymce-config-options"
        data-language="{{ LANGUAGE_CODE|slice:'0:2' }}"
        data-notranslate-tooltip="{% trans 'Do not translate the selected text.' %}"
        data-pinicon-text="{% trans 'Location' %}"
        data-pinicon-src="{% static 'svg/pin.svg' %}"
        data-wwwicon-text="{% trans 'Link' %}"
        data-wwwicon-src="{% static 'svg/world-wide-web.svg' %}"
        data-callicon-text="{% trans 'Phone' %}"
        data-callicon-src="{% static 'svg/call.svg' %}"
        data-clockicon-text="{% trans 'Opening Hours' %}"
        data-clockicon-src="{% static 'svg/clock.svg' %}"
        data-aticon-text="{% trans 'Email' %}"
        data-aticon-src="{% static 'svg/at.svg' %}"
        data-ideaicon-text="{% trans 'Hint' %}"
        data-ideaicon-src="{% static 'svg/idea.svg' %}"
        data-customcss-src="{% static 'css/tinymce_custom.css' %}"
        {% if not can_edit_event or event_form.instance.id and event_form.instance.archived %}
        data-readonly="1"
        {% endif %}
></div>

{% if event_form.instance.id %}
    {% include '../generic_confirmation_dialog.html' %}
{% endif %}

{% endblock %}

{% block javascript %}
<script src="{% static 'js/confirmation-popups.js' %}"></script>
<script src="{% static 'js/events/conditional-fields.js' %}"></script>
<script src="{% static 'js/forms/tinymce-init.js' %}"></script>
<script src="{% static 'js/forms/slug-error.js' %}"></script>
<script src="{% static 'js/forms/icon-field.js' %}"></script>
{% if not event_form.disabled %}
    <script src="{% static 'js/events/event_query_pois.js' %}"></script>
{% endif %}
{% endblock %}
