{% extends "_base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load text_filters %}
{% block content %}
    {% with filter_form.filters_visible as filters_visible %}
        <div class="table-header">
            <h1 class="heading">{% translate "Feedback" %}</h1>
            <div class="flex justify-between">
                {% include "_search_input.html" with object_type="feedback" region_slug=request.region.slug related_form="region-feedback-filter-form" %}
                <button id="filter-toggle" class="btn btn-light-blue">
                    <span class="filter-toggle-text {% if filters_visible %}hidden{% endif %}">{% translate "Show filters" %}</span>
                    <span class="filter-toggle-text {% if not filters_visible %}hidden{% endif %}">{% translate "Hide filters" %}</span>
                </button>
            </div>
        </div>
        <div id="filter-form-container"
             class="{% if not filters_visible %}hidden{% endif %} w-full mt-4 rounded border border-solid border-gray-200 shadow bg-white">
            {% include "feedback/_region_feedback_filter_form.html" %}
        </div>
    {% endwith %}
    <form id="bulk-action-form" method="post">
        {% csrf_token %}
        <table class="w-full mt-4 rounded border border-solid border-gray-200 shadow bg-white"
               data-enable-row-checkbox-toggle>
            <tr class="border-b border-solid border-gray-200">
                <th class="text-sm text-left uppercase py-3 pr-2"
                    style="padding-left: 10px"
                    title="{% translate "Select all" %}">
                    <input type="checkbox" id="bulk-select-all"/>
                </th>
                <th class="text-sm text-left uppercase py-3 pr-2">{% translate "Category" %}</th>
                <th class="text-sm text-left uppercase py-3 pr-2">{% translate "Feedback on" %}</th>
                <th class="text-sm text-left uppercase py-3 pr-2">{% translate "Language" %}</th>
                <th class="text-sm text-left uppercase py-3 pr-2">{% translate "Comment" %}</th>
                <th class="text-sm text-left uppercase py-3 pr-2">{% translate "Rating" %}</th>
                <th class="text-sm text-left uppercase py-3 pr-2">{% translate "Rating" %} ({% translate "overall" %})</th>
                <th class="text-sm text-left uppercase py-3 pr-2">{% translate "Marked as read by" %}</th>
                <th class="text-sm text-right uppercase py-3 pr-2">{% translate "Date" %}</th>
            </tr>
            {% for feedback in region_feedback %}
                <tr class="border-t border-solid border-gray-200 hover:bg-gray-200 {% if not feedback.read %}bg-yellow-100 border-yellow-200 hover:border-gray-200{% endif %}">
                    <td class="py-3 {% if not feedback.read %}border-l-4 border-yellow-400{% endif %}"
                        style="padding-left: {% if feedback.read %}10{% else %}8{% endif %}px">
                        <input type="checkbox"
                               name="selected_ids[]"
                               value="{{ feedback.id }}"
                               class="bulk-select-item"/>
                    </td>
                    <td class="pr-2 whitespace-nowrap">{{ feedback.category }}</td>
                    <td class="pr-2 truncate max-w-[75px] 2xl:max-w-[200px]"
                        title="{{ feedback.object_name }}">
                        {% if feedback.object_url %}
                            <a href="{{ feedback.object_url }}" class="hover:underline">{{ feedback.object_name }}</a>
                        {% else %}
                            <div class="feedback-entry">
                                <span class="feedback-entry-content">{{ feedback.object_name }}</span>
                                <a class="copy-search-btn btn-icon inline"
                                   data-copy-to-clipboard="{{ feedback.object_name }}"
                                   title="{% translate "Copy to clipboard" %}">
                                    <i icon-name="copy"></i>
                                    <i icon-name="check" class="hidden text-green-500"></i>
                                </a>
                                <a class="toggle-feedback-entry">
                                    <i icon-name="chevron-down" class="more"></i>
                                    <i icon-name="chevron-up" class="less"></i>
                                </a>
                            </div>
                        {% endif %}
                    </td>
                    <td class="pr-2">{{ feedback.language.translated_name }}</td>
                    <td class="pr-2 max-w-[75px] xl:max-w-[280px] 2xl:max-w-[400px] 3xl:max-w-[550px] 4xl:max-w-[900px]"
                        title="{{ feedback.comment }}">
                        {% if not feedback.comment %}
                            <i icon-name="minus" class="pr-1"></i>
                        {% else %}
                            <div class="feedback-entry">
                                <span class="feedback-entry-content">{{ feedback.comment }}</span>
                                <a class="toggle-feedback-entry">
                                    <i icon-name="chevron-down" class="more"></i>
                                    <i icon-name="chevron-up" class="less"></i>
                                </a>
                            </div>
                        {% endif %}
                    </td>
                    <td class="pr-2">
                        {% if feedback.rating == True %}
                            <i icon-name="thumbs-up" class="pr-1"></i>
                        {% elif feedback.rating == False %}
                            <i icon-name="thumbs-down" class="pr-1"></i>
                        {% elif feedback.rating == None %}
                            <i icon-name="minus" class="pr-1"></i>
                        {% endif %}
                    </td>
                    <td class="pr-2">
                        <span class="{% if not feedback.rating_sum_positive %}invisible{% endif %}">
                            <i icon-name="thumbs-up" class="pr-1"></i> {{ feedback.rating_sum_positive }}
                        </span>
                        <span class="{% if not feedback.rating_sum_negative %}invisible{% endif %}">
                            <i icon-name="thumbs-down" class="pl-1"></i> {{ feedback.rating_sum_negative }}
                        </span>
                    </td>
                    <td class="pr-2">
                        {% if feedback.read_by.email %}<a href="mailto:{{ feedback.read_by.email }}" class="hover:underline">{% endif %}
                        {{ feedback.read_by.full_user_name }}
                        {% if feedback.read_by.email %}</a>{% endif %}
                    </td>
                    <td class="pr-2 text-right whitespace-nowrap">{{ feedback.created_date }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="9" class="px-2 py-3 text-center">
                        {% if filter_form.has_changed %}
                            {% translate "No feedback found with these filters." %}
                        {% else %}
                            {% translate "No feedback available yet." %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if region_feedback %}
            <div class="pt-2 px-2">
                <div class="inline">
                    <span class="text-gray-800 font-bold" data-list-selection-count>0</span> <span class="text-gray-600">{% translate "Feedback entries selected" %}</span>
                </div>
            </div>
        {% endif %}
        <div class="flex flex-col">
            <div class="flex self-start gap-2 mt-2">
                <select id="bulk-action">
                    <option>
                        {% translate "Select bulk action" %}
                    </option>
                    <option data-bulk-action="{% url 'mark_region_feedback_as_read' region_slug=request.region.slug %}">
                        {% translate "Mark as read" %}
                    </option>
                    <option data-bulk-action="{% url 'mark_region_feedback_as_unread' region_slug=request.region.slug %}">
                        {% translate "Mark as unread" %}
                    </option>
                    {% if perms.cms.delete_feedback %}
                        <option data-bulk-action="{% url 'delete_region_feedback' region_slug=request.region.slug %}">
                            {% translate "Delete" %}
                        </option>
                    {% endif %}
                </select>
                <button id="bulk-action-execute" class="btn" disabled>{% translate "Execute" %}</button>
            </div>
        </div>
        {% include "pagination.html" with chunk=region_feedback %}
    </form>
{% endblock content %}
