{% load i18n %}

<tr class="border-t border-solid border-grey-lighter hover:bg-grey-lightest">
	<td class="pl-2">
		<a href="{% url 'edit_language' language_code=language.code %}" class="block py-3 px-2 text-grey-darkest">
			{{ language.translated_name }}
		</a>
	</td>
	<td>
		<a href="{% url 'edit_language' language_code=language.code %}" class="block py-3 px-2 text-grey-darkest">
			{{ language.native_name }}
		</a>
	</td>
	<td>
		<a href="{% url 'edit_language' language_code=language.code %}" class="block py-3 px-2 text-grey-darkest">
			{{ language.code }}
		</a>
	</td>
	<td>
		<a href="{% url 'edit_language' language_code=language.code %}" class="block py-3 px-2 text-grey-darkest">
			{{ language.get_text_direction_display }}
		</a>
	</td>
	<td>
		<a href="{% url 'edit_language' language_code=language.code %}" class="block py-3 px-2 text-grey-darkest">
			{{ language.created_date }}
		</a>
	</td>
	<td class="pr-2">
		<a href="{% url 'edit_language' language_code=language.code %}" class="block py-3 px-2 text-grey-darkest">
			{{ language.last_updated }}
		</a>
	</td>
</tr>