{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load content_filters %}
<form method="post">
    {% csrf_token %}
    {% get_current_language as LANGUAGE_CODE %}
    {% get_language LANGUAGE_CODE as current_language %}
    <div class="flex flex-wrap p-4 pb-0 items-start">
        <div class="w-2/5 pr-6">
            <div class="flex flex-wrap items-end">
                <label for="{{ filter_form.category.id_for_label }}" class="font-bold">{{ filter_form.category.label }}</label>
                <div class="w-full relative my-2">
                    {% render_field filter_form.category|add_error_class:"border-red-500" class+="default-value appearance-none block w-full bg-gray-200 text-gray-600 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" data-default-value="" %}
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-800">
                        <img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
                    </div>
                </div>
                <label for="{{ filter_form.language.id_for_label }}" class="font-bold">{{ filter_form.language.label }}</label>
                <div class="w-full relative my-2">
                    {% render_field filter_form.language|add_error_class:"border-red-500" class+="default-value appearance-none block w-full bg-gray-200 text-gray-600 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" data-default-value="" %}
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-800">
                        <img src="{% static 'svg/select-down-arrow.svg' %}" class="fill-current h-4 w-4" />
                    </div>
                </div>
            </div>
        </div>
        <div class="w-2/5 pr-6">
            <h3 class="font-bold">{% trans 'Time range' %}</h3>
            <div class="flex flex-wrap my-2 items-end my-2">
                <div class="w-1/2 pr-1">
                    {% render_field filter_form.date_from|add_error_class:"border-red-500" class+="appearance-none block w-full bg-gray-200 text-gray-600 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                    <label for="{{ filter_form.date_from.id_for_label }}" class="mt-2 block uppercase text-xs">{{ filter_form.date_from.label }}</label>
                </div>
                <div class="w-1/2 pr-1">
                    {% render_field filter_form.date_to|add_error_class:"border-red-500" class+="appearance-none block w-full bg-gray-200 text-gray-600 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-400" %}
                    <label for="{{ filter_form.date_to.id_for_label }}" class="mt-2 block uppercase text-xs">{{ filter_form.date_to.label }}</label>
                </div>
            </div>
        </div>
        <div class="w-1/5">
            <label for="{{ filter_form.read_status.id_for_label }}" class="font-bold mb-1 block">{{ filter_form.read_status.label }}</label>
            {% render_field filter_form.read_status class="default-checked leading-normal rounded mr-1" %}
            <label for="{{ filter_form.rating.id_for_label }}" class="font-bold mb-1 mt-3 block">{{ filter_form.rating.label }}</label>
            {% render_field filter_form.rating class="default-checked leading-normal rounded mr-1" %}
        </div>
    </div>
    <div class="w-full flex p-4 justify-end">
        <button type="button" id="filter-reset"
               class="cursor-pointer bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-3">
            {% trans 'Reset filter' %}
        </button>
        <input type="submit" name="filter" value="{% trans 'Apply filter' %}"
               class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-4 rounded">
    </div>
</form>
