{% extends "_base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<h2>{% trans 'Technical Feedback' %}</h2>

<table class="w-full mt-4 rounded border border-solid border-gray-200 shadow bg-white">
    <tr class="border-b border-solid border-gray-200">
        <th class="text-sm text-left uppercase py-3 pl-2">{% trans 'Type' %}</th>
        <th class="text-sm text-left uppercase py-3">{% trans 'Object' %}</th>
        <th class="text-sm text-left uppercase py-3">{% trans 'Language' %}</th>
        <th class="text-sm text-left uppercase py-3">{% trans 'Comment' %}</th>
        <th class="text-sm text-left uppercase py-3">{% trans 'Rating' %}</th>
        <th class="text-sm text-right uppercase py-3 pr-2">{% trans 'Date' %}</th>
    </tr>
  {% if not  admin_feedback_exists %}
    <tr><td colspan="6" class="px-2 py-3">{% trans 'No Feedback available yet.' %} </td></tr>
    
    {% else %} 
    {% for feedback in page_feedback %}
     <tr>
        <td class="pl-2 py-3">{% trans 'Page' %}</td>
        <td>
            <a href="{% url 'edit_page' page_id=feedback.page_translation.page.id region_slug=feedback.page_translation.page.region.slug language_code=feedback.page_translation.language.code %}">
                {{ feedback.page_translation.title }}
            </a>
        </td>
         <td>{{ feedback.language.translated_name }}</td>
        <td>{{ feedback.comment }}</td>
        <td>{{ feedback.get_emotion_display }}</td>
        <td class="pr-2 text-right">{{ feedback.created_date }}</td>
    </tr>
    {% endfor %}
    {% for feedback in event_feedback %}
    <tr>
        <td class="pl-2 py-3">{% trans 'Event' %}</td>
        <td>
            <a href="{% url 'edit_event' event_id=feedback.event_translation.event.id region_slug=feedback.event_translation.event.region.slug language_code=feedback.event_translation.language.code %}">
                {{ feedback.event_translation.title }}
            </a>
        </td>
        <td>{{ feedback.language.translated_name }}</td>
        <td>{{ feedback.comment }}</td>
        <td>{{ feedback.get_emotion_display }}</td>
        <td class="pr-2 text-right">{{ feedback.created_date }}</td>
    </tr>
    {% endfor %}
    {% for feedback in event_list_feedback %}
    <tr>
        <td class="pl-2 py-3">{% trans 'Event List' %}</td>
        <td>
            <a href="{% url 'events' region_slug=feedback.region.slug %}">
                {% trans 'Event List' %}
            </a>
        </td>
        <td>{{ feedback.language.translated_name }}</td>
        <td>{{ feedback.comment }}</td>
        <td>{{ feedback.get_emotion_display }}</td>
        <td class="pr-2 text-right">{{ feedback.created_date }}</td>
    </tr>
    {% endfor %}
    {% for feedback in offer_feedback %}
    <tr>
        <td class="pl-2 py-3"></td>{% trans 'Offer' %}</td>
        <td>
            <a href="{% url 'edit_offer_template' offer_template_id=feedback.offer.template.id %}">
                {{ feedback.offer.name }}
            </a>
        </td>
        <td>{{ feedback.language.translated_name }}</td>
        <td>{{ feedback.comment }}</td>
        <td>{{ feedback.get_emotion_display }}</td>
        <td class="pr-2 text-right">{{ feedback.created_date }}</td>
    </tr>
    {% endfor %}
    {% for feedback in offer_list_feedback %}
    <tr>
        <td class="pl-2 py-3">{% trans 'Offer List' %}</td>
        <td>
            <a href="{% url 'offers' region_slug=feedback.region.slug %}">
                {% trans 'Offer List' %}
            </a>
        </td>
        <td>{{ feedback.language.translated_name }}</td>
        <td>{{ feedback.comment }}</td>
        <td>{{ feedback.get_emotion_display }}</td>
        <td class="pr-2 text-right">{{ feedback.created_date }}</td>
    </tr>
    {% endfor %}
    {% for feedback in search_result_feedback %}
    <tr>
        <td class="pl-2 py-3">{% trans 'Search Result' %}</td>
        <td>{{ feedback.searchQuery }}</td>
        <td>{{ feedback.language.translated_name }}</td>
        <td>{{ feedback.comment }}</td>
        <td>{{ feedback.get_emotion_display }}</td>
        <td class="pr-2 text-right">{{ feedback.created_date }}</td>
    </tr>
    {% endfor %}
    {% for feedback in imprint_page_feedback %}
    <tr>
        <td class="pl-2 py-3">{% trans 'Imprint Page' %}</td>
        <td>{{ feedback.region.imprint.translations.first.title }}</td> <!-- TODO: insert link to imprint form -->
        <td>{{ feedback.language.translated_name }}</td>
        <td>{{ feedback.comment }}</td>
        <td>{{ feedback.get_emotion_display }}</td>
        <td class="pr-2 text-right">{{ feedback.created_date }}</td>
    </tr>
    {% endfor %}
    {% for feedback in region_feedback %}
    <tr>
        <td class="pl-2 py-3">{% trans 'Region' %}</td>
        <td>
            <a href="{% url 'dashboard' region_slug=feedback.region.slug %}">
                {{ feedback.region.name }}
            </a>
        </td>
        <td>{{ feedback.language.translated_name }}</td>
        <td>{{ feedback.comment }}</td>
        <td>{{ feedback.get_emotion_display }}</td>
        <td aclass="pr-2 text-right">{{ feedback.created_date }}</td>
    </tr>
    {% endfor %}
    
    {% endif %} 

    
</table>
{% endblock %}
