{% extends "_base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<h2>Feedback</h2>
<table class="w-full mt-4 rounded border border-solid border-gray-200 shadow bg-white">
  <tr class="border-b border-solid border-gray-200"><th>Type</th><th>Comment</th><th>Rating</th><th>Date</th></tr>
{% for item in feedback_events %}
<tr ><td>Event</td><td>{{ item.comment }}</td><td>{{ item.rating }}</td><td>{{ item.created_date }}</td></tr>
{% endfor %}
{% for item in feedback_offers %}
<tr><td>Offer</td><td>{{ item.comment }}</td><td>{{ item.rating }}</td><td>{{ item.created_date }}</td></tr>
{% endfor %}

{% endblock %}
