{% extends "_base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<h2>Feedback</h2>

<table class="w-full mt-4 rounded border border-solid border-gray-200 shadow bg-white" border="1">
    <tr class="border-b border-solid border-gray-200">
        <th>Type</th>
        <th>Objekt</th>
        <th>Comment</th>
        <th>Rating</th>
        <th>Date</th>
    </tr>

    {% for feedback in page_feedback %}
    <tr>
        <td align="center">Pages</td>
        <td align="center">{{ feedback.page.url }}</td>
        <td align="center">{{ feedback.comment }}</td>
        <td align="center">{{ feedback.get_emotion_display }}</td>
        <td align="center">{{ feedback.created_date }}</td>
    </tr>
    {% endfor %}
    {% for feedback in event_feedback %}
    <tr>
        <td align="center">Event</td>
        <td align="center">
            <a href="{% url 'edit_event' event_id=feedback.event_translation.event.id region_slug=region.slug language_code=feedback.event_translation.language.code %}">
                {{ feedback.event_translation.title }}
            </a>
        </td>
        <td align="center">{{ feedback.comment }}</td>
        <td align="center">{{ feedback.get_emotion_display }}</td>
        <td align="center">{{ feedback.created_date }}</td>
    </tr>
    {% endfor %}
    {% for feedback in event_list_feedback %}
    <tr>
        <td align="center">Event List</td>
        <td align="center">
            <a href="{% url 'events' region_slug=region.slug %}">
                Event List
            </a>
        </td>
        <td align="center">{{ feedback.comment }}</td>
        <td align="center">{{ feedback.get_emotion_display }}</td>
        <td align="center">{{ feedback.created_date }}</td>
    </tr>
    {% endfor %}
    {% for feedback in offer_feedback %}
    <tr>
        <td align="center">Offer</td>
        <td align="center">
            <a href="{% url 'offers' region_slug=region.slug %}">
                {{ feedback.offer.name }}
            </a>
        </td>
        <td align="center">{{ feedback.comment }}</td>
        <td align="center">{{ feedback.get_emotion_display }}</td>
        <td align="center">{{ feedback.created_date }}</td>
    </tr>
    {% endfor %}
    {% for feedback in offer_feedback %}
    <tr>
        <td align="center">Offer List</td>
        <td align="center">
            <a href="{% url 'offers' region_slug=region.slug %}">
                Offer List
            </a>
        </td>
        <td align="center">{{ feedback.comment }}</td>
        <td align="center">{{ feedback.get_emotion_display }}</td>
        <td align="center">{{ feedback.created_date }}</td>
    </tr>
    {% endfor %}
    {% for feedback in search_result_feedback %}
    <tr>
        <td align="center">Search Result</td>
        <td align="center">{{ feedback.searchQuery }}</td>
        <td align="center">{{ feedback.comment }}</td>
        <td align="center">{{ feedback.get_emotion_display }}</td>
        <td align="center">{{ feedback.created_date }}</td>
    </tr>
    {% endfor %}
    {% for feedback in imprint_page_feedback %}
    <tr>
        <td align="center">Imprint Page</td>
        <td align="center">{{ feedback.region.imprint.translations.first.title }}</td> <!-- TODO: insert link to imprint form -->
        <td align="center">{{ feedback.comment }}</td>
        <td align="center">{{ feedback.get_emotion_display }}</td>
        <td align="center">{{ feedback.created_date }}</td>
    </tr>
    {% endfor %}
    {% for feedback in region_feedback %}
    <tr>
        <td align="center">Region</td>
        <td align="center">{{ feedback.region.permalink }}</td>
        <td align="center">{{ feedback.comment }}</td>
        <td align="center">{{ feedback.get_emotion_display }}</td>
        <td align="center">{{ feedback.created_date }}</td>
    </tr>
    {% endfor %}

</table>
<br>
<h2>Rating</h2>

<table class="w-full mt-4 rounded border border-solid border-gray-200 shadow bg-white">
    <tr class="border-b border-solid border-gray-200">
        <th>Type</th>
        <th>Like &#128077;</th>
        <th>DisLike &#128078;</th>
    </tr>
    {% if page_feedback %}
    <tr >
        <td align="center">Pages</td>
        <td align="center">{{ page_count_pos }}</td>
        <td align="center">{{ page_count_neg }}</td>
    </tr>
    {% endif %}
    {% if event_feedback %}
    <tr >
        <td align="center">Events</td>
        <td align="center">{{ event_count_pos }}</td>
        <td align="center">{{ event_count_neg }}</td>
    </tr>
    {% endif %}
    {% if offer_feedback %}
    <tr >
        <td align="center">Offer</td>
        <td align="center">{{ offer_count_pos }}</td>
        <td align="center">{{ offer_count_neg }}</td>
    </tr>
    {% endif %}
</table>


{% endblock %}


