/*
 * DejaVu Sans
 *
 * This font is used as a fallback in PDFs.
 */

/* dejavu-sans - arabic */
@font-face {
    font-family: "DejaVu";
    font-style: normal;
    font-weight: normal;
    src: url("./dejavu-sans.ttf");
}

/* dejavu-sans-bold - arabic */
@font-face {
    font-family: "DejaVu";
    font-style: normal;
    font-weight: bold;
    src: url("./dejavu-sans-bold.ttf");
}
