/*
 * DejaVu Sans
 *
 * This font is used for right-to-left alphabets in PDFs.
 * It is required because the PDF library xhtml2pdf doesn't support the default font Lateef.
 */

/* dejavu-sans - arabic */
@font-face {
    font-family: "DejaVu";
    font-style: normal;
    font-weight: normal;
    src: url('./dejavu-sans.ttf');
}

/* dejavu-sans-bold - arabic */
@font-face {
    font-family: "DejaVu";
    font-style: normal;
    font-weight: bold;
    src: url('./dejavu-sans-bold.ttf');
}
