/*
 * Noto Sans Ethiopic
 *
 * This font is used for ethiopic alphabets in PDFs.
 * The separate css file is required because the PDF library xhtml2pdf doesn't understand the multiple src syntax for browser compatibility.
 */

/* noto-sans-ethiopic-regular - amharic */
@font-face {
    font-family: "Noto Sans Ethiopic";
    font-style: normal;
    font-weight: normal;
    src: url("./noto-sans-ethiopic-v42-latin-ext_latin_ethiopic-regular.ttf");
}

/* noto-sans-ethiopic-700 - amharic */
@font-face {
    font-family: "Noto Sans Ethiopic";
    font-style: normal;
    font-weight: bold;
    src: url("./noto-sans-ethiopic-v42-latin-ext_latin_ethiopic-700.ttf");
}
