{% load i18n %}
<!-- confirmation popup for deleting page with id {{ page.id }}-->
<div id="confirm_delete_page_{{ page.id }}" class="confirmation-popup flex-col justify-center max-w-sm fixed inset-0 hidden">
	<div class="content bg-gray-light w-full p-4 shadow-md rounded">
		<h2>{% trans 'Please confirm that you really want to delete this page' %}</h2>
		<p class="mt-4 mb-6">
			{% trans 'All translations of this page will also be deleted.' %}
		</p>
		<form method="post" action="{% url 'delete_page' page_id=page.id region_slug=region.slug language_code=language.code %}">
			{% csrf_token %}
			<input type="submit" class="inline-block cursor-pointer bg-red hover:bg-red-500 text-white font-bold py-3 px-4 rounded" value="{% trans 'Yes, delete this page now.' %}" />
			<button class="cursor-pointer bg-blue-400 hover:bg-blue-600 text-white font-bold py-3 px-4 rounded" onclick="close_confirmation_popup(event)">
				{% trans 'Cancel' %}
			</button>
		</form>
	</div>
</div>
<!------------------------>
