{% extends "_raw.html" %}
{% load i18n %}
{% block raw_content %}
{% load static %}
<div id="popup-overlay" class="fixed inset-0 opacity-75 bg-gray-800 hidden"></div>

<header class="fixed top-0 inset-x-0 flex flex-wrap">
    <div id="search" class="flex-1 relative">
        <form>
            <i data-feather="search" class="absolute text-gray-600"></i>
            <input type="search" placeholder="{% trans 'Search' %}..." class="w-full pl-12 pr-6">
        </form>
    </div>
    <div id="instance-selector" class="relative flex flex-wrap flex-col justify-center px-3 cursor-pointer text-gray-800">
        <div class="flex flex-wrap -mt-2">
	        {% if region %}
		        <div style="padding-top: 8px;">
			        <i data-feather="home"></i>
		        </div>
	            <div class="ml-2" style="padding-top: 11px;">
		            {{ region.name }}
	            </div>
	        {% else %}
		        <div style="padding-top: 8px;">
			        <i data-feather="grid"></i>
		        </div>
		        <div class="ml-2" style="padding-top: 10px;">
			        {% trans 'Network Management' %}
		        </div>
	        {% endif %}
        </div>
        <div id="instance-selector-list" class="absolute shadow rounded-b">
	        {% for other_region in other_regions %}
				<a href="{% url 'dashboard' region_slug=other_region.slug %}" class="block px-4 py-3 text-gray-800 hover:bg-gray-400">
					{{ other_region.name }}
				</a>
	        {% endfor %}
	        {% if user.is_superuser or user.is_staff %}
		        {% if region %}
			        <a href="{% url 'admin_dashboard' %}" class="block px-4 py-3 text-gray-800 hover:bg-gray-400 rounded-b">
				        {% trans 'Network Management' %}
			        </a>
		        {% endif %}
	        {% endif %}
        </div>
    </div>
    <div id="language-selector" class="relative flex flex-wrap flex-col justify-center px-4 cursor-pointer text-gray-800">
        {% get_current_language as LANGUAGE_CODE %}
        <div class="flex flex-wrap">
            <div style="padding-top:6px;">
                <img src="{% static '' %}/images/flags/{{ LANGUAGE_CODE }}.png" title="{{ LANGUAGE_CODE|language_name_local }}" />
            </div>
            <span class="mt-1 ml-2">
	                {{ LANGUAGE_CODE|language_name_local }}
	            </span>
        </div>
        <div id="language-selector-list" class="absolute shadow rounded-b">
            {% get_available_languages as LANGUAGES %}
            {% for language_code, language_name in LANGUAGES %}
                {% if language_code != LANGUAGE_CODE %}
                    <form id="i18n-{{ language_code }}" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" />
                        <input name="language" type="hidden" value="{{ language_code }}" />
                        <a href="#" onclick="document.forms['i18n-{{ language_code }}'].submit();" class="block px-4 py-3 text-gray-800 hover:bg-gray-400 rounded-b">
                            {{ language_code|language_name_local }}
                        </a>
                    </form>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="user-info" class="relative pl-2 pr-6 text-gray-800 flex flex-wrap flex-col justify-center cursor-pointer">
        <span class="relative block pr-6 font-bold mt-1">
	        {% if request.user.first_name or request.user.last_name %}
                {{ request.user.first_name }} {{ request.user.last_name }}
	        {% else %}
		        {{ request.user.username }}
	        {% endif %}
            <i data-feather="chevron-down" class="absolute top-0 right-0"></i>
        </span>
        <div id="user-menu" class="absolute shadow rounded-b" style="left: -120px;">
            <a href="/" class="relative block pl-10 pr-4 py-3 text-gray-800 hover:bg-gray-400">
                <i data-feather="help-circle" class="absolute"></i>
	            {% trans 'Help' %}
            </a>
            <a href="/" class="relative block pl-10 pr-4 py-3 text-gray-800 hover:bg-gray-400">
                <i data-feather="message-square" class="absolute"></i>
	            {% trans 'Author Chat' %}
			</a>
			<a href="{% url 'user_settings' %}" class="relative block pl-10 pr-4 py-3 text-gray-800 hover:bg-gray-400">
                <i data-feather="settings" class="absolute"></i>
	            {% trans 'User Settings' %}
            </a>
            <a href="/admin" class="break-words relative block pl-10 pr-4 py-3 text-gray-800 hover:bg-gray-400">
                <i data-feather="grid" class="absolute"></i>
	            {% trans 'Django Administration' %}
            </a>
            <a href="{% url 'logout' %}" class="relative block pl-10 pr-4 py-3 text-gray-800 hover:bg-gray-400 rounded-b">
                <i data-feather="log-out" class="absolute text-red-500"></i>
	            {% trans 'Log out' %}
            </a>
        </div>
    </div>
</header>
<nav id="primary-navigation" class="fixed left-0 inset-y-0">
    <div id="logo" class="w-full p-2 flex justify-center">
        <img src="{% static 'images/integreat-logo-white.png' %}" alt="{% trans 'Integreat Logo' %}" class="max-w-full" />
    </div>
    <div id="menu" class="pb-2">
	    {% if region %}
	        <a href="{% url 'dashboard' region_slug=region.slug %}" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat {% if current_menu_item == 'region_dashboard' %}active{% endif %}">
	            <i data-feather="grid" class="absolute"></i>
		        {% trans 'My Dashboard' %}
	        </a>
			<a href="{% url 'translation_coverage' region_slug=region.slug %}" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat {% if current_menu_item == 'translation_coverage' %}active{% endif %}">
	            <i data-feather="pie-chart" class="absolute"></i>
		        {% trans 'Translation Report' %}
	        </a>
			{% if region.statistics_enabled %}
	        <a href="{% url 'statistics' region_slug=region.slug %}" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat {% if current_menu_item == 'statistics' %}active{% endif %}">
	            <i data-feather="bar-chart" class="absolute"></i>
		        {% trans 'Statistics' %}
	        </a>
			{% endif %}
			<div class="{% if current_menu_item == 'media' %}active{% elif current_menu_item == 'media_upload' %}active{% endif %}">
				<a href="{% url 'media' region_slug=region.slug %}" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat">
					<i data-feather='file' class="absolute"></i>
					{% trans 'Media Library' %}
				</a>
				<div class="dropdown-container flex-col">
					<a href="{% url 'media' region_slug=region.slug %}" class="{% if current_menu_item == 'media' %}active{% endif %}">
						{% trans 'All media files' %}
					</a>
					<a href="{% url 'new_upload_file' document_id='0' region_slug=region.slug %}" class="{% if current_menu_item == 'media_upload' %}active{% endif %}">
						{% trans 'Upload new media file' %}
					</a>
				</div>
			</div>
			<div class="{% if current_menu_item == 'pages' %}active{% elif current_menu_item == 'new_page' %}active{% endif %}">
				<a href="{% url 'pages' region_slug=region.slug %}" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat">
					<i data-feather="layout" class="absolute"></i>
					{% trans 'Pages' %}
				</a>
				<div class="dropdown-container flex-col">
					<a href="{% url 'pages' region_slug=region.slug %}" class="{% if current_menu_item == 'pages' %}active{% endif %}">
						{% trans 'All pages' %}
					</a>
					{% if language %}
						<a href="{% url 'new_page' region_slug=region.slug language_code=language.code %}" class="{% if current_menu_item == 'new_page' and not page %}active{% endif %}">
							{% trans 'Create page' %}
						</a>
					{% endif %}
				</div>
			</div>
			<div class="{% if current_menu_item == 'events' %}active{% elif current_menu_item == 'events_form' %}active{% endif %}">
				<a href="{% url 'events' region_slug=region.slug %}" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat">
					<i data-feather="calendar" class="absolute"></i>
					{% trans 'Events' %}
				</a>
				<div class="dropdown-container flex-col">
					<a href="{% url 'events' region_slug=region.slug %}" class="{% if current_menu_item == 'events' %}active{% endif %}">
						{% trans 'All events' %}
					</a>
					{% if language %}
					<a href="{% url 'new_event' region_slug=region.slug language_code=language.code %}" class="{% if current_menu_item == 'events_form' and not event_form.instance.id %}active{% endif %}">
						{% trans 'Create event' %}
					</a>
					{% endif %}
				</div>
			</div>
			<div class="{% if current_menu_item == 'pois' %}active{% elif current_menu_item == 'pois_form' %}active{% endif %}">
				<a href="{% url 'pois' region_slug=region.slug %}" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat">
					<i data-feather="map-pin" class="absolute"></i>
					{% trans 'Locations on map' %}
				</a>
				<div class="dropdown-container flex-col">
					<a href="{% url 'pois' region_slug=region.slug %}" class="{% if current_menu_item == 'pois' %}active{% endif %}">
						{% trans 'All locations' %}
					</a>
					{% if language %}
					<a href="{% url 'new_poi' region_slug=region.slug language_code=language.code %}" class="{% if current_menu_item == 'pois_form' and not poi_form.instance.id %}active{% endif %}">
						{% trans 'Create location' %}
					</a>
					{% endif %}
				</div>
			</div>
			<div class="{% if current_menu_item == 'region_users' %}active{% elif current_menu_item == 'region_users_form' %}active{% endif %}">
				<a href="{% url 'region_users' region_slug=region.slug %}" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat">
					<i data-feather="users" class="absolute"></i>
					{% trans 'Users' %}
				</a>
				<div class="dropdown-container flex-col">
					<a href="{% url 'pois' region_slug=region.slug %}" class="{% if current_menu_item == 'region_users' %}active{% endif %}">
						{% trans 'All users' %}
					</a>
					<a href="{% url 'new_region_user' region_slug=region.slug %}" class="{% if current_menu_item == 'region_users_form' and not user_form.instance.id %}active{% endif %}">
						{% trans 'Create user' %}
					</a>
				</div>
			</div>
	        <a href="" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat {% if current_menu_item == 'region_feedback' %}active{% endif %}">
	            <i data-feather="thumbs-up" class="absolute"></i>
		        {% trans 'Feedback' %}
			</a>
			<div class="{% if current_menu_item == 'push_notifications' %}active{% elif current_menu_item == 'push_notifications_form' %}active{% endif %}">
				<a href="{% url 'push_notifications' region_slug=region.slug %}" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat">
					<i data-feather="send" class="absolute"></i>
					{% trans 'Push Notifications' %}
				</a>
				<div class="dropdown-container flex-col">
					<a href="{% url 'push_notifications' region_slug=region.slug %}" class="{% if current_menu_item == 'push_notifications' %}active{% endif %}">
						{% trans 'All push notifications' %}
					</a>
					{% if language %}
					<a href="{% url 'new_push_notification' region_slug=region.slug language_code=language.code %}" class="{% if current_menu_item == 'push_notifications_form' and not push_notification %}active{% endif %}">
						{% trans 'Create push notification' %}
					</a>
					{% endif %}
				</div>
			</div>
	        <a href="" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat {% if current_menu_item == 'pdf_export' %}active{% endif %}">
	            <i data-feather="layers" class="absolute"></i>
		        {% trans 'PDF Export' %}
	        </a>
		    <a href="{% url 'offers' region_slug=region.slug %}" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat {% if current_menu_item == 'offers' %}active{% endif %}">
			    <i data-feather="star" class="absolute"></i>
			    {% trans 'Offers' %}
		    </a>
	        <a href="" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat {% if current_menu_item == 'imprint' %}active{% endif %}">
	            <i data-feather="file-text" class="absolute"></i>
		        {% trans 'Imprint' %}
			</a>
			<div class="{% if current_menu_item == 'language_tree' %}active{% elif current_menu_item == 'language_tree_form' %}active{% endif %}">
				<a href="{% url 'language_tree' region_slug=region.slug %}" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat">
					<i data-feather="flag" class="absolute"></i>
					{% trans 'Language tree' %}
				</a>
				<div class="dropdown-container flex-col">
					<a href="{% url 'language_tree' region_slug=region.slug %}" class="{% if current_menu_item == 'language_tree' %}active{% endif %}">
						{% trans 'All language tree nodes' %}
					</a>
					<a href="{% url 'new_language_tree_node' region_slug=region.slug %}" class="{% if current_menu_item == 'language_tree_form' and not language_tree_node_form.instance.id %}active{% endif %}">
						{% trans 'Create language tree node' %}
					</a>
				</div>
			</div>
	        <a href="{% url 'settings' region_slug=region.slug %}" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat {% if current_menu_item == 'region_settings' %}active{% endif %}">
	            <i data-feather="sliders" class="absolute"></i>
		        {% trans 'Settings' %}
	        </a>
		{% else %}
		    <a href="{% url 'admin_dashboard' %}" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat {% if current_menu_item == 'admin_dashboard' %}active{% endif %}">
			    <i data-feather="grid" class="absolute"></i>
			    {% trans 'Admin Dashboard' %}
			</a>
		    <a href="{% url 'regions' %}" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat {% if current_menu_item == 'regions' %}active{% endif %}">
			    <i data-feather="map" class="absolute"></i>
			    {% trans 'Regions' %}
			</a>		
		    <a href="{% url 'languages' %}" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat {% if current_menu_item == 'languages' %}active{% endif %}">
			    <i data-feather="flag" class="absolute"></i>
			    {% trans 'Languages' %}
			</a>
			<a href="{% url 'users' %}" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat {% if current_menu_item == 'users' %}active{% endif %}">
				<i data-feather="users" class="absolute"></i>
				{% trans 'Users' %}
			</a>
			<a href="{% url 'roles' %}" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat {% if current_menu_item == 'roles' %}active{% endif %}">
				<i data-feather="key" class="absolute"></i>
				{% trans 'Roles' %}
			</a>
		    <a href="{% url 'organizations' %}" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat {% if current_menu_item == 'organizations' %}active{% endif %}">
			    <i data-feather="umbrella" class="absolute"></i>
			    {% trans 'Organizations' %}
			</a>
		    <a href="{% url 'offer_templates' %}" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat {% if current_menu_item == 'offer_templates' %}active{% endif %}">
			    <i data-feather="star" class="absolute"></i>
			    {% trans 'Offer templates' %}
			</a>
		    <a href="" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat {% if current_menu_item == 'admin_feedback' %}active{% endif %}">
			    <i data-feather="thumbs-up" class="absolute"></i>
			    {% trans 'Feedback' %}
		    </a>
		    <a href="{% url 'admin_settings' %}" class="relative block text-gray-300 hover:text-gray-600 hover:bg-integreat {% if current_menu_item == 'admin_settings' %}active{% endif %}">
			    <i data-feather="sliders" class="absolute"></i>
			    {% trans 'Settings' %}
		    </a>
        {% endif %}
    </div>
</nav>
<input type="text" class="hidden" id="copy_to_clipboard">
<main class="relative">
    <div class="p-6">
        {% include "messages.html" %}   
        {% block content %}{% endblock content %}
    </div>
</main>
{% endblock %}
