{% autoescape off %}

Sie erhalten diese E-Mail, weil Sie einen Passwort Reset f&uuml;r Ihr Integreat-Benutzerkonto angefordert haben.

Bitte nutzen Sie den folgenden Link, um ein neues Passwort festzulegen:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Wenn das Anklicken des obigen Links nicht funktioniert, kopieren Sie bitte die URL und f&uuml;gen Sie sie in die Adresszeile Ihres Browsers ein.

Ihr aktueller Benutzername lautet: {{ user.get_username }}
{% endautoescape %}