{% load i18n %}
{% load static %}
{% load widget_tweaks %}

<div class="rounded border border-solid border-gray-200 shadow bg-white mb-3">
    <div class="collapsible cursor-pointer rounded p-4 bg-blue-500 text-white font-bold flex justify-between">
        <span>{% block dashboard_widget_title %}{% endblock %}</span>
        <i data-feather="chevron-up" class="up-arrow"></i>
        <i data-feather="chevron-down" class="down-arrow hidden"></i>
    </div>
    <div class="collapsible-content transition-all duration-200 ease-in-out max-h-160 overflow-y-auto">
        <div class="p-4">
            {% block dashboard_widget_content %}{% endblock %}
        </div>
    </div>
</div>
