
{% load widget_tweaks %}
<tr class="border-t border-solid border-gray-200 hover:bg-gray-100">
	<td>
        <div class="block py-3 px-2 text-gray-800">
            {{ cms.name }}
        </div>
	</td>
	<td>
        <div class="block py-3 px-2 text-gray-800">
            {{ cms.domain }}
        </div>
	</td>
	<td class="pl-2">
		{% if cms.active %}
            <div class="flex flex-wrap">
		        <i data-feather="check"></i>
                <a href="{% url 'deactivate' cms_id=cms.id %}" class="inline-block px-3 rounded-sm bg-blue-500 text-white" style="padding-top: 7px; padding-bottom: 7px;">
                    Deactivate
                </a>
            </div>
		{% else %}
            <div class="flex flex-wrap">
                <i data-feather="x"></i>
                <a href="{% url 'activate' cms_id=cms.id %}" class="inline-block px-3 rounded-sm bg-blue-500 text-white" style="padding-top: 7px; padding-bottom: 7px;">
                    Activate
                </a>
            </div>
		{% endif %}
	</td>
    <td class="pl-2">
		{% if cms.last_contact_attempt_successful %}
            <i data-feather="check"></i>
		{% else %}
            <div class="flex flex-wrap">
                <i data-feather="x"></i>
                <a href="{% url 'check_availability' cms_id=cms.id %}" class="inline-block px-3 rounded-sm bg-blue-500 text-white" style="padding-top: 7px; padding-bottom: 7px;">
                    Check availability manually
                </a>
            </div>
		{% endif %}
	</td>
</tr>