{% extends "_base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
<div class="table-header">
    <div class="flex flex-wrap">
        <div class="w-1/3 flex flex-wrap">
            <h2>
            {% trans 'Manage Federation'%}
            </h2>
        </div>
    </div>
</div>
<label class="block px-2 py-1 mb-2 text-s">{% blocktrans %}The federation name of this cms is "{{ name }}", its federation id is "{{ id }}".{% endblocktrans %}</label>
<div class="table-listing">
    <table class="w-full mt-4 rounded border border-solid border-gray-200 shadow bg-white">
        <thead>
            <tr class="border-b border-solid border-gray-200">
                <th class="text-sm text-left uppercase py-3 pl-4 pr-2">{% trans 'Id' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2">{% trans 'Name' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2">{% trans 'Domain' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2">{% trans 'Verified' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2">{% trans 'Active' %}</th>
                <th class="text-sm text-left uppercase py-3 px-2">{% trans 'Recently Contacted' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for cms in cms_caches %}
            {% include "list_row.html" %}
        {% empty %}
            <tr>
	            <td colspan="6" class="px-2 py-3">
		            {% trans 'No cms available yet.' %}
	            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}