{% extends "_base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
    <div class="w-full max-w-full">
        <div class="header">
            <div class="flex flex-wrap">
                <div class="w-1/4">
                    <h2 class="heading font-normal mb-2">{% trans 'Create directory' %}</h2>
                </div>
            </div>
        </div>
        <form id="upload_form" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" enctype="multipart/form-data" action="{% url 'create_directory' region_slug=region.slug directory_id=directory_id %}">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="flex items-center justify-start mt-6">
                <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
	                {% trans 'Submit' %}
                </button>
                <a href="{% url 'media' region_slug=region.slug directory_id=directory_id %}" class="ml-1 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    {% trans 'Return' %}
                </a>
            </div>
        </form>
    </div>
{% endblock %}