{% load i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
{# djlint:off H016,H030,H031 #}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <style>
        #content {
            font-family:sans-serif;
            text-align:justify;
            background-color: #f1f5f9;
            padding: 1rem;
            border-radius: 1rem;
            line-height:1.5;
        }
        a {
            color: #0074CC;
        }
        a:hover {
            color: #1F9EFF;
        }
        #logo {
            padding-top: 1rem;
        }
        </style>
    </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock content %}
            <br />
            <br />
            {% translate "Best regards" %},
            <br />
            {% blocktrans trimmed %}
        Your {{ BRANDING }} team of {{ COMPANY }}
        {% endblocktrans %}
            <br />
            <div id="logo">
                <a href="{{ base_url }}">
                    <img src="cid:logo" alt="" height="75px"/>
                </a>
            </div>
        </div>
    </body>
</html>
{# djlint:on #}
